.homeStepTitles {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.homeStepTitle {
  color: #000000;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  letter-spacing: 1.29px;
  line-height: 21px;
  font-weight: normal;
  margin: 0;
}

.homeStepSubtitle {
  color: #000000;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 16px;
  font-weight: normal;
  margin: 0;
}

.homeStepContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homeStepAction {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
