.images-scroll {
  overflow-x: scroll;
  overflow-y: hidden;

  white-space: nowrap;

  background-color: transparent;
  margin-top: 30px;
}

.images-scroll .item {
  display: inline-block;

  width: 250px;
  margin-right: 30px;
  margin-bottom: 10px;
  vertical-align: top;

  border-radius: 10px;
}
