{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ site.name }} {% trans "Challenge Entry" %}</title>
</head>

<body>
<table style="font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif; padding: 0; margin: 0; background-color: #fff; color: #222; font-size: 16px;"
       bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
        <td align="center" valign="top">
            <table style="padding: 20px 0 30px; border-bottom: 1px solid #e8e8e8" cellpadding="0" cellspacing="0"
                   width="100%">
                <tbody>
                <tr>
                    <td style="text-align:center;" align="left" width="238px">
                        <a target="_blank" href="https://www.jamessmithacademy.com/">
                            <img src="https://s3-us-west-1.amazonaws.com/thejsacademy/icon.png"
                                 alt="Click 'display images' to see the awesome!" width="100px">
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <table cellpadding="0" cellspacing="0" width="600px">
                <tbody>
                <tr>
                    <td style="padding-top: 50px; font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;"
                        align="center">
                        <table cellpadding="0" cellspacing="0" width="582px">
                            <tbody>
                            <tr>
                                <td style="padding-bottom: 35px; font-size: 16px; color: #777;" valign="top">
                                    <h1 style="color: #222; font-size: 30px; font-weight: normal;">Challenge Entry</h1>
                                    <div style="line-height: 25px; font-size: 16px; color: #777; padding: 0; margin: 0; padding-bottom: 5px;">

                                        <p style="font-family: 'Cabin', sans-serif; font-weight:300;  color:#5f6368; margin-bottom: 15px;">
                                            Hi {% if user.first_name %}{{ user.first_name }}{% else %}
                                            {{ user.username }}{% endif %},
                                        </p>

                                        <p style="font-family: 'Cabin', sans-serif; font-weight:300;  color:#5f6368; margin-bottom: 15px;">
                                            You have probably just made one of the best decisions of your life. If you win, you receive an all expenses paid for holiday and will have reached your fitness goal.
                                        </p>

                                        <h3 style="font-family: 'Cabin', sans-serif;  color: #222;">What you need to
                                            do</h3>

                                        <ol>
                                            <li style="font-family: 'Cabin', sans-serif; font-weight:300;  color:#5f6368; margin-bottom: 15px;">
                                                Enter an image (minimum) per week into your <strong>Challenge Data
                                                Images</strong>. This is found by heading to your challenge tab,
                                                clicking on the most current challenge and then clicking images.
                                            </li>
                                            <li style="font-family: 'Cabin', sans-serif; font-weight:300;  color:#5f6368; margin-bottom: 15px;">
                                                Enter your weekly measurement to your <strong>Challenge Data
                                                Chart</strong>. This is found by heading to your challenge tab, clicking
                                                on the most current challenge and then clicking chart.
                                            </li>
                                            <li style="font-family: 'Cabin', sans-serif; font-weight:300;  color:#5f6368; margin-bottom: 15px;">
                                                Make sure you join the <a href="https://www.facebook.com/groups/193449874723532/"><u>JSA Facebook group</u></a>. Don't underestimate the power of
                                                community and support when doing something like this. Get involved.
                                            </li>
                                            <li style="font-family: 'Cabin', sans-serif; font-weight:300;  color:#5f6368; margin-bottom: 15px;">
                                                Make sure you have entered 12 images and 12 measurements by the end of
                                                the challenge. We suggest an image and measurement per week, with the
                                                first image/measurement being entered on the 17th January 2019.
                                            </li>
                                        </ol>

                                        <h3 style="font-family: 'Cabin', sans-serif;  color: #222;">Start and end
                                            dates</h3>
                                        <p style="font-family: 'Cabin', sans-serif; font-weight:300;  color:#5f6368; margin-bottom: 15px;">
                                            <strong>Starts:</strong> 17th January 2019
                                        </p>
                                        <p style="font-family: 'Cabin', sans-serif; font-weight:300;  color:#5f6368; margin-bottom: 15px;">
                                            <strong>Ends:</strong> 11th April, 2019 (you will have until the 17th to submit your final images and measurements)
                                        </p>

                                        <h3 style="font-family: 'Cabin', sans-serif;  color: #222;">Still have
                                            questions?</h3>
                                        <p style="font-family: 'Cabin', sans-serif; font-weight:300;  color:#5f6368; margin-bottom: 15px;">
                                            If you have anymore questions about the challenge, please ask them through
                                            the <a href="https://www.jamessmithacademy.com/users/#/trainer-support"><u>trainer chat</u></a> on the website. This is an automated email so we may not
                                            see your response.
                                        </p>


                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <table style="background-color: #f1f1f1; font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;"
                   bgcolor="#f1f1f1" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                <tr>
                    <td style="padding-bottom: 45px;" align="left">
                        <table align="center" cellpadding="0" cellspacing="0" width="582px">
                            <tbody>
                            <tr>
                                <td rowspan="3" style="padding-left: 0px; padding-top: 45px;" valign="top">
                                    <img src="https://s3-us-west-1.amazonaws.com/thejsacademy/James%20Marketing_Round.png"
                                         height="75">
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 14px; color: #777; padding-left: 25px; padding-top: 60px;"
                                    valign="top">Thanks again, <br/> James
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <table cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td style="background-color:#5e59ab;height:50px;width:100%;" align="center"></td>
                            </tr>
                            </tbody>
                        </table>
                        <table style="padding-top: 0; margin-top: 0; background-color: #2a3742;" cellpadding="0"
                               cellspacing="0" height="250px" width="100%">
                            <tbody>
                            <tr>
                                <td align="center" valign="top">
                                    <table style="padding-top: 45px; color: #838283; font-family: Arial, Sans-Serif; font-size: 13px;"
                                           width="605px">
                                        <tbody>
                                        <tr>
                                            <td style="font-family: Arial, Sans-Serif; font-size: 14px; font-weight: bold;line-height:14px;"
                                                valign="top" align="center">
                                                <span style="color: #fff;">Follow me</span>
                                                <br>
                                                <br>
                                                <a href="https://www.facebook.com/JamesSmithPT/">
                                                    <img src="http://assets.getvero.com/emails/templates/welcome/fb.png"
                                                         alt="Facebook" height="27px" width="26px">
                                                </a> 
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>

</html>


