{% extends "admin/base.html" %}

{% block title %}JSA{% endblock %}

{% block branding %}
	<h1 id="site-name"><a href="{% url 'admin:index' %}">JSA</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
