.homeStepCompleteMessageContainer {
  background-color: #ffffff;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 51px;
}

.homeStepCompleteMessage {
  color: #212528;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 23px;
  max-width: 310px;
}

.homeStepCompleteMessageIcon {
  margin-bottom: 5px;
  font-size: 64px;
}

.homeStepCompleteMessageTitle {
  color: #212528;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  margin-bottom: 10px;
}

.homeStepCompleteMessageUpgrade,
.homeStepCompleteMessageUpgrade:hover,
.homeStepCompleteMessageUpgrade:active {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 283px;
  border: 1px solid #00c2a2;
  border-radius: 26px;
  color: #00c2a2;
  font-family: Roboto, sans-serif;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.27px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.homeStepCompleteMessageNext,
.homeStepCompleteMessageNext:hover,
.homeStepCompleteMessageNext:active {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 283px;
  border-radius: 26px;
  background-color: #00c2a2;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.27px;
  line-height: 20px;
  text-align: center;
}
