.scrollmenu .template {
  display: inline-block;

  width: 250px;
  margin-right: 30px;
  vertical-align: top;

  border: solid 1px #edf2f9;
  border-radius: 10px;
}

.scrollmenu .template .item-body {
  display: flex;

  height: 100%;

  text-align: center;

  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.scrollmenu .template .item-body .image {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
