{% extends 'base.html' %}
{% block pagetitle %} <title>JSA | Contact Us</title> {% endblock pagetitle %}

{% block headscript %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock headscript %}

{% block content %}

    {% include "main/nav.html" %}

    <div class="site-headings">
        <div class="container">
            <div class="row">
                <div class="col d-flex flex-column justify-content-center">
                    <h4>Contact Us</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-us-wrapper d-flex flex-column justify-content-center">
        <div class="container">
            <div class="content-container max-width-500">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <div class="alert alert-danger alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{ message }}
                            </div>
                        {% endif %}

                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <div class="alert alert-success alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <h6>Common Questions</h6>
                <ul>
                    <li>Questions about the challenge?? Please read <a
                            href="https://www.jamessmithacademy.com/blog/view/bali-part-two-challenge.html"><u>here</u></a>
                        first.
                    </li>
                    <li>For fitness & coaching questions, please use the in-site messaging system.</li>
                    <li>To cancel your subscription, head to your account area and press cancel.</li>
                    <li>To buy a gift for another member or a friend, please use the gift section in your account
                        area.
                    </li>
                    <li>If your card is expired, you can update it in your account area.</li>
                    <li>For more frequently asked questions, visit our <a href="/users/#/frequently-asked-questions"><u>F.A.Qs</u></a>.
                    </li>
                </ul>
                <button class="btn btn-rounded btn-block btn-primary" type="button" data-toggle="collapse"
                        data-target="#askQuestion" aria-expanded="false" aria-controls="askQuestion">
                    Still have a question?
                </button>
                <div class="collapse" id="askQuestion">
                    <form action="/emails/contact-us/" method="post" style="margin-top:1rem;">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <select class="custom-select form-control-single-border" name="subject">
                                <option value="My account">My account</option>
                                <option value="General question">General question</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email">Name</label>
                            <input class="form-control form-control-single-border" type="text" name="name"
                                   placeholder="Name" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <label for="email form-control-single-border">Email address</label>
                            <input class="form-control form-control-single-border" type="email" name="email"
                                   placeholder="Email address" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea style="min-height: 150px;" class="form-control form-control-single-border"
                                      name="message" id="" placeholder="Type your message..." autocomplete="off"
                                      required></textarea>
                        </div>
                        <div class="form-group">
                            <div class="g-recaptcha" data-sitekey="6LcyxFsUAAAAAFMoHh74jXsN4QyT8gFUli6AfAVn"></div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-rounded enter-button-centered">Submit
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    {% include "main/relative_footer.html" %}

{% endblock content %} 

