{% extends "base.html" %}
{% block pagetitle %} <title>JSA | Famous Daily Email</title> {% endblock pagetitle %}
{% block content %}

<nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/" hreflang="en-us">
            <img src="https://d3qqgqjfawam42.cloudfront.net/JSA64x64-purple.svg" alt="The Academy">
        </a>
        <button style="outline:none;" id="navMenu" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fal fa-lg fa-bars dark-purp"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/emails/daily-email/" hreflang="en-us">Daily Email</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/transformations/" hreflang="en-us">Transformations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:index' %}" hreflang="en-us">
              Blog
            </a>
          </li>
        </ul>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a  class="nav-link" href="{% url 'users:home' %}" hreflang="en-us">{{user.username}} &nbsp; <i class="far fa-sign-in"></i></a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:login' %}" hreflang="en-us"><strong>Login</strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/register/"><strong>Join Now</strong></a>
              </li>
            {% endif %}
        </ul>
      </div>
    </div>
</nav>

<div>
	<div class="site-headings">
		<div class="container">
			<div class="row">
			  	<div class="col d-flex flex-column justify-content-center">
					<h4>James Smith's Famous Daily Emails</h4>
				</div>
			</div>
		</div>
	</div> 
	<div class="scroll-view" style="margin-top:2rem;">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<img src="https://d3qqgqjfawam42.cloudfront.net/584f70b1-b810-41d1-81c5-412c04f618b4.jpg" alt="James Smith's Famous Daily Emails" style="border-radius:8px;" class="img-fluid">
					<p class="text-center" style="margin-top:1rem; margin-bottom:1rem;">
						I may have promised you nudes but instead sign up below and I'll give you a giggle a day via email to cheer you up at work, at home or killing time on the toilet.
					</p>
				</div>	
				<div class="col-lg-8">
					<div class="content-container" style="margin-top:0px;">
						<form method="post" id="submit-form">
							{% csrf_token %}
							<label for="name">First name</label>
							<div class="form-group">
								<input class="form-control form-control-single-border" type="text" name="name" id="name" required>
							</div>
							<label for="email">Email</label>
							<div class="form-group">
								<input class="form-control form-control-single-border" type="email" name="email" id="email" required>
							</div>
							<div class="form-group text-center">
								<button class="btn btn-primary btn-rounded enter-button-centered" type="submit"><span id="status">Sign Up!</span></button>
							</div>
						</form>
						<div id="message" style="display:none;">
							<div class="alert alert-info alert-dismissable">
				                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				                <strong><div id="message-value"></div></strong>
				            </div>
				            <a href="/users/register/">
			                    <button class="btn btn-primary btn-block btn-rounded enter-button-centered">Start Free Trial</button>
			                </a>
			        	</div>
			        </div>
				</div>
			</div>
			
			
		</div>
	</div>
</div>

{% include "main/relative_footer.html" %} 
{% endblock %}

{% block js %}
	
	<script type="text/javascript">
		$( document ).ready(function() {
			$( "#submit-form" ).submit(function( event ) {
				$('#status').html('Please wait...');
			  event.preventDefault();
			  $.ajax({
		        type: "POST",
		        url: 'https://www.jamessmithacademy.com/emails/daily-email/',
		        data: {
		          name:$('#name').val(),
		          email:$('#email').val(),
		          csrfmiddlewaretoken:"{{ csrf_token }}"
		      }
		    }).done(function(data) {
		    	$('#message-value').html(data);
		        $('#message').show();
		        $('#status').html('Successfully Signed Up!');
		        document.getElementById("submit-form").reset();
		    }).fail(function(error) {
		    	$('#message-value').html(error);
		        $('#message').show();
		        $('#status').html('Successfully Signed Up!');
		        document.getElementById("submit-form").reset();
		    });
			});
		});
	</script>

{% endblock js %}