{% extends 'base.html' %}

{% block pagetitle %} <title>JSA | Gift Coupon</title> {% endblock pagetitle %}

{% block content %}
	<nav class="navbar navbar-expand-sm navbar-light">
		<div class="container">
			<a class="navbar-brand" href="/">
		  		<img src="https://d3qqgqjfawam42.cloudfront.net/JSA64x64-purple.svg" />
			</a>
			<button style="outline:none;" id="navMenu" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
	        	<i class="fal fa-lg dark-purp fa-bars"></i>
	      	</button>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/users/#/">
							{% if member_account.status == 'active' or member_account.status == 'trialing' %}
							  {% if member_account.membership_name == 'JSA Core' %}
							  	Videos
							  {% else %}
							  	Home
							  {% endif %}
							{% else %}
							 	Home
							{% endif %}
						</a>
					</li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'users:account' %}">Account</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'users:membership_options' %}">Pricing</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="site-headings">
		<div class="container">
			<div class="row">
			  	<div class="col d-flex flex-column justify-content-center">
					<h4>Send Gift Coupon</h4>
				</div>
			</div>
		</div>
	</div>

	<div class="membership-wrapper">

		<div class="container" id="membership-container">
			
			<div class="row">

				<div class="col-lg-6">

					<div style="margin-top:30px;">
						{% if messages %}
						{% for message in messages %} {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
						<div class="alert alert-danger alert-dismissable">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							{{message}}
						</div>
						{% endif %} {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

						<div class="alert alert-success alert-dismissable">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							{{message}}
						</div>
						{% endif %} {% endfor %} {% endif %}

						<form method="POST" action="/emails/gift-coupon/">
							{% csrf_token %}
							<div class="form-group">
							    <label for="couponValue">Coupon</label>
                                {% if gift_coupons %}
                                    <select name="couponId" id="couponId" class="custom-select">
                                        {% for coupon in gift_coupons %}
                                            <option value={{ coupon.pk }}>{{ coupon.coupon_value }}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
						  	</div>
						  	<div class="form-group">
							    <label for="recipientEmail">Recipient email</label>
							    <input type="email" class="form-control" name="recipientEmail" id="recipientEmail" placeholder="Recipient email" required>
						  	</div>
						  	<div class="form-group">
							    <label for="recipientMessage">Brief message (100 character limit)</label>
							    <textarea maxlength="100" name="recipientMessage" id="recipientMessage" class="form-control" placeholder="Happy birthday Diren! Thought you could use this. - Love James" required></textarea>
						  	</div>
						  	<button type="submit" id="sendButton" class="btn btn-primary">Send &nbsp; <i class="fab fa-telegram-plane"></i></button>
						</form>
					</div>

				</div>

			</div>

		</div>

	</div>
		
	{% include "main/relative_footer.html" %}

{% endblock content %} 


{% block js_two %}

	<script>
		if(window.innerWidth <= 599 ){
		    $( "#membership-container" ).removeClass( "container" );
		    $( "#membership-container" ).addClass( "container-fluid" )
		}
	</script>

{% endblock js_two %}
