{% extends "base.html" %}
{% block pagetitle %} <title>JSA | Waiting List</title> {% endblock pagetitle %}
{% block content %}
    <div class="scroll-view" style="margin-top:2rem;">
        <div class="h-100 d-flex flex-column justify-content-center">
            <div class="container mb-5">
                <div class="row">
                    <div class="col text-center">
                        <a href="/"><img src="https://d3qqgqjfawam42.cloudfront.net/JSA64x64-purple.svg" height="100"
                                         alt="The Academy"></a>
                    </div>
                </div>
            </div>
            <div class="container-fluid mb-5">
                <div class="row">
                    <div class="col">
                        <h1 class="display-4 text-center">Register Your Interest</h1>
                        <h5 class="text-center">We’ll get in touch the second we have more positions available.</h5>
                    </div>
                </div>
            </div>
            <div class="container mb-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <div class="alert alert-danger alert-dismissable">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        {{ message }}
                                    </div>
                                {% endif %}

                                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                    <div class="alert alert-success alert-dismissable">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <form method="post" action="/emails/waiting-list/"
                              style="box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 6px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2); border-radius: 8px;">
                            {% csrf_token %}
                            <div class="input-group">
                                <input style="border-color: transparent;" type="text" autocomplete="off"
                                       class="form-control" type="email" name="email" placeholder="Enter email address"
                                       aria-label="Example text with button addon" aria-describedby="button-addon1"
                                       required>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit" id="button-addon1">Enter</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "main/relative_footer.html" %}
{% endblock %}

{% block js %}



{% endblock js %}