<!doctype html>
<html lang="en">
  	<head>
    	<style>
		    @page {
		        size: A4 portrait;
		        margin: 2cm;
		    }
		    body {
		    	font-family: Roboto, sans-serif;
		    }
		    th {
		    	text-align:center;
		    	padding-bottom:5px;
		    	padding-top:5px;
		    	padding-left:5px;
		    	padding-right:5px;
		    	background-color: #4a4090;
		    	color:white;
		    	font-weight: 400;
		    }
		    tr {
		    	text-align:center;
		    	border-bottom-color:#eef1f2;
		    	border-bottom-style:solid;
		    	border-bottom-width:1px;
		    	border-top-color:#eef1f2;
		    	border-top-style:solid;
		    	border-top-width:1px;
		    	border-left-color:#eef1f2;
		    	border-left-style:solid;
		    	border-left-width:1px;
		    	border-right-color:#eef1f2;
		    	border-right-style:solid;
		    	border-right-width:1px;
		    }
		    img {
		    	text-align:center;
		    }
		    h1 {
		    	text-align:center;
		    }
		    p {
		    	white-space:pre-wrap;
		    }

		</style>
  	</head>
  	<body>
    	<div>
    		<img src="https://d3qqgqjfawam42.cloudfront.net/icon.png" height="50"/>
    		<h1>
				{{day_name}} Training
			</h1>
			{% if training_day.notes %}
				<h6>Programme Notes:</h6>
				<p>
					{{training_day.notes}}
				</p>
			{% endif %}
			{% for exercise in training_exercises %}
				<h5>{{exercise.exercise.name}}</h5>
				<table>
				  <thead>
				    <tr>
				    	<th scope="col" style="width:33%">Weight</th>
				    	<th scope="col" style="width:33%">Reps</th>
				    	<th scope="col" style="width:33%">Rest</th>
				    </tr>
				  </thead>
				  <tbody>
				  	{% for set in exercise.sets %}
					    <tr>
					    	<td scope="row" style="width:33%; padding:5px; height: 30px;">{{set.weight}}</td>
					      	<td scope="row" style="width:33%; padding:5px; height: 30px;">{{set.reps}}</td>
					      	<td scope="row" style="width:33%; padding:5px; height: 30px;">{{set.rest}}</td>
					    </tr>
				    {% endfor %}
				  </tbody>
				</table>
				<br/>
			{% endfor %}
		</div>
  	</body>
</html>



