{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ site.name }} {% trans "Exercise Notification" %}</title>
</head>

<body>
<table style="font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif; padding: 0; margin: 0; background-color: #fff; color: #222; font-size: 16px;"
       bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
        <td align="center" valign="top">
            <table style="padding: 20px 0 30px; border-bottom: 1px solid #e8e8e8" cellpadding="0" cellspacing="0"
                   width="100%">
                <tbody>
                <tr>
                    <td style="text-align:center;" align="left" width="238px">
                        <a target="_blank" href="https://www.jamessmithacademy.com/">
                            <img src="https://s3-us-west-1.amazonaws.com/thejsacademy/icon.png"
                                 alt="Click 'display images' to see the awesome!" width="75">
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <table cellpadding="0" cellspacing="0" width="600px">
                <tbody>
                <tr>
                    <td style="padding-top: 50px; font-family: Verdana,Geneva,sans-serif;"
                        align="center">
                        <table cellpadding="0" cellspacing="0" width="582px">
                            <tbody>
                            <tr>
                                <td style="padding-bottom: 35px; font-size: 16px; color: black;" valign="top">
                                    <h1 style="margin-bottom: 20px; font-size: 22px;">Exercise Program
                                        Update</h1>
                                    <div style="line-height: 25px; font-size: 16px; padding: 0; margin: 0; padding-bottom: 5px;">

                                        <p>
                                            Just a friendly reminder that your trainer has either left you a <strong>message
                                            on your program messages</strong> or <strong>updated your exercise
                                            program</strong>.
                                        </p>

                                        <p>
                                            Please always check the program messages when receiving a new program.
                                        </p>

                                        <p>
                                            ** If you have any questions or would like changes to the program, please
                                            contact us through the <strong>designated program messages</strong>, not in
                                            the general support chat, thanks! **
                                        </p>

                                        <p>Please access your program <a style="color:#7462E5; text-decoration: none;"
                                                                         href="{{ link }}"><u>here</u></a>.</p>

                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <table style="background-color: #f1f1f1; font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;"
                   bgcolor="#f1f1f1" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                <tr>
                    <td style="padding-bottom: 45px;" align="left">
                        <table align="center" cellpadding="0" cellspacing="0" width="582px">
                            <tbody>
                            <tr>
                                <td rowspan="3" style="padding-left: 0px; padding-top: 45px;" valign="top">
                                    <img src="https://s3-us-west-1.amazonaws.com/thejsacademy/James%20Marketing_Round.png"
                                         height="75">
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 14px; color: #777; padding-left: 25px; padding-top: 60px;"
                                    valign="top">Thanks again, <br/> JSA Team
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <table cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td style="background-color:#5e59ab;height:50px;width:100%;" align="center"></td>
                            </tr>
                            </tbody>
                        </table>
                        <table style="padding-top: 0; margin-top: 0; background-color: #2a3742;" cellpadding="0"
                               cellspacing="0" height="250px" width="100%">
                            <tbody>
                            <tr>
                                <td align="center" valign="top">
                                    <table style="padding-top: 45px; color: #838283; font-family: Arial, Sans-Serif; font-size: 13px;"
                                           width="605px">
                                        <tbody>
                                        <tr>
                                            <td style="font-family: Arial, Sans-Serif; font-size: 14px; font-weight: bold;line-height:14px;"
                                                valign="top" align="center">
                                                <span style="color: #fff;">Follow James</span>
                                                <br>
                                                <br>
                                                <a href="https://www.facebook.com/JamesSmithPT/">
                                                    <img src="http://assets.getvero.com/emails/templates/welcome/fb.png"
                                                         alt="Facebook" height="27px" width="26px">
                                                </a> 
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>

</html>



