{% extends 'base.html' %}
{% block pagetitle %} <title>JSA | Blog</title> {% endblock pagetitle %}
{% load cache %}
{% block content %}
    {% cache 86400 blog_index %}
        <nav class="navbar navbar-expand-md navbar-light">
            <div class="container">
                <a class="navbar-brand" href="/" hreflang="en-us">
                    <img src="https://d3qqgqjfawam42.cloudfront.net/JSA64x64-purple.svg" alt="The Academy">
                </a>
                <button style="outline:none;" id="navMenu" class="navbar-toggler navbar-toggler-right" type="button"
                        data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fal fa-lg fa-bars dark-purp"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/emails/daily-email/" hreflang="en-us">Daily Email</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/transformations/" hreflang="en-us">Transformations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'blog:index' %}" hreflang="en-us">
                                Blog
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'users:home' %}" hreflang="en-us">{{ user.username }}
                                    &nbsp; <i class="far fa-sign-in"></i></a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'users:login' %}"
                                   hreflang="en-us"><strong>Login</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/users/register/"><strong>Join Now</strong></a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="site-headings">
            <div class="container">
                <div class="row">
                    <div class="col d-flex flex-column justify-content-center">
                        <h4>JSA Blog</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-wrapper">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Blog</li>
                </ol>
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                           aria-controls="pills-home" aria-expanded="true">Recent posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                           aria-controls="pills-profile" aria-expanded="true">Categories</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                         aria-labelledby="pills-home-tab">
                        {% if posts %}
                            <div class="card-columns">
                                {% for post in posts %}
                                    <div class="card">
                                        <a href="{{ post.get_absolute_url }}">
                                            <img class="card-img-top" src="{{ post.photo.cdn_url }}-/autorotate/yes/"
                                                 alt="Card image cap">
                                            <div class="card-body text-center">
                                                <p class="m-0"><strong>{{ post.title }}</strong></p>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <h4>There are no posts yet!</h4>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        {% if categories %}
                            <ul class="list-group list-group-flush list-wrapper">
                                {% for category in categories %}
                                    <li class="list-group-item">
                                        <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            </ul>
                        {% else %}
                            <h4>There are no posts yet!</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endcache %}
    {% include "main/relative_footer.html" %}
{% endblock %}