{% extends 'base.html' %}

{% block pagetitle %} <title>Blog</title> {% endblock pagetitle %}

{% block content %}
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/" hreflang="en-us">
                <img src="https://d3qqgqjfawam42.cloudfront.net/JSA64x64-purple.svg" alt="The Academy">
            </a>
            <button style="outline:none;" id="navMenu" class="navbar-toggler navbar-toggler-right" type="button"
                    data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="fal fa-lg fa-bars dark-purp"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/emails/daily-email/" hreflang="en-us">Daily Email</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/transformations/" hreflang="en-us">Transformations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'blog:index' %}" hreflang="en-us">
                            Blog
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:home' %}" hreflang="en-us">{{ user.username }}
                                &nbsp; <i class="far fa-sign-in"></i></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:login' %}"
                               hreflang="en-us"><strong>Login</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/register/"><strong>Join Now</strong></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="site-headings">
        <div class="container">
            <div class="row">
                <div class="col d-flex flex-column justify-content-center">
                    <h4>JSA Blog</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-wrapper">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'blog:index' %}">Blog</a></li>
                <li class="breadcrumb-item active">{{ category }}</li>
            </ol>
            {% if posts %}
                <div class="card-columns">
                    {% for post in posts %}
                        <div class="card">
                            <a href="{{ post.get_absolute_url }}">
                                <img class="card-img-top" src="{{ post.photo.cdn_url }}-/autorotate/yes/"
                                     alt="Card image cap">
                                <div class="card-body text-center">
                                    <p class="m-0"><strong>{{ post.title }}</strong></p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>There are no posts.</p>
            {% endif %}
        </div>
    </div>
    {% include "main/relative_footer.html" %}
{% endblock %}