<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="{{ post.title }}">
    <meta name="robots" content="index,follow">
    <meta name="description" content="{{ post.category }} / {{ post.title }}"/>
    <meta name="google-site-verification" content="8JfoPBwrjPTf33aDEGuKSU6x3kgIC8Acdr_So6Do64k"/>

    <meta property="og:url" content="https://www.jamessmithacademy.com{{ post.get_absolute_url }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ post.title }}"/>
    <meta property="og:description" content="{{ post.category }} | {{ post.title }}"/>
    <meta property="og:image" content="{{ post.photo }}"/>

    <meta name="twitter:title" content="{{ post.title }}">
    <meta name="twitter:description" content="{{ post.category }} | {{ post.title }}">
    <meta name="twitter:image" content="{{ post.photo }}">
    <meta name="twitter:card" content="{{ post.photo }}">

    <link rel="stylesheet" href="https://d3qqgqjfawam42.cloudfront.net/fontawesome/css/fontawesome-all.min.css">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="/main/css/main.min.css">

</head>
<body>
<nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/" hreflang="en-us">
            <img src="https://d3qqgqjfawam42.cloudfront.net/JSA64x64-purple.svg" alt="The Academy">
        </a>
        <button style="outline:none;" id="navMenu" class="navbar-toggler navbar-toggler-right" type="button"
                data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                aria-expanded="false" aria-label="Toggle navigation">
            <i class="fal fa-lg fa-bars dark-purp"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/emails/daily-email/" hreflang="en-us">Daily Email</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/transformations/" hreflang="en-us">Transformations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'blog:index' %}" hreflang="en-us">
                        Blog
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:home' %}" hreflang="en-us">{{ user.username }} &nbsp; <i
                                class="far fa-sign-in"></i></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:login' %}" hreflang="en-us"><strong>Login</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/register/"><strong>Join Now</strong></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="site-headings">
    <div class="container">
        <div class="row">
            <div class="col d-flex flex-column justify-content-center">
                <h4>{{ post.title }}</h4>
            </div>
        </div>
    </div>
</div>
<div class="blog-wrapper">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'blog:index' %}">Blog</a></li>
            <li class="breadcrumb-item"><a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></li>
            <li class="breadcrumb-item active">{{ post.title }}</li>
        </ol>

        <article class="content-container">

            <p class="text-muted p-smaller">
                <time>{{ post.posted|date:"M d, Y" }}</time>
            </p>

            <section>
                <p>
                    {{ post.body | safe }}
                </p>
            </section>

            <div class="row">
                <div class="col text-center">
                    <a href="/users/register/" class="btn index-button box-hover">
                        Start Free Trial!
                    </a>
                </div>
            </div>
        </article>
    </div>
</div>
{% include "main/relative_footer.html" %}

<!--Modernizer-->
<script src="https://d3qqgqjfawam42.cloudfront.net/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<!--Bootstrap 4 -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://d3qqgqjfawam42.cloudfront.net/application-1.js"></script>
</body>
</html>

