.filter-tags {
  margin-bottom: 1rem;
}

.filter-tags .tag {
  display: inline-block;
  padding: 3px 10px;
  text-align: center;
  border-radius: 15px;
  background: #4a4090;
  margin: 5px;
  font-size: 12px;
  color: white;
}

.clear-filter {
  cursor: pointer;
}
