.new-video-scroll {
  overflow-x: scroll;
  overflow-y: hidden;

  white-space: nowrap;

  background-color: transparent;
}

.new-video-scroll .item {
  display: inline-block;

  width: 300px;
  margin-right: 30px;
  margin-bottom: 10px;
  vertical-align: top;

  border-radius: 10px;
}
