{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Activation Failure" %}{% endblock %}

{% block content %}
{% include "main/nav.html" %}
<div class="jumbotron">
  <div class="container">
    <p>{% trans "Account activation failed." %}</p>
  </div>
</div>

{% endblock %}


{% comment %}
**registration/activate.html**

Used if account activation fails. With the default setup, has the following context:

``activation_key``
    The activation key used during the activation attempt.
{% endcomment %}
