{% load i18n %}
<!doctype html>
<html lang="en">

<head>
    <title>{{ site.name }} {% trans "registration" %}</title>
</head>

<body>
    <div style="max-width:700px; padding: 25px; border-radius: 4px; margin:15px; border: 1px solid #f1f1f1;box-shadow: rgba(0, 0, 0, .0470588) 0 0 .625rem 0; margin:auto;">
        
        <h2 style="font-family: 'Cabin', sans-serif; color: #3F3F44; font-weight:500;">Activate your account</h2>
        
        <p style="font-family: 'Cabin', sans-serif; font-weight:300; color:#616166;">{% blocktrans with site_name=site.name %}Thank you for registering with James Smith Academy{% endblocktrans %}</p>
        
        <p style="font-family: 'Cabin', sans-serif; font-weight:300; color:#616166;">{% blocktrans %}
        To activate your account, please click the link below within the next
        {{ expiration_days }} days:
        {% endblocktrans %}</p>
        
        <p style="font-family: 'Cabin', sans-serif; font-weight:300; color:#616166;">If you have trouble, copy and paste the link into your browser: <br/> <a href="https://{{site.domain}}{% url 'registration_activate' activation_key %}" style="color:#7462E5; text-decoration: none;">https://{{site.domain}}{% url 'registration_activate' activation_key %}</a></p>
        
        <p style="font-family: 'Cabin', sans-serif; font-weight:300; color:#616166;">Thanks again<br/> James</p>

        <center>
            <img src="https://d3qqgqjfawam42.cloudfront.net/icon.png" height="50"/>
        </center>
      
    </div>
</body>

</html>


{% comment %}
**registration/activation_email.html**

Used to generate the html body of the activation email. Should display a
link the user can click to activate the account. This template has the
following context:

``activation_key``
    The activation key for the new account.

``expiration_days``
    The number of days remaining during which the account may be
    activated.

``site``
    An object representing the site on which the user registered;
    depending on whether ``django.contrib.sites`` is installed, this
    may be an instance of either ``django.contrib.sites.models.Site``
    (if the sites application is installed) or
    ``django.contrib.sites.requests.RequestSite`` (if not). Consult `the
    documentation for the Django sites framework
    <http://docs.djangoproject.com/en/dev/ref/contrib/sites/>`_ for
    details regarding these objects' interfaces.

``user``
    The new user account

``request``
    ``HttpRequest`` instance for better flexibility.
    For example it can be used to compute absolute register URL:

        {{ request.scheme }}://{{ request.get_host }}{% url 'registration_activate' activation_key %}
{% endcomment %}
