{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activated" %}{% endblock %}

{% block content %}
    <nav class="navbar sales-nav navbar-expand navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/" hreflang="en-us">
                <img src="https://d3qqgqjfawam42.cloudfront.net/JSA64x64-white.svg" alt="The Academy">
            </a>
        </div>
    </nav>

    <div style="height:100%;">
        <div class="jumbotron text-center">
            <h5 style="margin-bottom: 2rem;">Registration Completed & Account Active</h5>
            <a class="btn btn-primary" href="/users/#/home">Click to Start Trial &nbsp; <i class="far fa-arrow-right"></i></a>
        </div>
    </div>


    {% include "main/relative_footer.html" %}
{% endblock %}

{% block js %}


    <script type="text/plain" data-cookieconsent="marketing">
          try {
            fbq('track', 'CompleteRegistration');
          } catch(e) {
            console.log(e);
          }
    </script>
{% endblock js %}


