{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{ site.name }} {% trans "Getting Started with the JSA" %}</title>
</head>

<body>
  <table style="font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif; padding: 0; margin: 0; background-color: #fff; color: #222; font-size: 16px;" bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
      <tr>
        <td align="center" valign="top">
          <table style="padding: 20px 0 30px; border-bottom: 1px solid #e8e8e8" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
              <tr>
                <td style="text-align:center;" align="left" width="238px">
                  <a target="_blank" href="https://www.jamessmithacademy.com/">
                    <img src="https://s3-us-west-1.amazonaws.com/thejsacademy/icon.png" alt="Click 'display images' to see the awesome!" width="100px">
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <table cellpadding="0" cellspacing="0" width="600px">
            <tbody>
              <tr>
                <td style="padding-top: 50px; font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;" align="center">
                  <table cellpadding="0" cellspacing="0" width="582px">
                    <tbody>
                      <tr>
                        <td style="padding-bottom: 35px; font-size: 16px; color: #777;" valign="top">
                          <div style="line-height: 25px; font-size: 16px; color: #777; padding: 0; margin: 0; padding-bottom: 5px;">
                            <p>
                                Hi {% if user.first_name %}{{user.first_name}}{% else %}{{user.username}}{% endif %},
                            </p>
                            
                            <p>
                                We would like to thank you for joining JSA and are looking forward to working with you.
                            </p>

                            <p>
                                Before you start, please understand that we are not just another workout generating fitness app. We are an online personal training service with a strong online community in which our members celebrate each others wins. 
                            </p>

                            <h3 style="color: #222; font-weight: normal;">Important, please read.</h3>

                            <p>
                              It is important to begin with the steps on your home tab. Each step has a purpose and together, they will help you to become familiar with the site and how we deliver our personal training.
                            </p>

                            <p>
                                Do not hesitate to contact us at anytime through the trainer chat on the website. 
                            </p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <table style="background-color: #f1f1f1; font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;" bgcolor="#f1f1f1" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
              <tr>
                <td style="padding-bottom: 45px;" align="left">
                  <table align="center" cellpadding="0" cellspacing="0" width="582px">
                    <tbody>
                      <tr>
                        <td rowspan="3" style="padding-left: 0px; padding-top: 45px;" valign="top">
                          <img src="https://s3-us-west-1.amazonaws.com/thejsacademy/James%20Marketing_Round.png" height="75">
                        </td>
                      </tr>
                      <tr>
                        <td style="font-size: 14px; color: #777; padding-left: 25px; padding-top: 60px;" valign="top">Thanks again, <br/> James</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <table cellpadding="0" cellspacing="0" width="100%">
            <tbody>
              <tr>
                <td>
                  <table style="padding-top: 0; margin-top: 0; background-color: #2a3742;" cellpadding="0" cellspacing="0" height="250px" width="100%">
                    <tbody>
                      <tr>
                        <td align="center" valign="top">
                          <table style="padding-top: 45px; color: #838283; font-family: Arial, Sans-Serif; font-size: 13px;" width="605px">
                            <tbody>
                              <tr>
                                <td style="font-family: Arial, Sans-Serif; font-size: 14px; font-weight: bold;line-height:14px;" valign="top" align="center">
                                  <span style="color: #fff;">Follow me</span>
                                  <br>
                                  <br>
                                  <a href="https://www.facebook.com/JamesSmithPT/">
                                    <img src="http://assets.getvero.com/emails/templates/welcome/fb.png" alt="Facebook" height="27px" width="26px">
                                  </a>  </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>



