{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans "Log in to JSA" %}{% endblock %}
{% block pagetitle %} <title>Log in to JSA</title> {% endblock pagetitle %}
{% load static %}
{% block content %}

<div class="login-wrapper d-flex flex-column justify-content-center">

   <div class="container">
      <div class="text-center">
         <a class="login-logo" href="http://{{ request.get_host }}"><img class="img-fluid" src="https://d3qqgqjfawam42.cloudfront.net/JSA64x64-white.svg" alt="The Academy"></a>
      </div>

      <div class="row justify-content-center">
         <div class="col-lg-5">
            <div class="login content-container">
               <h5 class="text-center">Log In</h5>

               {% if form.errors %}
                 <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {% for field, error in form.errors.items %}
                      {% if field != '__all__' %}{% endif %}
                      {{ error | striptags }}
                  {% endfor %}
                 </div>
               {% endif %}

               <form method="post" action="">
                  {% csrf_token %}
                  <div class="form-group">
                     <!-- <label for="username">Username or email</label> -->
                     {% render_field form.username class="form-control form-control-single-border" placeholder="Username or Email" %}
                  </div>
                  <div class="form-group">
                     <!-- <label for="password">Password</label> -->
                     {% render_field form.password class="form-control form-control-single-border" placeholder=form.password.label %}
                  </div>
                  <div class="form-group float-right">
                        <a href="{% url 'auth_password_reset' %}"><small><u>Forgot password?</small></u></a>
                  </div>
                  <div class="form-group">
                     <button type="submit" class="btn btn-block btn-rounded btn-primary">Log In</button>
                  </div>
                  <input type="hidden" name="next" value="{{ next }}" />
               </form>
                
              <div id="facebook-login">
                <br>
                <a href="{% url 'social:begin' 'facebook' %}" style="color:transparent;"><button class="btn btn-rounded btn-block btn-fb "><span class="fab fa-lg fa-facebook-f"></span> &nbsp; Facebook Log In</button></a>
                <p class="text-muted text-center" style="font-size: 12px; padding:5px; margin-top:10px;">
                  <i class="fas fa-exclamation-circle"></i> Please first Connect Facebook in your account area to use Facebook login.
                </p>
              </div>
              <div id="no-facebook-login" style="display: none;">
                <br>
                <p class="text-muted text-center" style="font-size: 12px; padding:5px; margin:auto;">
                  <i class="fas fa-exclamation-circle"></i> You cannot login with Facebook when visiting JSA from the mobile home screen app. If you have not set a password on your account to login normally, you can create one in your account settings.
                </p>
              </div>
            </div>
            
            <div class="text-center white" style="margin-top:1.5rem;">
              Don't have an account? <a href="/users/register/" class="white" style=""><u>Create Account</u></a>
            </div>

         </div>
         
      </div>
      

   </div>
</div>
<script>
//PWA hide FB login
if (window.matchMedia('(display-mode: standalone)').matches || window.navigator.standalone === true) {
    var fbLogin = document.getElementById('facebook-login');
    fbLogin.style.display = 'none';
    var nofbLogin = document.getElementById('no-facebook-login');
    nofbLogin.style.display = 'block';
} 
</script>
{% endblock %}
