{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Logged out" %}{% endblock %}

{% block content %}
{% include "main/nav.html" %}
<div style="min-height: 80vh;">
	<div class="jumbotron">
	  <div class="container text-center">
	    <p class="jumbo-message">{% trans "Successfully logged out" %}, see you later!</p>
	  </div>
	</div>
</div>
{% include "main/relative_footer.html" %}
{% endblock %}
