{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
    {% include "main/nav.html" %}
    <div class="container" style="min-height: 80vh;">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="content-container">
                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>
                                {% for field, error in form.errors.items %}
                                    {% if field != '__all__' %}{% endif %}
                                    {{ error | striptags }}
                                {% endfor %}
                            </strong>
                        </div>
                    {% endif %}
                    <form method="post" action="">
                        {% csrf_token %}
                        <label for="password1">Password:</label>
                        {{ form.password1 | add_class:"form-control" }}
                        <label for="password2">Password Confirm:</label>
                        {{ form.password2 | add_class:"form-control" }}
                        <hr>
                        <input type="submit" value="{% trans 'Change password' %}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include "main/relative_footer.html" %}
{% endblock %}


{# This is used by django.contrib.auth #}
