{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
    {% include "main/nav.html" %}
    <div class="container reset-container" style="min-height: 80vh;">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="content-container">
                    <p>{% trans "Enter your new password below to reset your password:" %}</p>
                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {% for field, error in form.errors.items %}
                                {% if field != '__all__' %}{% endif %}
                                {{ error | striptags }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>New password</label>
                            {{ form.new_password1 | add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            <label>Confirm password</label>
                            {{ form.new_password2 | add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn dark-purple-button" value="{% trans 'Set password' %}"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include "main/relative_footer.html" %}
{% endblock %}


{# This is used by django.contrib.auth #}
