{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
    {% include "main/nav.html" %}
    <div style="min-height: 100vh;">
        <div style="margin-top: 10%;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="content-container">
                            <p>
                                Password reset will not work unless you have <strong>activated your account, which is
                                last step of registration.</strong>
                            </p>
                            <form method="post" action="">
                                {% csrf_token %}
                                <label for="username">Enter Email</label>
                                {{ form.email | add_class:"form-control" }}
                                <br>
                                <input type="submit" class="btn dark-purple-button" value="{% trans 'Reset' %}"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "main/relative_footer.html" %}
{% endblock %}


{# This is used by django.contrib.auth #}
