{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block content %}
{% include "main/nav.html" %}
<div style="min-height: 80vh;">
<div class="jumbotron">
  <div class="container">
    <p class="jumbo-message">
        {% trans "Your password has been reset!" %}
        {% blocktrans %}You may now <a href="{{ login_url }}">log in</a>{% endblocktrans %}.
    </p>
  </div>
</div>
</div>
{% include "main/relative_footer.html" %}
{% endblock %}


{# This is used by django.contrib.auth #}
