{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password changed" %}{% endblock %}

{% block content %}
{% include "main/nav.html" %}
<div style="min-height: 80vh;">
<div class="jumbotron">
  <div class="container">
    <p class="jumbo-message">{% trans "Password successfully changed!" %}</p>
  </div>
</div>
</div>
{% include "main/relative_footer.html" %}
{% endblock %}


{# This is used by django.contrib.auth #}
