{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
{% include "main/nav.html" %}
<div style="min-height: 80vh;">
<div class="jumbotron">
  <div class="container">
    <p class="jumbo-message">
        {% blocktrans %}
        We have sent you an email with a link to reset your password. Please check
        your email and click the link to continue.
        {% endblocktrans %}
    </p>
  </div>
</div>
</div>
{% include "main/relative_footer.html" %}
{% endblock %}


{# This is used by django.contrib.auth #}
