{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans "Join Now | 5 Day Free Trial" %}{% endblock %}
{% block pagetitle %} <title>Join Now | 5 Day Free Trial</title> {% endblock pagetitle %}
{% block content %}
    <div class="login-wrapper d-flex flex-column justify-content-center">
        <div class="container">
            <div class="text-center">
                <a class="login-logo" href="http://{{ request.get_host }}"><img class="img-fluid"
                                                                                src="https://d3qqgqjfawam42.cloudfront.net/JSA64x64-white.svg"
                                                                                alt="The Academy"></a>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="register content-container">
                        <h5 class="text-center">Create Account</h5>
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {% for field, error in form.errors.items %}
                                    {% if field != '__all__' %}{% endif %}
                                    {{ error | striptags }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <form id="" method="post" action="" onsubmit="myButton.disabled = true; myButton.value = 'Sending, please wait...'; return true;">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" autocapitalize="none" name="username" id="username"  class="form-control form-control-single-border" placeholder="Username" required>
                            </div>
                            <div class="form-group">
                                {% render_field form.email class="form-control form-control-single-border" placeholder=form.email.label %}
                            </div>
                            <div class="form-group">
                                {% render_field form.password1 class="form-control form-control-single-border" placeholder=form.password1.label %}
                            </div>
                            <div class="form-group">
                                {% render_field form.password2 class="form-control form-control-single-border" placeholder=form.password2.label %}
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                    <input class="custom-control-input" name="subscribe_marketing" type="checkbox"
                                           value="subscribe_marketing" id="subscribe_marketing" checked>
                                    <label class="custom-control-label p-smaller" for="subscribe_marketing" style="margin-top: 0px; font-weight:normal;font-size:12px;">
                                        Subscribe to general marketing emails.
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                    <input class="custom-control-input" name="subscribe_daily" type="checkbox" value="subscribe_daily"
                                           id="subscribe_daily" checked>
                                    <label class="custom-control-label p-smaller" for="subscribe_daily" style="margin-top: 0px; font-weight:normal;font-size:12px;">
                                        Subscribe to famous daily emails.
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                    <input class="custom-control-input" name="terms" type="checkbox" value="tos" id="terms"
                                           required>
                                    <label class="custom-control-label p-smaller" for="terms" style="margin-top: 0px; font-weight:normal;font-size:12px;">
                                        By checking the box, you agree to our
                                        <a href="/terms">terms of service</a>, <a href="/privacy">privacy policy</a> and
                                        to be at least 18 years of age.
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="myButton" value="Create Account" class="btn btn-block btn-rounded btn-primary"/>
                            </div>
                        </form>
                    </div>

                    <div class="text-center white" style="margin-top:1.5rem;">
                        Have an account? <a href="/users/login/" class="white" style=""><u>Login</u></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
