{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Activation email sent" %}{% endblock %}

{% block content %}
{% include "main/nav.html" %}
<div style="min-height: 80vh;">
<div class="jumbotron">
  <div class="container">
    <h6 class="text-center">
    	Now please <u>check your email</u> and spam folder to <u>complete the registration process</u>. <br/><br/>If you do not get an email, please contact us!
    </h6>
  </div>
</div>
</div>
{% include "main/relative_footer.html" %}
{% endblock %}


