{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
{% include "main/nav.html" %}
<div class="container reset-container">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <div class="login">
        <h3>Set Password</h3>
        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>
              {% for field, error in form.errors.items %}
                {% if field != '__all__' %}{% endif %}
                {{ error | striptags }}
              {% endfor %}
            </strong>
        </div>
        {% endif %}
        <p style="color: red">{{ errors }}</p>
        <form method="post">
          {% csrf_token %}
          
          {% if not request.user.email %}
          <div class="form-group">
            <label for="email">Email ** Please use the the same email that you use for FB. **</label>
            <input type="email" name="email" class="form-control" required="true" value={{request.user.email}}>
          </div>
          {% endif %}

          <div class="form-group">
            <label for="password1">Password:</label>
            {{ form.password1 | add_class:"form-control"}}
          </div>
          <div class="form-group">
            <label for="password2">Password Confirm:</label>
            {{ form.password2 | add_class:"form-control"}}
          </div>
          
          <div class="form-group">
            <button class="btn dark-purple-button" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% include "main/relative_footer.html" %}
{% endblock %}
