{% extends 'base.html' %}

{% block pagetitle %}
    <title>JSA | Manage Account</title>
{% endblock pagetitle %}

{% block headscript %}{% endblock headscript %}

{% block content %}
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="https://d3qqgqjfawam42.cloudfront.net/JSA64x64-purple.svg"/>
            </a>
            <button style="outline:none;" id="navMenu" class="navbar-toggler navbar-toggler-right" type="button"
                    data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="fal fa-lg dark-purp fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/users/#/">
                            {% if member_account.status == 'active' or member_account.status == 'trialing' %}
                                {% if member_account.membership_name == 'JSA Core' %}
                                    Videos
                                {% else %}
                                    Home
                                {% endif %}
                            {% else %}
                                Home
                            {% endif %}
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'users:account' %}">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:membership_options' %}">Pricing</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {{ form.media }}

    <div class="users-account-wrapper grey-background">
        <div class="site-headings">
            <div class="container">
                <div class="row">
                    <div class="col-auto d-flex flex-column justify-content-center">
                        <h4>Account</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="users-account-container">
            <div>
                <span id="notifications"></span>

                {% if messages %}
                    <br/>
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <div class="alert alert-danger alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{ message }}
                            </div>
                        {% endif %}

                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <div class="alert alert-success alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <!-- All Details Row -->
                <div class="row" id="account-details">
                    <!-- Receipt Column Side -->
                    <div class="col-lg-6">
                        <div class="content-container">
                            <div class="receipt-container">
                                <!-- Account Status -->
                                {% if member_account.status == 'active' or member_account.status == 'trialing' %}
                                    <h5>Plan currently <span class="green">{{ member_account.status }}</span></h5>
                                {% else %}
                                    <h5>Plan currently <span class="red">{{ member_account.status }}</span></h5>
                                {% endif %}

                                <div class="row current-plan-wrapper">
                                    <div class="col">
                                        <!-- Membership Name -->
                                        {% if member_account.membership_name %}
                                            <span class="lead">{{ member_account.membership_name }}</span>
                                        {% else %}
                                            {% if member_account.status == 'active' %}
                                                <span class="lead">Monthly Subscription</span>
                                            {% else %}
                                                <span class="lead">Inactive</span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                {% if member_account.membership_end_date %}
                                    <div class="row current-plan-wrapper">
                                        <div class="col">
                                            Expires: {{ member_account.membership_end_date|date }}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="row  change-plan-wrapper">
                                    <div class="col">
                                        {% if member_account.status == 'active' %}
                                            <a href="/users/membership-options/">Change Plan</a>
                                        {% else %}
                                            <a href="/users/membership-options/" class="btn btn-link pl-0">Start a
                                                Plan</a>
                                            <form action="/transactions/restart-free-trial/" id="restartTrial"
                                                  method="post">
                                                {% csrf_token %}
                                                <button type="button" onclick="_restartTrial()"
                                                        class="btn btn-xs btn-link pl-0">Restart Trial
                                                </button>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if member_account.membership_end_date == None and member_account.status != 'trialing' and member_account.status != 'canceled'  %}
                                    <div class="billing-period-wrapper">
                                        <span id="billing-period">Billed to <span id="cardBrand" class="text-uppercase">VISA</span> ending <span
                                                id="last4">XXXX</span>
                                          <br>
                                          <span id="update-card">Update Card</span>
                                        </span>
                                    </div>
                                {% endif %}
                                <hr class="jsa-hr-dark-100">
                                <div class="row no-gutters">
                                    <div class="col">
                                        {% if member_account.membership_end_date == None and member_account.status != 'trialing' and member_account.status != 'canceled' %}
                                            {% if member_account.status == 'active' or  member_account.status == 'past_due' %}
                                                {% if member_account.at_period_end and update_sub %}
                                                    <div style="font-size: .875rem; margin-bottom: .875rem;">Your
                                                        subscription has been <span class="red">canceled</span>. You
                                                        will still have access until <u>{{ period_end }}</u>.
                                                    </div>
                                                    <form action="{% url 'transactions:continue' %}" class="text-center"
                                                          method="post">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-sm btn-link">Continue&nbsp;subscription</button>
                                                    </form>
                                                {% else %}
                                                    <button style="padding-left:0px;" type="button"
                                                            class="btn btn-sm cancel-sub btn-link" data-toggle="modal"
                                                            data-target="#cancelOffer">
                                                        Cancel Subscription
                                                    </button>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="content-container">
                            <div class="row">
                                <div class="col text-center">
                                    {% if profile.image %}
                                        <img class="rounded-circle" style="border:solid 2px #4a4090"
                                             src="{{ profile.image.cdn_url }}-/autorotate/yes/" height="100"
                                             width="100">
                                    {% else %}
                                        <img class="rounded-circle"
                                             src="https://d3qqgqjfawam42.cloudfront.net/profile-pic-black.svg"
                                             height="100" width="100">
                                    {% endif %}
                                    {% if member_account.status == 'active' or member_account.status == 'trialing' %}
                                        <h5>Profile Picture</h5>
                                        <form method="post" action="{% url 'users:profile_pic' %}">
                                            {% csrf_token %}
                                            <div class="form-row no-gutters" style="font-size: .875rem;">
                                                <!-- Upload Care Button Hidden on Mobile -->
                                                <div class="col-12 text-center">
                                                    <input type="hidden" role="uploadcare-uploader" name="my_file"
                                                           data-crop="250x250" data-images-only/>
                                                </div>
                                                <!-- Upload Button Hidden on Mobile -->
                                                <div class="col-12 text-center">
                                                    <button class="btn btn-sm enter-button-centered btn-primary btn-rounded">
                                                        Upload
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <!-- Profile Details  -->
                                <div id="account-detail-fields" class="col text-center">
                                    <h5>Account Details</h5>
                                    <form method="post" action="{% url 'users:update_user_details' %}"
                                          style="margin-bottom:1rem;">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="col-lg-6" style="overflow: hidden;">
                                                <div class="form-group">
                                                    <label class="text-muted p-smaller">Email</label>
                                                    <p class="m-0">{{ user.email }}</p>
                                                </div>
                                                <input type="hidden" value="{{ user.email }}" name="email" readonly/>
                                            </div>
                                            <div class="col-lg-6" style="overflow: hidden;">
                                                <div class="form-group">
                                                    <label class="text-muted p-smaller">Username</label>
                                                    <p class="m-0">{{ user.username }}</p>
                                                </div>
                                                <input type="hidden" value="{{ user.username }}" name="username"
                                                       readonly/>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col-lg-6">
                                                <div class="form-group first-last-name">
                                                    <label class="text-muted p-smaller">First name</label>
                                                    <input value="{{ user.first_name }}" autocomplete="off" type="text"
                                                           name="first_name"
                                                           class="form-control form-control-single-border text-center"
                                                           placeholder="First Name"/>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group first-last-name">
                                                    <label class="text-muted p-smaller">Last name</label>
                                                    <input value="{{ user.last_name }}" autocomplete="off" type="text"
                                                           name="last_name"
                                                           class="form-control form-control-single-border text-center"
                                                           placeholder="Last Name"/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col text-center">
                                                <button class="btn btn-sm enter-button-centered btn-primary btn-rounded"
                                                        type="submit">Save
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="content-container text-center">
                            <h6>Connect Facebook</h6>
                            <p style="margin-bottom:1.5rem;">If you would like to login with Facebook, please connect to
                                your Facebook account below.</p>
                            {% if facebook_login %}
                                {% if can_disconnect %}
                                    <form method="post" action="{% url 'social:disconnect' 'facebook' %}">
                                        {% csrf_token %}
                                        <button class="btn btn-fb btn-rounded" type="submit">Disconnect from Facebook
                                        </button>
                                    </form>
                                {% else %}
                                    <p><a href="{% url 'users:social_settings_password' %}">Here</a> you may define a
                                        email and password for your account. If you wish to disconnect Facebook, you
                                        must first define a password and email.</p>
                                {% endif %}

                            {% else %}
                                <a href="{% url 'social:begin' 'facebook' %}">
                                    <button class="btn btn-rounded btn-fb "><i class="fab fa-facebook-f"></i> &nbsp;
                                        Connect Facebook
                                    </button>
                                </a>
                            {% endif %}
                        </div>

                        <div class="content-container text-center">
                            <h6 class="text-center">Purchase JSA Gift &nbsp; <i class="fal fa-gift"></i></h6>

                            <form id="redeemCouponForm" action="/transactions/redeem-gift-coupon/" method="post">
                                {% csrf_token %}
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="coupon" autocomplete="off"
                                           placeholder="Enter gift coupon" aria-describedby="button-addon2" required>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" onclick="_redeemCoupon()" type="button"
                                                id="button-addon2">Redeem
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="row mt-5">
                                <div class="col">
                                    <p><strong>Coupons</strong></p>
                                </div>
                                <div class="col">
                                    <p><strong><a href="/users/gift-coupon/">Purchase New &nbsp; <i
                                            class="far fa-arrow-right"></i></a></strong></p>
                                </div>
                            </div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col" class="text-muted">
                                        <small>COUPON CODE</small>
                                    </th>
                                    <th scope="col" class="text-muted">
                                        <small>REDEEMED</small>
                                    </th>
                                    <th scope="col" class="text-muted">
                                        <small>SEND GIFT</small>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if gift_coupons %}
                                    {% for coupon in gift_coupons %}
                                        <tr>
                                            <td>{{ coupon.coupon_value }}</td>
                                            <td>
                                                {% if coupon.redeemed is True %}
                                                    Yes
                                                {% else %}
                                                    No
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if coupon.redeemed is True %}
                                                    <i class="far fa-envelope"></i>
                                                {% else %}
                                                    <a href="/emails/gift-coupon"><i class="far fa-envelope"></i> &nbsp;
                                                        <i class="far fa-long-arrow-alt-right"></i></a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="cancelOffer" tabindex="-1" role="dialog" aria-labelledby="cancelOfferLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div style="border-radius: 30px; border:none;" class="modal-content">
                <div class="modal-header">

                    {% if member_account.membership_name != 'JSA Core' %}
                        <h6 class="modal-title m-0" id="cancelOfferLabel">We have a special offer for you.</h6>
                    {% else %}
                        <h6 class="modal-title m-0" id="cancelOfferLabel">Confirm Cancel</h6>
                    {% endif %}

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="margin:auto;">

                    {% if member_account.membership_name != 'JSA Core' %}

                        <div class="text-center"
                             style="max-width:400px; border-radius: 30px; padding: 20px; margin-top:1.2rem;">
                            <h6 class="m-0 dark-purp">JSA Core</h6>

                            <div class="price-circle-black d-flex flex-column justify-content-center">
                                <h5 class="dark-purp m-0" id="special-offer"></h5>
                                <p class="dark-purp p-smaller m-0">Monthly Subscription</p>
                            </div>

                            <p class="p-smaller cost-per-duration">Cost per month</p>

                            <div class="price-pill-grey">
                                <div class="row">
                                    <div class="col-2">
                                        <i class="dark-purp fas fa-check"></i>
                                    </div>
                                    <div class="col-8">
                                        <div>Personalised Programs</div>
                                    </div>
                                </div>
                            </div>

                            <div class="price-pill-grey">
                                <div class="row">
                                    <div class="col-2">
                                        <i class="dark-purp fas fa-check"></i>
                                    </div>
                                    <div class="col-8">
                                        <div>Program Messages</div>
                                    </div>
                                </div>
                            </div>

                            <div class="price-pill-grey">
                                <div class="row">
                                    <div class="col-2">
                                        <i class="dark-purp fas fa-check"></i>
                                    </div>
                                    <div class="col-8">
                                        <div>Exercise Logs</div>
                                    </div>
                                </div>
                            </div>

                            <div class="price-pill-grey">
                                <div class="row">
                                    <div class="col-2">
                                        <i class="dark-purp fas fa-check"></i>
                                    </div>
                                    <div class="col-8">
                                        <div>#NeatUp247</div>
                                    </div>
                                </div>
                            </div>

                            <div class="price-pill-grey">
                                <div class="row">
                                    <div class="col-2">
                                        <i class="dark-purp fas fa-check"></i>
                                    </div>
                                    <div class="col-8">
                                        <div>Trainer Support Chat</div>
                                    </div>
                                </div>
                            </div>

                            <div class="price-pill-grey">
                                <div class="row">
                                    <div class="col-2">
                                        <i class="dark-purp fas fa-check"></i>
                                    </div>
                                    <div class="col-8">
                                        <div>Check-Ins</div>
                                    </div>
                                </div>
                            </div>

                            <div class="price-pill-grey">
                                <div class="row">
                                    <div class="col-2">
                                        <i class="dark-purp fas fa-check"></i>
                                    </div>
                                    <div class="col-8">
                                        <div>All Videos</div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col text-center">
                                    <p class="text-muted p-smaller m-0">Don't stop enjoying our core services and
                                        continue with the JSA core membership today.</p>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col text-center">
                                    <form action="{% url 'transactions:special_offer' %}" class="text-center"
                                          method="post" id="specialOfferForm">
                                        {% csrf_token %}
                                        <input type="hidden" id="currency" name="currency"/>
                                        <button type="button" id="specialOfferSubmit" onclick="_switchNowToOffer()"
                                                class="btn enter-button-centered btn-primary btn-rounded">
                                            <div id="sendingForm">Switch Now</div>
                                        </button>
                                    </form>
                                </div>
                            </div>

                        </div>

                        <h6 class="text-center" style="margin-top:1rem; margin-bottom:1rem;">- OR -</h6>

                    {% endif %}

                    <form action="{% url 'transactions:unsubscribe' %}" class="text-center" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-rounded btn-sm btn-danger">Cancel&nbsp;subscription
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    {% include "main/relative_footer.html" %}

{% endblock content %}

{% block js %}

    <script src="https://checkout.stripe.com/checkout.js"></script>

    <script>
        $(document).ready(function () {
            $.getJSON("https://api.ipstack.com/check?access_key=189681db139c24dc2fae1557037da6f6", function (e) {
                var t = e.country_name;
                e.ip;
                sessionStorage.removeItem("currency"), "Australia" === t ? (sessionStorage.setItem("currency", "aud"), $("#special-offer").html("$38 AUD"), (document.getElementById('currency').value = 'aud')) : "United Kingdom" === t ? (sessionStorage.setItem("currency", "gbp"), $("#special-offer").html("£21"), (document.getElementById('currency').value = 'gbp')) : (sessionStorage.setItem("currency", "usd"), $("#special-offer").html("$29 USD"), (document.getElementById('currency').value = 'usd'))
            }).done(function () {
                console.log("loaded")
            }).fail(function () {
                sessionStorage.removeItem("currency"), sessionStorage.setItem("currency", "usd"), $("#special-offer").html("$29 USD"), (document.getElementById('currency').value = 'usd')
            })
        });

        function _redeemCoupon() {
            if (confirm('Click OK to apply this gift coupon to your account. The coupon will apply immediately and your 12 weeks will start from now.')) {
                document.getElementById("redeemCouponForm").submit();
            }
        }

        function _restartTrial() {
            if (confirm('Click OK if you would like to restart the trial. This means that the home steps will reset and any data associated with them will be deleted.')) {
                document.getElementById("restartTrial").submit();
            }
        }

        function _switchNowToOffer() {
            var r = confirm("Press OK to confirm that you would to switch to the JSA Core subscription.");
            if (r == true) {
                document.getElementById("specialOfferSubmit").disabled = true;
                $("#sendingForm").html("Processing, please wait...");
                document.getElementById("specialOfferForm").submit();
            }
        }

        if (window.innerWidth <= 599) {
            $("#users-account-container").removeClass("container");
            $("#users-account-container").addClass("container-fluid");
        }

        function getCardDetails() {
            $.get("/transactions/update-card", function (response, status) {
                $('#cardBrand').html(response.card.brand);
                $('#last4').html(response.card.last4);
            });
        }

        getCardDetails();
        var updateCard = StripeCheckout.configure({
            key: 'pk_live_qN6ztNNx4D0fifPjwxQwufoV',
            image: 'https://d3qqgqjfawam42.cloudfront.net/icon.png',
            locale: 'auto',
            token: function (token) {
                $('#notifications').html('<br/><div class="alert alert-primary" role="alert">Updating card...</div>');
                $.ajax({
                    type: "POST",
                    url: '/transactions/update-card/',
                    data: {
                        token: token,
                        tokenId: token.id,
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    }
                }).done(function (data) {
                    $('#notifications').html('<br/><div class="alert alert-success" role="alert">' + data + '</div>');
                    getCardDetails();
                }).fail(function (error) {
                    $('#notifications').html('<br/><div class="alert alert-danger" role="alert">' + error + '</div>');
                });
            }
        });
        document.getElementById('update-card').addEventListener('click', function (e) {
            updateCard.open({
                name: 'Update Card',
                description: 'Update Card',
                zipCode: true,
                billingAddress: true,
            });
            e.preventDefault();
        });
    </script>

    <!--Uploadcare-->
    <script>
        UPLOADCARE_PUBLIC_KEY = '5b2904455e327f7a453a';
        UPLOADCARE_LOCALE_TRANSLATIONS = {
            buttons: {
                choose: {
                    images: {
                        one: 'Choose profile picture'
                    }
                }
            }
        };
    </script>

    <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.min.js" charset="utf-8" async defer></script>

{% endblock js %}