{% extends 'base.html' %}

{% block pagetitle %} <title>JSA | Gift Coupon</title> {% endblock pagetitle %}

{% block content %}
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="https://d3qqgqjfawam42.cloudfront.net/JSA64x64-purple.svg"/>
            </a>
            <button style="outline:none;" id="navMenu" class="navbar-toggler navbar-toggler-right" type="button"
                    data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="fal fa-lg dark-purp fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/users/#/">
                            {% if member_account.status == 'active' or member_account.status == 'trialing' %}
                                {% if member_account.membership_name == 'JSA Core' %}
                                    Videos
                                {% else %}
                                    Home
                                {% endif %}
                            {% else %}
                                Home
                            {% endif %}
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:account' %}">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:membership_options' %}">Pricing</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="site-headings">
        <div class="container">
            <div class="row">
                <div class="col d-flex flex-column justify-content-center">
                    <h4>Gift the JSA</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="membership-wrapper grey-background">

        <div class="container" id="membership-container">

            <div class="row">

                <div class="col-lg-6">
                    <div class="content-container text-center shadow-lg">
                        <h5 style="font-weight: 900;">Purchase Gift</h5>
                        <div class="price-circle-black d-flex flex-column justify-content-center">
                            <h4 class="dark-purp m-0" id="amount-3-monthly"></h4>
                            <small>3 Month Block</small>
                        </div>

                        <div class="row">
                            <!-- begin COL -->
                            <div class="col-12">
                                <button id="three-month-button" class="btn index-button btn-block"><i
                                        class="fas fa-credit-card"></i> &nbsp;

                                    Buy Now

                                </button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6">

                    <div style="margin-top:30px;">

                        <div class="alert alert-primary">
                            <p class="m-0 p-0" id="instructions">
                                Please start by completing the payment. After payment, we will provide you with a
                                coupon, which can be sent to the recipient. All your coupons can be found in your
                                account area.
                            </p>
                        </div>

                        {% if messages %}
                            {% for message in messages %} {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div class="alert alert-danger alert-dismissable">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{ message }}
                                </div>
                            {% endif %} {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

                                <div class="alert alert-success alert-dismissable">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{ message }}
                                </div>
                            {% endif %} {% endfor %} {% endif %}

                        <form method="POST" action="/transactions/email-gift-coupon/">
                            {% csrf_token %}
                            <input type="hidden" name="couponId" id="couponId">
                            <div class="form-group">
                                <label for="couponValue">Coupon</label>
                                <input type="text" class="form-control" disabled="true" readonly="true"
                                       name="couponValue" id="couponValue" placeholder="Your coupon will show here">
                            </div>
                            <div class="form-group">
                                <label for="recipientEmail">Recipient email</label>
                                <input type="email" class="form-control" disabled="true" name="recipientEmail"
                                       id="recipientEmail" placeholder="Recipient email" required>
                            </div>
                            <div class="form-group">
                                <label for="recipientMessage">Brief message (100 character limit)</label>
                                <textarea maxlength="100" name="recipientMessage" id="recipientMessage" disabled="true"
                                          class="form-control"
                                          placeholder="Happy birthday Diren! Thought you could use this. - Love James"
                                          required></textarea>
                            </div>
                            <button style="display:none;" type="submit" id="sendButton" class="btn btn-primary">Send
                                &nbsp; <i class="fab fa-telegram-plane"></i></button>
                        </form>
                    </div>

                </div>

            </div>

        </div>

    </div>

    {% include "main/relative_footer.html" %}

{% endblock content %}


{% block js_two %}

    <script>
        if (window.innerWidth <= 599) {
            $("#membership-container").removeClass("container");
            $("#membership-container").addClass("container-fluid")
        }
    </script>

    <script src="https://checkout.stripe.com/checkout.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>

    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <script>

        //Stripe Script
        $(document).ready(function () {
            $.getJSON("https://api.ipstack.com/check?access_key=189681db139c24dc2fae1557037da6f6", function (e) {
                var t = e.country_name;
                e.ip;
                sessionStorage.removeItem("currency");
                if (t === 'Australia') {
                    sessionStorage.setItem("currency", "aud");
                    $("#amount-3-monthly").html("$148 AUD");
                } else if (t === 'United Kingdom') {
                    sessionStorage.setItem("currency", "gbp");
                    $("#amount-3-monthly").html("£81");
                } else {
                    sessionStorage.setItem("currency", "usd");
                    $("#amount-3-monthly").html("$113 USD");
                }
            }).done(function () {
                console.log("loaded")
            }).fail(function () {
                sessionStorage.removeItem("currency");
                sessionStorage.setItem("currency", "usd");
                $("#amount-3-monthly").html("$113 USD");
            })
        });
        var handler = StripeCheckout.configure({
            key: "pk_live_qN6ztNNx4D0fifPjwxQwufoV",
            image: "https://d3qqgqjfawam42.cloudfront.net/icon.png",
            locale: "auto",
            token: function (e) {
                $('html, body').animate({
                    scrollTop: $("p#instructions").offset().top
                }, 1000);
                $('#instructions').text('Please wait, processing payment...');
                $.ajax({
                    type: "POST",
                    url: "/transactions/stripe-block-purchase/",
                    data: {
                        token: e,
                        tokenId: e.id,
                        tokenEmail: e.email,
                        amount: sessionStorage.amount,
                        months: sessionStorage.months,
                        gift: true,
                        currency: sessionStorage.currency,
                        membership: sessionStorage.membership,
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    }
                }).done(function (request) {
                    if (request.giftCouponId) {
                        $("#sendButton").show();
                        document.getElementById("couponId").value = request.giftCouponId;
                        document.getElementById("couponValue").value = request.coupon;
                        document.getElementById("recipientEmail").disabled = false;
                        document.getElementById("couponValue").disabled = false;
                        document.getElementById("recipientMessage").disabled = false;
                        $('#instructions').text('Your payment was successful! Please now complete the form below if you would like to email the recipient the gift coupon. If you do not want to, you can access the gift coupon in your account area to give to the recipient later.');
                    } else {
                        alert('There has been an error! Please contact us.');
                    }
                }).fail(function (e) {
                    alert('There has been an error! Please contact us.');
                })
            }
        });
        document.getElementById("three-month-button").addEventListener("click", function (e) {
            sessionStorage.removeItem("amount"), sessionStorage.removeItem("months"), sessionStorage.removeItem("membership"), sessionStorage.setItem("months", 3), "aud" === sessionStorage.currency ? sessionStorage.setItem("amount", 14800) : "gbp" === sessionStorage.currency ? sessionStorage.setItem("amount", 8100) : "usd" === sessionStorage.currency && sessionStorage.setItem("amount", 11300), sessionStorage.setItem("membership", "Premium Plan - 3 Month Block"), handler.open({
                name: "Premium Plan - 3 Month Block",
                description: "Purchase of a Premium Plan 3 month block from James Smith Academy Pty Ltd (ABN:72621129511)",
                zipCode: !0,
                currency: sessionStorage.currency,
                amount: sessionStorage.amount,
                billingAddress: !0
            }), e.preventDefault()
        });

        window.addEventListener("popstate", function () {
            handler.close()
        });

    </script>

{% endblock js_two %}
