{% extends 'base.html' %}

{% load render_bundle from webpack_loader %}

{% block pagetitle %}<title>JSA | {{ request.user.username }}</title>{% endblock pagetitle %}

{% block headlinks %}
    <link rel="stylesheet" type="text/css" href="https://d3qqgqjfawam42.cloudfront.net/notification/notifications.css">
{% endblock headlinks %}

{% block content %}

    <!--React App-->
    <div id="users-content" class="app-wrapper">
        <div class="container">
            <div class="row justify-content-center align-items-center" style="height:100vh;">
                <div class="col-12 text-center">
                    <img style="margin-bottom: 1.5rem;" src="https://d3qqgqjfawam42.cloudfront.net/JSA64x64-purple.svg"
                         class="rounded animated-2 pulse" height="100"/>
                    <h3 class="lead">Loading, please wait.</h3></span>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}


{% block js %}

    <script>
        // Browser update 
        var ua = window.navigator.userAgent,
            msie = ua.indexOf("MSIE ");
        if (msie > 0 || navigator.userAgent.match(/Trident.*rv\:11\./)) {
            alert("Hi, we notice you are using Internet Explorer (IE). The site may not function correctly with IE. Please use either Chrome, Safari, FireFox, Opera or Edge (the new IE) for your browser. Thanks.");
            var bluebird = document.createElement("script");
            bluebird.src = "https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js", document.body.appendChild(bluebird)
        }

        // Session storage
        if (typeof (Storage) !== "undefined") {
            sessionStorage.clear();
            sessionStorage.setItem("membershipStatus", "{{member_account.status}}");
            sessionStorage.setItem("membershipType", "{{member_account.membership_name}}");
            sessionStorage.setItem("username", "{{user.username}}");
            sessionStorage.setItem("email", "{{user.email}}");
            sessionStorage.setItem("firstName", "{{user.first_name}}");
            {% if profile.image %}
                sessionStorage.setItem("profileImage", "{{profile.image}}" + "-/autorotate/yes/");
            {% endif %}
            sessionStorage.setItem("foodLogs", "{{food_logs}}");
        } else {
            alert('You browser may be in incognito mode or have a privacy setting which will affect the functionality of our website.');
        }

        //Uploadcare public key
        UPLOADCARE_PUBLIC_KEY = '5b2904455e327f7a453a';

        //PWA reload current route
        if (window.matchMedia('(display-mode: standalone)').matches || window.navigator.standalone === true) {
            if (localStorage.PWALoadPath !== undefined) {
                location.hash = localStorage.PWALoadPath;
            }
            $(window).on('load', function () {
                $(window).on('hashchange', function () {
                    localStorage.removeItem('PWALoadPath');
                    localStorage.setItem('PWALoadPath', location.hash);
                });
            });
        }
    </script>

    <!--Uploadcare-->
    <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.min.js" charset="utf-8"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://d3qqgqjfawam42.cloudfront.net/mdb.min.js"></script>

    <!--Webpack-->
    {% render_bundle 'main' %}

    <script>
        if ("{{ request.session.started_trial }}" === 'started_trial') {
            console.log('started trial');
            try {
                fbq('track', 'CompleteRegistration');
            } catch (e) {
                console.log(e);
            }
        }
    </script>

{% endblock js %}




