{% extends 'base.html' %}

{% block pagetitle %} <title>JSA | Pricing Plans</title> {% endblock pagetitle %}

{% block content %}
    <div class="">
        <nav class="navbar navbar-expand-sm navbar-light">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="https://d3qqgqjfawam42.cloudfront.net/JSA64x64-purple.svg"/>
                </a>
                <button style="outline:none;" id="navMenu" class="navbar-toggler navbar-toggler-right" type="button"
                        data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fal fa-lg dark-purp fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/users/#/">
                                {% if member_account.status == 'active' or member_account.status == 'trialing' %}
                                    {% if member_account.membership_name == 'JSA Core' %}
                                        Videos
                                    {% else %}
                                        Home
                                    {% endif %}
                                {% else %}
                                    Home
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:account' %}">Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'users:membership_options' %}">Pricing</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="h-100 ">
            <section class="pricing py-5">
                <div class="container" id="membership-container">
                    <div id="notifications"></div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 max-width-400" id="premium-pricing-card">
                            <div class="card mb-5 mb-lg-0">
                                <div class="card-body">
                                    <h5 style="color:#DAA520;" class="card-title text-uppercase text-center">
                                        Premium</h5>
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                             aria-labelledby="pills-home-tab">
                                            <h6 class="card-price text-center">
                                                <span id="amount-monthly"></span><span class="period">/month</span>
                                            </h6>
                                            <p class="text-center text-muted p-xs">** Recurring Payment</p>
                                            <hr>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>My Workouts
                                                </li>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>James'
                                                    Workouts
                                                </li>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>#NeatUp247
                                                </li>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>All Learn
                                                    Videos
                                                </li>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Macro
                                                    Calculator
                                                </li>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>All Recipes
                                                </li>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Progress
                                                    Management
                                                </li>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Personalised
                                                    Exercise
                                                    Programs
                                                </li>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                                                    Personalised Programs Support
                                                </li>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Trainer
                                                    Support Chat
                                                </li>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                                                    Progress Check-Ins
                                                </li>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                                                    Join 3 Month Challenge
                                                </li>
                                            </ul>
                                            <br>
                                            <button id="monthly-button"
                                                    class="btn btn-block btn-primary text-uppercase">Buy Now
                                            </button>
                                        </div>
                                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                             aria-labelledby="pills-profile-tab">
                                            <h6 class="card-price text-center">
                                                <span id="amount-3-monthly"></span>
                                                <span class="period">/ 3 Months</span>
                                            </h6>
                                            <p class="text-center text-muted p-xs">** One Time Payment</p>
                                            <hr>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>My Workouts
                                                </li>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>James'
                                                    Workouts
                                                </li>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>#NeatUp247
                                                </li>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>All Learn
                                                    Videos
                                                </li>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Macro
                                                    Calculator
                                                </li>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>All Recipes
                                                </li>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Progress
                                                    Management
                                                </li>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Personalised
                                                    Exercise
                                                    Programs
                                                </li>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                                                    Personalised Programs Support
                                                </li>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Trainer
                                                    Support Chat
                                                </li>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                                                    Progress Check-Ins
                                                </li>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>
                                                    Join 3 Month Challenge
                                                </li>
                                            </ul>
                                            <br>
                                            <button type="button"
                                                    data-toggle="collapse"
                                                    data-target="#payForThreeMonth" aria-expanded="false"
                                                    aria-controls="payForThreeMonth"
                                                    class="btn btn-block btn-primary text-uppercase">Buy Now
                                            </button>
                                            <div class="collapse" id="payForThreeMonth">
                                                <div class="card card-body mt-3">
                                                    <p class="text-muted p-xs">Payment Options</p>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <button
                                                                    id="three-month-button"
                                                                    class="btn btn-light btn-rounded btn-block"
                                                            >
                                                                <i class="fas fa-credit-card"></i> &nbsp;
                                                                Credit Card
                                                            </button>
                                                        </div>
                                                        <div class="col-12 mt-3">
                                                            <div id="paypal-button-3month"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
                                        <li class="nav-item btn-rounded">
                                            <a class="nav-link btn-rounded active" id="pills-home-tab"
                                               data-toggle="pill"
                                               href="#pills-home" role="tab" aria-controls="pills-home"
                                               aria-selected="true">Monthly</a>
                                        </li>
                                        <li class="nav-item btn-rounded">
                                            <a class="nav-link btn-rounded" id="pills-profile-tab"
                                               data-toggle="pill"
                                               href="#pills-profile" role="tab" aria-controls="pills-profile"
                                               aria-selected="false">3 Months</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 max-width-400">
                            <div class="card" id="standard-pricing-card">
                                <div class="card-body">
                                    <h5 class="card-title text-muted text-uppercase text-center">Standard</h5>
                                    <h6 class="card-price text-center">
                                        <span id="standard-amount-monthly"></span>
                                        <span class="period">/month</span>
                                    </h6>
                                    <p class="text-center text-muted p-xs">** Recurring Payment</p>
                                    <hr>
                                    <ul class="fa-ul">
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>My Workouts</li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>James' Workouts</li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>#NeatUp247</li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>All Learn Videos</li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Macro Calculator</li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>All Recipes</li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Progress Management
                                        </li>
                                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>
                                            <strike>Personalised Exercise Programs</strike>
                                        </li>
                                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>
                                            <strike>Personalised Programs Support</strike>
                                        </li>
                                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>
                                            <strike>Trainer Support Chat</strike>
                                        </li>
                                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>
                                            <strike>Progress Check-Ins</strike>
                                        </li>
                                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>
                                            <strike>Join 3 Month Challenge</strike>
                                        </li>
                                    </ul>
                                    <br>
                                    <button id="standard-monthly-button"
                                            class="btn btn-block btn-primary text-uppercase">Buy Now
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="payment-modal modal fade" id="exampleModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="notificationsModal"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% include "main/relative_footer.html" %}

{% endblock content %}


{% block js_two %}

    <script src="https://checkout.stripe.com/checkout.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>

    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <script>

        $("#pills-tab").click(function () {
            $('html, body').animate({
                scrollTop: $("div#premium-pricing-card").offset().top
            }, 1000);
        });

        function madePurchase() {
            try {
                if (sessionStorage.membership === 'Premium Plan - 3 Month Block') {
                    fbq('track', 'Purchase', {currency: "AUD", value: 148.00});
                }
                if (sessionStorage.membership === 'Premium Plan - Subscription') {
                    fbq('track', 'Purchase', {currency: "AUD", value: 55.00});
                }
                if (sessionStorage.membership === 'Standard Plan') {
                    fbq('track', 'Purchase', {currency: "AUD", value: 15.00});
                }
            } catch (e) {
                console.log(e)
            }
        }

        //Stripe Script
        $(document).ready(function () {
            $.getJSON("https://api.ipstack.com/check?access_key=189681db139c24dc2fae1557037da6f6", function (e) {
                var t = e.country_name;
                e.ip;
                sessionStorage.removeItem("currency"), "Australia" === t ? (sessionStorage.setItem("currency", "aud"), $("#amount-lifetime").html("$710 AUD"), $("#amount-yearly").html("$400 AUD"), $("#amount-yearly-loyalty").html("$275 AUD"), $("#amount-3-monthly").html("$148 AUD"), $("#3-month-breakdown").append("$" + Math.round(148 / 12)), $("#amount-monthly").html("$55 AUD"), $("#standard-amount-monthly").html("$15 AUD")) : "United Kingdom" === t ? (sessionStorage.setItem("currency", "gbp"), $("#amount-lifetime").html("£400"), $("#amount-yearly").html("£225"), $("#amount-yearly-loyalty").html("£155"), $("#amount-3-monthly").html("£81"), $("#3-month-breakdown").html("£" + Math.round(81 / 12)), $("#amount-monthly").html("£30"), $("#standard-amount-monthly").html("£8.99")) : (sessionStorage.setItem("currency", "usd"), $("#amount-lifetime").html("$538 USD"), $("#amount-yearly").html("$302 USD"), $("#amount-yearly-loyalty").html("$210 USD"), $("#amount-3-monthly").html("$113 USD"), $("#3-month-breakdown").html("$" + Math.round(113 / 12)), $("#amount-monthly").html("$42 USD"), $("#standard-amount-monthly").html("$11 USD"))
            }).done(function () {
                console.log("loaded")
            }).fail(function () {
                sessionStorage.removeItem("currency"), sessionStorage.setItem("currency", "usd"), $("#amount-lifetime").html("$538 USD"), $("#amount-yearly").html("$302 USD"), $("#amount-yearly-loyalty").html("$210 USD"), $("#amount-3-monthly").html("$113 USD"), $("#amount-monthly").html("$42 USD"), $("#standard-amount-monthly").html("$11 USD")
            })
        });
        var handler = StripeCheckout.configure({
            key: "pk_live_qN6ztNNx4D0fifPjwxQwufoV",
            image: "https://d3qqgqjfawam42.cloudfront.net/icon.png",
            locale: "auto",
            token: function (e) {
                $(".payment-button").attr("disabled", "disabled"), $(".payment-modal").modal("show"), $("#notifications").html('<br/><div class="alert alert-primary" role="alert">Payment processing...</div>'), $("#notificationsModal").html('<br/><div class="alert alert-primary" role="alert">Payment processing...</div>'),
                    $.ajax({
                        type: "POST",
                        url: "/transactions/stripe-block-purchase/",
                        data: {
                            token: e,
                            tokenId: e.id,
                            tokenEmail: e.email,
                            amount: sessionStorage.amount,
                            months: sessionStorage.months,
                            currency: sessionStorage.currency,
                            membership: sessionStorage.membership,
                            csrfmiddlewaretoken: "{{ csrf_token }}"
                        }
                    }).done(function (e) {
                        madePurchase();
                        window.location.replace("/users/payment-success");
                    }).fail(function (e) {
                        $("#notifications").html('<br/><div class="alert alert-danger" role="alert">' + e.responseText + "</div>"), $("#notificationsModal").html('<br/><div class="alert alert-danger" role="alert">' + e.responseText + "</div>"), $(".payment-button").removeAttr("disabled")
                    })
            }
        });
        var subscriptionHandler = StripeCheckout.configure({
            key: "pk_live_qN6ztNNx4D0fifPjwxQwufoV",
            image: "https://d3qqgqjfawam42.cloudfront.net/icon.png",
            locale: "auto",
            token: function (e) {
                $(".payment-button").attr("disabled", "disabled"), $(".payment-modal").modal("show"), $("#notifications").html('<br/><div class="alert alert-primary" role="alert">Payment processing...</div>'), $("#notificationsModal").html('<br/><div class="alert alert-primary" role="alert">Payment processing...</div>'), $.ajax({
                    type: "POST",
                    url: "/transactions/subscribe-monthly/",
                    data: {
                        token: e,
                        tokenId: e.id,
                        tokenEmail: e.email,
                        currency: sessionStorage.currency,
                        membership: sessionStorage.membership,
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    }
                }).done(function (e) {
                    madePurchase();
                    window.location.replace("/users/payment-success");
                }).fail(function (e) {
                    $("#notifications").html('<br/><div class="alert alert-danger" role="alert">' + e.responseText + "</div>"), $("#notificationsModal").html('<br/><div class="alert alert-danger" role="alert">' + e.responseText + "</div>"), $(".payment-button").removeAttr("disabled")
                })
            }
        });
        var standardSubscriptionHandler = StripeCheckout.configure({
            key: "pk_live_qN6ztNNx4D0fifPjwxQwufoV",
            image: "https://d3qqgqjfawam42.cloudfront.net/icon.png",
            locale: "auto",
            token: function (e) {
                $(".payment-button").attr("disabled", "disabled"), $(".payment-modal").modal("show"), $("#notifications").html('<br/><div class="alert alert-primary" role="alert">Payment processing...</div>'), $("#notificationsModal").html('<br/><div class="alert alert-primary" role="alert">Payment processing...</div>'), $.ajax({
                    type: "POST",
                    url: "/transactions/subscribe-monthly-standard/",
                    data: {
                        token: e,
                        tokenId: e.id,
                        tokenEmail: e.email,
                        currency: sessionStorage.currency,
                        membership: sessionStorage.membership,
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    }
                }).done(function (e) {
                    madePurchase();
                    window.location.replace("/users/payment-success");
                }).fail(function (e) {
                    $("#notifications").html('<br/><div class="alert alert-danger" role="alert">' + e.responseText + "</div>"), $("#notificationsModal").html('<br/><div class="alert alert-danger" role="alert">' + e.responseText + "</div>"), $(".payment-button").removeAttr("disabled")
                })
            }
        });

        document.getElementById("three-month-button").addEventListener("click", function (e) {
            sessionStorage.removeItem("amount"), sessionStorage.removeItem("months"), sessionStorage.removeItem("membership"), sessionStorage.setItem("months", 3), "aud" === sessionStorage.currency ? sessionStorage.setItem("amount", 14800) : "gbp" === sessionStorage.currency ? sessionStorage.setItem("amount", 8100) : "usd" === sessionStorage.currency && sessionStorage.setItem("amount", 11300), sessionStorage.setItem("membership", "Premium Plan - 3 Month Block"), handler.open({
                name: "Premium Plan - 3 Month Block",
                description: "Purchase of a Premium Plan 3 Month Block from James Smith Academy Pty Ltd (ABN:72621129511)",
                zipCode: !0,
                currency: sessionStorage.currency,
                amount: sessionStorage.amount,
                billingAddress: !0
            }), e.preventDefault()
        });

        document.getElementById("monthly-button").addEventListener("click", function (e) {
            sessionStorage.removeItem("amount"), sessionStorage.removeItem("membership"), "aud" === sessionStorage.currency ? sessionStorage.setItem("amount", 5500) : "gbp" === sessionStorage.currency ? sessionStorage.setItem("amount", 3000) : "usd" === sessionStorage.currency && sessionStorage.setItem("amount", 4200), sessionStorage.setItem("membership", "Premium Plan - Subscription"), subscriptionHandler.open({
                name: "Premium Plan - Subscription",
                description: "Purchase of a Premium Plan monthly subscription from James Smith Academy Pty Ltd (ABN:72621129511)",
                zipCode: !0,
                currency: sessionStorage.currency,
                amount: sessionStorage.amount,
                billingAddress: !0
            }), e.preventDefault()
        }), window.addEventListener("popstate", function () {
            handler.close()
        });

        document.getElementById("standard-monthly-button").addEventListener("click", function (e) {
            sessionStorage.removeItem("amount"), sessionStorage.removeItem("membership"), "aud" === sessionStorage.currency ? sessionStorage.setItem("amount", 1500) : "gbp" === sessionStorage.currency ? sessionStorage.setItem("amount", 899) : "usd" === sessionStorage.currency && sessionStorage.setItem("amount", 1100), sessionStorage.setItem("membership", "Standard Plan"), standardSubscriptionHandler.open({
                name: "Standard Plan",
                description: "Purchase of a Standard Plan monthly subscription from James Smith Academy Pty Ltd (ABN:72621129511)",
                zipCode: !0,
                currency: sessionStorage.currency,
                amount: sessionStorage.amount,
                billingAddress: !0
            }), e.preventDefault()
        }), window.addEventListener("popstate", function () {
            handler.close()
        });

        // Paypal script
        function createTaxInvoice(e) {
            try {
                var t = (r = new Date).getDate(),
                    a = r.getMonth() + 1;
                t < 10 && (t = "0" + t), a < 10 && (a = "0" + a);
                var r = t + "/" + a + "/" + r.getFullYear();
                if ("aud" === sessionStorage.currency) var n = " Including GST: $";
                else if ("gbp" === sessionStorage.currency) n = ": £";
                else if ("usd" === sessionStorage.currency) n = ": $";
                var o = new jsPDF;
                return o.text(10, 10, "James Smith Academy Pty Ltd"), o.text(140, 10, "ABN: 72621129511"), o.text(10, 20, "121 Beattie Street"), o.text(10, 30, "Balmain, NSW, 2041, Australia"), o.text(10, 50, "Tax Invoice"), o.text(10, 70, "Customer Username: {{request.user.username}}"), o.text(10, 80, "Customer Email: {{request.user.email}}"), o.text(10, 90, "Plan Purchased: " + e), o.text(10, 100, "Date: " + r), o.text(10, 110, "Payment Method: PayPal"), o.text(10, 120, "Total Price" + n + sessionStorage.amount_paid + " " + sessionStorage.amount_currency), o.text(10, 130, "**Please keep this Tax Invoice for your records."), o.save("JSA_Tax_Invoice.pdf")
            } catch (e) {
                console.log(e);
            }
        }

        paypal.Button.render({
            env: "production",
            client: {
                sandbox: "AQATZaXiNHrGGQ1GLXWiQRAijBZlXjlsOW_KNasWsJ4pcvEiXeIellrcEfbRoNh73-_-0VRWxkmebfXx",
                production: "AYWkdocfpL6z-iq35-IOjBrn8tU45wbHwJyuAmKKDTlvSnoXgogyUUOA_0cDXD2gfzdlozngnTDUH9CA"
            },
            commit: !0,
            style: {
                size: "responsive",
                color: "blue",
                shape: "pill",
                label: "paypal",

                branding: !0,
                tagline: !1
            },
            payment: function (e, t) {
                if ("aud" === sessionStorage.currency) var a = "148.00",
                    r = "AUD";
                else if ("gbp" === sessionStorage.currency) a = "81", r = "GBP";
                else if ("usd" === sessionStorage.currency) a = "113.00", r = "USD";
                return sessionStorage.setItem("membership", "Premium Plan - 3 Month Block"), sessionStorage.setItem("amount_paid", a), sessionStorage.setItem("amount_currency", r), t.payment.create({
                    payment: {
                        transactions: [{
                            amount: {
                                total: a,
                                currency: r
                            }
                        }]
                    }
                })
            },
            onAuthorize: function (e, t) {
                return t.payment.execute().then(function () {
                    $("#notifications").html('<br/><div class="alert alert-primary" role="alert">Payment processing...</div>'),
                        $.ajax({
                            type: "POST",
                            url: "https://www.jamessmithacademy.com/transactions/create-paypal-three-month/",
                            data: {
                                csrfmiddlewaretoken: "{{ csrf_token }}"
                            }
                        }).done(function (e) {
                            madePurchase();
                            createTaxInvoice("Premium Plan - 3 Month Block");
                            window.location.replace("/users/payment-success");

                        }).fail(function (e) {
                            $("#notifications").html('<br/><div class="alert alert-danger" role="alert">' + e.responseText + "</div>")
                        })
                })
            },
            onError: function (e) {
                $("#notifications").html('<br/><div class="alert alert-danger" role="alert">' + e + "</div>")
            }
        }, "#paypal-button-3month");

    </script>

    <script type="text/plain" data-cookieconsent="marketing">
		try {
	    	fbq('track', 'InitiateCheckout');
	    } catch(e) {
	    	console.log(e);
	    }







    </script>

{% endblock js_two %}
