{% extends 'base.html' %}

{% block pagetitle %} <title>Payment Success</title> {% endblock pagetitle %}

{% block content %}
	<nav class="navbar navbar-expand-sm navbar-light">
		<div class="container">
			<a class="navbar-brand" href="/">
		  		<img src="https://d3qqgqjfawam42.cloudfront.net/JSA64x64-purple.svg" />
			</a>
			<button style="outline:none;" id="navMenu" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
	        	<i class="fal fa-lg dark-purp fa-bars"></i>
	      	</button>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/users/#/">
							{% if member_account.status == 'active' or member_account.status == 'trialing' %}
							  {% if member_account.membership_name == 'JSA Core' %}
							  	Videos
							  {% else %}
							  	Home
							  {% endif %}
							{% else %}
							 	Home
							{% endif %}
						</a>
					</li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'users:account' %}">Account</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="{% url 'users:membership_options' %}">Pricing</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="site-headings">
		<div class="container">
			<div class="row">
			  	<div class="col d-flex flex-column justify-content-center">
					<h4>Payment Success</h4>
				</div>
			</div>
		</div>
	</div>

	<div class="membership-wrapper grey-background">

		<div class="container">
				
			<div class="row justify-content-center">
					
				<div class="col-lg-6">
					
					<div class="content-container">
						
						<div class="text-center m-2">
							<i class="fal fa-5x green fa-check-circle"></i>
						</div>

						<div class="text-center m-2 green">
							<p>Payment Successful</p>
						</div>

						<div class="text-center m-2">
                            <h6>Welcome {{ user.username }}</h6>
							<p>We look forward to working with you!</p>
						</div>

						<div class="text-center m-2">
							<p>View your account details and manage your membership on your account page. </p>
						</div>

						<hr/>

						<div class="text-center m-2">
							<a href="/users/account/"><u>Your Account</u></a>
						</div>

					</div>

				</div>

			</div>

		</div>

	</div>
		
	{% include "main/relative_footer.html" %}

{% endblock content %} 


{% block js_two %}

	

{% endblock js_two %}
