{% extends 'base.html' %}

{% block pagetitle %} <title>JSA | Special Offer</title> {% endblock pagetitle %}

{% block content %}

	<nav class="navbar navbar-expand-sm navbar-light">
		<div class="container">
			<a class="navbar-brand" href="/">
		  		<img src="https://d3qqgqjfawam42.cloudfront.net/JSA64x64-purple.svg" />
			</a>
			<button style="outline:none;" id="navMenu" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
	        	<i class="fal fa-lg dark-purp fa-bars"></i>
	      	</button>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				<ul class="navbar-nav mr-auto">
					
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'users:account' %}">Account</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="site-headings">
        <div class="container" >
          <div class="row" >
            <div class="col d-flex flex-column justify-content-center" >
              <h4>Special Offer</h4>
            </div>
          </div>
        </div>
    </div>

	<div class="container" style="min-height: 100vh; margin-bottom: 2rem;">

		<div class="row">
			<div class="col">
				<div id="notifications"></div>
			</div>
		</div>

		<div class="row justify-content-center">

			<div class="col-lg-6 col-md-6">
				<div class="content-container text-center">
		      		<h6 class="m-0 dark-purp">JSA Core</h6>

			      	<div class="price-circle-black d-flex flex-column justify-content-center">
						<h5 class="dark-purp m-0" id="special-offer"></h5>
						<p class="p-smaller dark-purp m-0">Monthly subscription</p>
					</div>

					<p class="p-smaller cost-per-duration">Cost per month</p>

			      	<div class="price-pill-grey">
				      	<div class="row">
				      		<div class="col-2">
				      			<i class="dark-purp fas fa-check"></i>
				      		</div>
				      		<div class="col-8">
				      			<div>Personalised Programs</div>
				      		</div>
				      	</div>
			      	</div>

			      	<div class="price-pill-grey">
				      	<div class="row">
				      		<div class="col-2">
				      			<i class="dark-purp fas fa-check"></i>
				      		</div>
				      		<div class="col-8">
				      			<div>Program Messages</div>
				      		</div>
				      	</div>
			      	</div>

			      	<div class="price-pill-grey">
				      	<div class="row">
				      		<div class="col-2">
				      			<i class="dark-purp fas fa-check"></i>
				      		</div>
				      		<div class="col-8">
				      			<div>My Workouts</div>
				      		</div>
				      	</div>
			      	</div>

			      	<div class="price-pill-grey">
				      	<div class="row">
				      		<div class="col-2">
				      			<i class="dark-purp fas fa-check"></i>
				      		</div>
				      		<div class="col-8">
				      			<div>#NeatUp247</div>
				      		</div>
				      	</div>
			      	</div>

			      	<div class="price-pill-grey">
				      	<div class="row">
				      		<div class="col-2">
				      			<i class="dark-purp fas fa-check"></i>
				      		</div>
				      		<div class="col-8">
				      			<div>Trainer Support Chat</div>
				      		</div>
				      	</div>
			      	</div>

			      	<div class="price-pill-grey">
				      	<div class="row">
				      		<div class="col-2">
				      			<i class="dark-purp fas fa-check"></i>
				      		</div>
				      		<div class="col-8">
				      			<div>Check-Ins</div>
				      		</div>
				      	</div>
			      	</div>

			      	<div class="price-pill-grey">
				      	<div class="row">
				      		<div class="col-2">
				      			<i class="dark-purp fas fa-check"></i>
				      		</div>
				      		<div class="col-8">
				      			<div>All Videos</div>
				      		</div>
				      	</div>
			      	</div>
			      	<div class="row">
			      		<div class="col">
			      			<p class="about-plan p-smaller"><i class="fas fa-info-circle"></i> This is a monthly subscription, not a one time payment.</p>
			      		</div>
			      	</div>
			      	<div class="row">
			      		<div class="col text-center">
			      			<button type="button" id="jsa-core" class="btn enter-button-centered btn-primary btn-rounded">Subscribe Now</button>
			      		</div>
			      	</div>

		      	</div>
			</div>
				
		</div>
			

	</div>

	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="notificationsModal"></div>
				</div>
			</div>
		</div>
	</div>



{% include "main/relative_footer.html" %}

{% endblock content %} 

{% block js %}

	<script src="https://checkout.stripe.com/checkout.js"></script>  

	<script>
		$(document).ready(function() {
		    $.getJSON("https://api.ipstack.com/check?access_key=189681db139c24dc2fae1557037da6f6", function(e) {
		        var t = e.country_name;
		        e.ip;
		        sessionStorage.removeItem("currency"), "Australia" === t ? (sessionStorage.setItem("currency", "aud"), $("#special-offer").html("$38 AUD"), $("#amount-yearly-loyalty").html("$275 AUD"), $("#amount-yearly").html("$400 AUD"), (document.getElementById('currency').value = 'aud')) : "United Kingdom" === t ? (sessionStorage.setItem("currency", "gbp"), $("#special-offer").html("£21"), $("#amount-yearly-loyalty").html("£155"), $("#amount-yearly").html("£225"), (document.getElementById('currency').value = 'gbp')) : (sessionStorage.setItem("currency", "usd"), $("#special-offer").html("$29 USD"), $("#amount-yearly").html("$302 USD"), $("#amount-yearly-loyalty").html("$210 USD"), (document.getElementById('currency').value = 'usd'))
		    }).done(function() {
		        console.log("loaded")
		    }).fail(function() {
		        sessionStorage.removeItem("currency"), sessionStorage.setItem("currency", "usd"), $("#special-offer").html("$29 USD"), $("#amount-yearly").html("$302 USD"), $("#amount-yearly-loyalty").html("$210 USD"), (document.getElementById('currency').value = 'usd')
		    })
		});

		var subHandler = StripeCheckout.configure({
		  	key: 'pk_live_5hOZWj1qvUCxFJIlu8IMOxfN',
		  	image: 'https://d3qqgqjfawam42.cloudfront.net/icon.png',
		  	locale: 'auto',
		  	token: function(token) {
		  		$('.payment-button').attr("disabled", "disabled");
		  		$('.modal').modal('show');
		  		$('#notifications').html('<br/><div class="alert alert-primary" role="alert">Payment processing...</div>');
		  		$('#notificationsModal').html('<br/><div class="alert alert-primary" role="alert">Payment processing...</div>');
			    $.ajax({
				  	type: "POST",
				  	url: '/transactions/subscribe-jsa-core/',
				  	data: {
				  		token:token,
				  		tokenId: token.id,
				  		tokenEmail: token.email,
				  		currency:sessionStorage.currency,
				  		membership:sessionStorage.membership,
				  		csrfmiddlewaretoken:"{{ csrf_token }}"
					}
				}).done(function(data) {
				    $('#notifications').html('<br/><div class="alert alert-success" role="alert">'+data+'</div>');
				    $('#notificationsModal').html('<br/><div class="alert alert-success" role="alert">'+data+'</div>');
				    $('.payment-button').removeAttr("disabled");   
				}).fail(function(e) {
				    $('#notifications').html('<br/><div class="alert alert-danger" role="alert">'+e.responseText+'</div>');
				    $('#notificationsModal').html('<br/><div class="alert alert-danger" role="alert">'+e.responseText+'</div>');
				    $('.payment-button').removeAttr("disabled");   
				});
		  	}
		});


		document.getElementById('jsa-core').addEventListener('click', function(e) {
		  	sessionStorage.removeItem("amount");
		  	sessionStorage.removeItem("membership");
		  	if(sessionStorage.currency==='aud') {
				sessionStorage.setItem("amount", 3800);
		  	} else if(sessionStorage.currency==='gbp') {
				sessionStorage.setItem("amount", 2100);
		  	} else if(sessionStorage.currency==='usd') {
				sessionStorage.setItem("amount", 2900);
		  	}
		  	sessionStorage.setItem("membership", "JSA Core");
		  	subHandler.open({
		    	name: 'JSA Core',
		    	description: 'Purchase of a JSA Core subscription from James Smith Academy Pty Ltd (ABN:72621129511)',
		    	zipCode: true,
		    	currency: sessionStorage.currency,
		    	amount: sessionStorage.amount,
		    	billingAddress: true,
		  	});
		  	e.preventDefault();
		});

		// Close Checkout on page navigation:
		window.addEventListener('popstate', function() {
		  handler.close();
		});
	</script>

{% endblock js %}