.progress-container {
  height: 6px;
  width: 200px;
  background-color: rgb(218, 224, 240);
  position: relative;
  border-radius: 4px;
  margin-right: 4px;
}
.progress {
  height: 6px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    rgb(81, 236, 117) 0%,
    rgb(0, 194, 162) 100%
  );
}
.progress-value {
  font-size: 12px;
  line-height: 14px;
  color: rgb(126, 132, 148);
}
