.macros-calories {
  background-color: #4a3d92;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.meal-planner {
  background-color: #4a3d92;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.macro-value {
  color: #5ed4a9;
}
