{% extends 'base.html' %}

{% block pagetitle %}<title>JSA | Cookies Policy</title>{% endblock pagetitle %} 

{% load cache %}
{% block content %}
{% include "main/nav.html" %}
{% cache 86400 cookies %}

<div class="privacypolicy-wrapper container">
  <div style="max-width: 700px; margin:auto;">
    <h4 class="text-center">Cookies Policy</h4>
      <section class="privacy-policy-container">
        <h5>About cookies</h5>
        <p>
          Cookies are small text and data files which are downloaded and stored on your computer or a mobile device when you visit a website. James Smith Academy Pty Ltd ACN 621 129 511 (James Smith Academy, us, our, and/or we) uses cookies to assist with the operation of our website and services.
        </p>
        <p>
          Some of the cookies on our website are ‘first party cookies’ which are sent from our website to your browser and allow us to customise our service to you by storing data such as your login details as a convenience to you next time you log in. 
        </p>
        <p>
          The James Smith Academy website also contains ‘third party cookies’ which are text and data files from external businesses that provide content, payment services or advertising on websites that you visit.
        </p>
        <p>
          Cookies which are required to assist with the operation of a website are referred to as strictly necessary or essential cookies. Cookies which do not fall into this category are used for other purposes such as delivery of video content, payment, advertising, social media and tracking of your online movements. 
        </p>
      </section>
      <section class="privacy-policy-container">
        <h5>Why do we use cookies?</h5>
        <p>
          The cookies contained on our website are both first and third party cookies.. The specific types of first and third-party cookies contained on the James Smith Academy website and the purposes for which they are used is disclosed in full below. Before you use the James Smith Academy website for the first time, we will notify you that our website contains cookies and ask you to consent to our use of cookies in our interactions with you. In addition, You may manage your cookie preferences by clicking <a href="javascript: Cookiebot.renew()">here</a>.
        </p>
        <p>
          Alternatively, you may choose to disable some or all cookies by refusing to consent to our use of cookies or blocking the cookies through  your browser. However, please note that if you do disable cookies from accessing your browser,  some of the features of the site will may not work and we may not be able to provide you with the complete James Smith Academy services. 
        </p>
        <p>
          Please note that any Personal Information about you which is collected by us through our use of cookies will be handled in accordance with our Privacy Policy, located at the following URL:  <a href="https://www.jamessmithacademy.com/privacy/">https://www.jamessmithacademy.com/privacy/</a>.
        </p>
      </section>
      <section class="privacy-policy-container">
        <h5>Cookies</h5>

        <section class="cookies-wrapper">
          <h6 class="cookies-type-heading">Essential cookies</h6>
           <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" style="width: 50%">Category & Purpose</th>
                  <th scope="col" style="width: 50%">Cookies</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>These cookies are required so that we can provide you with the services available on our website. These cookies are primarily used at login and while using the features of the James Smith Academy website.</td>
                  <td>
                    <div class="cookie-used">csrftoken</div>
                    <div class="cookie-used">sessionid</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

        <section class="cookies-wrapper">
          <h6 class="cookies-type-heading">Performance and functionality cookies</h6>
          <div class="table-responsive">
            <table class="table" >
              <thead>
                <tr>
                  <th scope="col" style="width: 50%">Category & Purpose</th>
                  <th scope="col" style="width: 50%">Cookies</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <h6>Vimeo</h6>
                    One of the core features of the James Smith Academy website is the training videos which have been uploaded by our coaches. We use Vimeo to deliver this video content, which contains the following cookies.
                  </td>
                  <td>
                    <div class="cookie-used">vuid</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h6>Stripe</h6>
                    James Smith Academy uses Stripe is one of its payment providers when customers make payments via our website. Stripe contains the following cookies. 
                  </td>
                  <td>
                    <div class="cookie-used">__stripe_mid</div>
                    <div class="cookie-used">user</div>
                    <div class="cookie-used">stripe.csrf</div>
                    <div class="cookie-used">session</div>
                    <div class="cookie-used">private_machine_identifier</div>
                    <div class="cookie-used">logged_in</div>
                    <div class="cookie-used">lang</div>
                    <div class="cookie-used">country</div>
                    <div class="cookie-used">cid</div>
                    <div class="cookie-used">checkout-test-session</div>
                    <div class="cookie-used">checkout-live-session</div>
                    <div class="cookie-used">__stripe_sid</div>
                    <div class="cookie-used">__stripe_orig_props</div>
                    <div class="cookie-used">__stripe_mid</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h6>PayPal</h6>
                    James Smith Academy also uses PayPal as one of its payment providers. PayPal contains the following cookies. 
                  </td>
                  <td>
                    <div class="cookie-used">X-PP-SILOVER</div>
                    <div class="cookie-used">x-csrf-jwt</div>
                    <div class="cookie-used">tsrce</div>
                    <div class="cookie-used">ts</div>
                    <div class="cookie-used">nsid</div>
                    <div class="cookie-used">LANG</div>
                    <div class="cookie-used">AKDC</div>
                    <div class="cookie-used">akavpau_ppsd</div>
                    <div class="cookie-used">_cookiecheck</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

        <section class="cookies-wrapper">
          <h6 class="cookies-type-heading">Analytics cookies</h6>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" style="width: 50%">Category & Purpose</th>
                  <th scope="col" style="width: 50%">Cookies</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <h6>Google Analytics</h6>
                    We use Google Analytics  to monitor the number of users on our website and their movement through the different pages. 
                  </td>
                  <td>
                    <div class="cookie-used">_gid</div>
                    <div class="cookie-used">_ga</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h6>Facebook Pixel</h6>
                    We use Facebook Pixel to monitor how many views our website receives as a result of Facebook and our Facebook adverts.
                  </td>
                  <td>
                    <div class="cookie-used">xs</div>
                    <div class="cookie-used">wd</div>
                    <div class="cookie-used">sb</div>
                    <div class="cookie-used">presence</div>
                    <div class="cookie-used">pl</div>
                    <div class="cookie-used">m_pixel_ratio</div>
                    <div class="cookie-used">locale</div>
                    <div class="cookie-used">fr</div>
                    <div class="cookie-used">dpr</div>
                    <div class="cookie-used">datr</div>
                    <div class="cookie-used">c_user</div>
                    <div class="cookie-used">act</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

        <section class="cookies-wrapper">
          <h6 class="cookies-type-heading">Advertising cookies</h6>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" style="width: 50%">Category & Purpose</th>
                  <th scope="col" style="width: 50%">Cookies</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <h6>Facebook Ads</h6>
                    Facebook Adverts is used so that we can acquire new customers. 
                  </td>
                  <td>
                    <div class="cookie-used">xs</div>
                    <div class="cookie-used">wd</div>
                    <div class="cookie-used">sb</div>
                    <div class="cookie-used">presence</div>
                    <div class="cookie-used">pl</div>
                    <div class="cookie-used">m_pixel_ratio</div>
                    <div class="cookie-used">locale</div>
                    <div class="cookie-used">fr</div>
                    <div class="cookie-used">dpr</div>
                    <div class="cookie-used">datr</div>
                    <div class="cookie-used">c_user</div>
                    <div class="cookie-used">act</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </section>
      <section class="privacy-policy-container">
        <h5>Contacting us about Cookies</h5>
        <p>
          If you have a complaint about our use of cookies, or have another query about the information contained in this policy, you may contact us at contact@jamessmithacademy.com or by otherwise sending your query or complaint to: 
        </p>
        <p>
          The Privacy Officer <br>
          James Smith Academy Holdings Pty Ltd <br>
          121 Beattie Street <br>
          Balmain, Sydney NSW 2041 <br>
        </p>
      </section>
      <section class="privacy-policy-container">
        <h5>Updates to this policy</h5>
        <p>
          This cookies policy is subject to change without prior or separate notification. Any changes will be posted on our website.
        </p>
        <p>
          This cookies policy was last updated on 25 May 2018. 
        </p>
      </section>
  </div>
</div>

{% endcache %}
{% include "main/relative_footer.html" %}
{% endblock content %}
