<footer>
  <div class="container">
    <div class="row footer">
      <div class="col-lg col-md">
        <div class="fb-like" data-href="https://www.facebook.com/JamesSmithPT/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
      </div>
      <div class="col-lg col-md">
        <a class="align-middle" href="/emails/contact-us">
          Contact Us
        </a>
      </div>
      <div class="col-lg col-md">
          <a class="align-middle" href="/terms">Terms of Service</a>
      </div>
      <div class="col-lg col-md">
        <a class="align-middle"  href="/privacy">Privacy Policy</a>
      </div>
      <div class="col-lg col-md">
        <p class="align-middle">&copy; {% now "Y" %} James Smith Academy Pty Ltd</p>
      </div>
    </div>
  </div>
</footer>
