{% extends 'base.html' %}
{% load cache %}
{% block content %}
    {% include "main/nav_fixed.html" %}
    {% cache 2592000 index_page %}

        <div class="main-index-wrapper">

            <!-- HEADER IMAGE AND CTA -->
            <div class="index-header-bg" id="header-image-container">
                <div class="h-100 d-flex flex-column justify-content-center" id="header-image-text-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <h4 id="index-header">JSA Online Personal Training</h4>
                                <h6>We focus on the fundamentals of fitness, not the fads. <br/>Start your free trial
                                    today.</h6>
                            </div>
                        </div>
                        <div class="row justify-content-center" id="header-button-row">
                            <div class="col-10 col-lg-3 col-md-4 index-button-container">
                                <a id="included-button" class="btn btn-block index-button " href="/users/register/">Start
                                    Free Trial</a>
                            </div>

                            <div class="col-10 col-lg-3 col-md-4 index-button-container">
                                <a id="start-trial-button" class="btn btn-block index-button "
                                   href="#features-including">What's Included?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.index-header-bg -->

            <!-- WHAT'S INCLUDED SECTION -->
            <div class="gradient-bg-white">
                <div class="container">
                    <div id="features-including" class="key-features-wrap-top">
                        <ul>
                            <li id="fitness-videos-icon">
                                <h6>Video Content</h6>
                                <p class="p-smaller">Access fitness videos by James Smith and the other JSA trainers.
                                    Learn about training, exercises and other fitness principles.
                                </p>
                            </li>
                            <li id="training-programmes-icon">
                                <h6>Exercise Programs</h6>
                                <p class="p-smaller">Exercise programs are personalised to your goals and lifestyle. You
                                    do not need a gym membership. Many of our members exercise at home!</p>
                            </li>
                            <li id="healthy-recipes-icon">
                                <h6>Healthy Recipes</h6>
                                <p class="p-smaller">Dieting can be hard because many healthy foods are boring. We have
                                    a library of healthy but still tasty recipes to keep things interesting.
                                </p>
                            </li>
                            <li id="nutrition-guidance-icon">
                                <h6>Nutrition Guidance</h6>
                                <p class="p-smaller">Calculate your macro and calorie requirements and use the in-site
                                    meal planner to create new and exciting meal plans.</p>
                            </li>
                            <li id="trainer-support-icon">
                                <h6>Trainer Support</h6>
                                <p class="p-smaller">Use our in-site trainer support chat to ask us questions you may
                                    have about your fitness. Also, receive check-ins to make sure you are on track.</p>
                            </li>

                            <li id="training-groups-icon">
                                <h6>Our Challenges</h6>
                                <p class="p-smaller">Enter our three month challenges to motivate you towards your goal.
                                    First place wins a holiday away! Find out more below <a href="#about-challenges"><u>here</u></a>.
                                </p>
                            </li>
                        </ul>

                    </div>
                    <div class="text-center">
                        <a class="btn index-button " href="/users/register/">Start Free Trial</a>
                    </div>
                </div>
            </div>

            <div class="index-page-section">
                <h4 class="text-center">Gain Independence</h4>
                <div class="container max-width-700">
                    <p class="text-center mb-5 lead">
                        <strong>Our priority</strong> is to ensure that you will walk away with an understanding of
                        fitness. Enjoy hundreds of videos which easily explain some often overcomplicated
                        principles.
                    </p>
                    <video width="400" controls
                           style="border-radius:8px;box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 6px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);">
                        <source src="https://d3qqgqjfawam42.cloudfront.net/Promo-Video-%25E2%2580%2594%25C2%25A0Social-Edit-4-(No-Denoise).mov"
                                type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                </div>
            </div>

            <div class="index-page-section">
                <h4 class="text-center">Exercise Correctly</h4>
                <div class="container max-width-700">
                    <p class="text-center mb-5 lead">
                        Exercise is important when working towards your fitness goal and everybody’s goal and
                        situation is different, which is why we offer <strong>personalised exercise
                        programs</strong>.
                    </p>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card text-center" style="margin-top:1rem;">
                                <div class="card-body">
                                    <img height="100" style="margin-bottom: 1rem;"
                                         src="https://d3qqgqjfawam42.cloudfront.net/Request.png" alt="Request">
                                    <p>
                                        Complete the questionnaire so we can write the best exercise program for you and
                                        your
                                        goals.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card text-center" style="margin-top:1rem;">
                                <div class="card-body">
                                    <img height="100" style="margin-bottom: 1rem;"
                                         src="https://d3qqgqjfawam42.cloudfront.net/Receive.png" alt="Receive">
                                    <p>
                                        Use your program in-app or as a pdf. Ask us questions about the program using
                                        the
                                        designated program messages.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="index-page-section">
                <h4 class="text-center">Receive Support</h4>
                <div class="container max-width-700">
                    <p class="mb-5 text-center lead">
                        Use our in-site trainer support chat to <strong>ask a real coach</strong> any fitness
                        questions you may have. We also will check-in with you to make sure everything
                        is going ok.
                    </p>
                    <img id="coaches-image" class="img-fluid"
                         src="https://d3qqgqjfawam42.cloudfront.net/images/app/IMG_0829.jpg" alt="Coaching Support"/>
                </div>
            </div>
            <div class="index-page-section">
                <div class="text-center">
                    <a class="btn index-button " href="/users/register/">Start Free Trial</a>
                </div>
            </div>
            <div class="index-page-section" id="about-challenges">
                <h4 class="text-center">Stay Motivated</h4>
                <div class="container max-width-700">
                    <p class="text-center mb-5 lead">
                        Challenges are a huge part of the JSA. We host <strong>3 month challenges</strong> which
                        encourage you to reach your goal. The winner of the challenge receives a holiday away or a
                        $15,000 cash prize.
                    </p>
                </div>
                <div class="container max-width-700">
                    <div class="embed-responsive embed-responsive-16by9 mb-5">
                        <iframe class="embed-responsive-item"
                                src="https://player.vimeo.com/video/303973080?title=0&byline=0&portrait=0"
                                width="640" height="360" frameborder="0" webkitallowfullscreen
                                mozallowfullscreen
                                allowfullscreen>

                        </iframe>
                    </div>
                    <div class="row" style="margin-top: 2rem;">
                        <div class="col text-center">
                            <h6>Don't miss out on another challenge.</h6>
                            <a href="/emails/challenge-waiting-list/"><u>Sign Up To The Challenge Waiting List</u></a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="index-page-section-white">
                <h4 class="text-center">Does the JSA work?</h4>
                <div class="container max-width-700">
                    <div class="text-center">
                        <p class="lead">
                            Absolutely. We have helped thousands of people reach their fitness goals and become less
                            reliant on crazy industry fads.
                        </p>
                        <a href="/transformations"><u>View Our Member Transformations</u></a>
                    </div>
                </div>
            </div>
            <div class="index-page-section">
                <div class="text-center">
                    <a  class="btn index-button" href="/users/register/">Start Free Trial</a>
                </div>
            </div>
        </div>
    {% endcache %}

    {% include "main/relative_footer.html" %}

{% endblock content %}

{% block js %}
    <script>

        $(document).ready(function () {

            if ($(window).width() <= 599) {
                $("#header-image-container").removeClass("flex-column d-flex");
                $("#header-image-text-container").removeClass("flex-column d-flex h-100");
            }

            if ($(window).width() > 768) {
                $("#header-button-row").removeClass("justify-content-center");
            }
        });

        try {
            fbq('track', 'ViewContent', {content_name: 'Website Main Page'});
        } catch (e) {
            console.log(e);
        }

    </script>
{% endblock js %}