<nav class="navbar navbar-expand-md navbar-light">
	<div class="container">
		<a class="navbar-brand" href="/" hreflang="en-us">
			<img src="https://d3qqgqjfawam42.cloudfront.net/JSA64x64-purple.svg" alt="The Academy">
		</a>
		<button style="outline:none;" id="navMenu" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fal fa-lg fa-bars dark-purp"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/emails/daily-email/" hreflang="en-us">Daily Email</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/transformations/" hreflang="en-us">Transformations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:index' %}" hreflang="en-us">
              Blog
            </a>
          </li>
        </ul>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a  class="nav-link" href="{% url 'users:home' %}" hreflang="en-us">{{user.username}} &nbsp; <i class="far fa-sign-in"></i></a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:login' %}" hreflang="en-us"><strong>Login</strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/register/"><strong>Join Now</strong></a>
              </li>
            {% endif %}
        </ul>
      </div>
	</div>
</nav>