{% extends 'base.html' %}

{% block pagetitle %}<title>JSA | Privacy Policy</title>{% endblock pagetitle %} 

{% load cache %}
{% block content %}
{% include "main/nav.html" %}
{% cache 86400 privacy %}

<div class="privacypolicy-wrapper container">
  <div style="max-width: 700px; margin:auto;">
    <h4 class="text-center">Privacy Policy</h4>
      <section class="privacy-policy-container">
      <p>
        James Smith Academy Pty Ltd ACN 621 129 511 (<strong>James Smith Academy, us, our, and/or we</strong>) is committed to protecting and respecting your privacy.
      </p>
      <p>
        This privacy policy (<strong>Policy</strong>) is compliant with the requirements of the Privacy Act 1988 (Cth) (as amended and supplemented from time to time) (<strong>the Act</strong>) and the Australian Privacy Principles (<strong>APPs</strong>) and is available free of charge for you to access on our website at www.jamessmithacademy.com/privacy/. 
      </p>
      <p>
        Please be aware that except to the extent required by law, or when it is deemed impracticable to do so, you have the option of remaining anonymous, or using a pseudonym, when dealing with us in relation to a particular matter. 
      </p>
    </section>
    <section class="privacy-policy-container">
      <h5>1. SCOPE OF POLICY</h5>
      <p>
        This Policy applies to all information or opinion about an identified individual or an individual who is reasonably identifiable (you), whether the information or opinion is true or not, and whether the information is recorded in a material form or not (<strong>Personal Information</strong>) that is collected, stored, used and disclosed by James Smith Academy.
      </p>
      <p>
        In this policy, we explain the kinds of Personal Information we collect, how and why we collect and use it, and what controls you have over our use of it.
      </p>
      <p>
        Please read the following carefully to understand our practices regarding the collection and use of your Personal Information.
      </p>
    </section>
    <section class="privacy-policy-container">
      <h5>2. PERSONAL INFORMATION THAT JAMES SMITH ACADEMY COLLECTS AND HOLDS</h5>
      <p>
        The Personal Information collected, held, used and disclosed by us includes, but is not limited to, the following information about you: 
      </p>
      <ol type="a">
        <li>name and/or username;</li>
        <li>date of birth (see section 3 below);</li>
        <li>gender;</li>
        <li>country of residence;</li>
        <li>email address;</li>
        <li>medical/health information (see section 3 below);</li>
        <li>a record of pages you visit on our website; </li>
        <li>information about any complaints you may lodge; and </li>
        <li>information about or related to your customised training program, support provided to you by our coaches or any other service we provide you. </li>
      </ol>
      <p>
        Some of the above information may also be classified as “health information” under the Act. Please see section 3 below for details about how we might collect, hold, use or disclose health information about you. 
      </p>
    </section>
    <section class="privacy-policy-container">
      <h5>3. HEALTH INFORMATION AND SENSITIVE PERSONAL INFORMATION</h5>
      <p>
        Given the nature of our business as provider of online fitness resources, we may also collect some sensitive information about you, for example, information about your health, which is afforded a higher level of privacy protection. 
      </p>
      <p>
        The Act includes the following information as “health information”:
      </p>
      <ol type="a">
        <li>information or an opinion about the health (including illness, disability or injury) of an individual); </li>
        <li>the individual’s expressed wishes about the future provisions of health services provided to him or her; or </li>
        <li>personal information which is collect as part of providing a “health service”, 
        collectively, ‘<strong>Health Information</strong>’. </li>
      </ol>
      <p>
        Under the Act, a “<strong>health service</strong>” includes (among other things) any activity intended or claimed to assess, maintain or improve an individual’s health, or to record the individual’s health for the improving or managing the individual’s health.
      </p>
      <p>
        Health Information which we might collect about you includes, but is not limited to: 
      </p>
      <ol type="a">
        <li>any medical issues (as may be relevant to your use of Coach Support, Training Programs or similar services we provide to you); </li>
        <li>your health situation (for example, whether you are injured, pregnant or disabled, to the extent relevant to your use of the Coach Support, Training Programs or other similar services we provide to you);</li>
        <li>your current height, weight and BMI;</li>
        <li>what facilities or equipment you use to train;</li>
        <li>training frequency;</li>
        <li>training experience;</li>
        <li>progress management – a weekly photo of you, and record of height, weight, and similar information, as you work towards your goals through our program;</li>
        <li>progress management – a record of your progress in weekly exercises;</li>
        <li>your daily calorie requirements calculated using the calorie calculator on our website;</li>
        <li>your specific nutritional requirements; </li>
        <li>a description of your fitness and nutrition goals; and</li>
        <li>any other information required for the provision of our programs to you. </li>
      </ol>
      <p>
        We will not collect, use or disclose any of your Health Information except to the extent necessary to provide a health service to you through our programs, and will ensure that any Health Information is collected, used and disclosed only in accordance with rules established by other competent health or medical bodies (where applicable) that deal with obligations of professional confidentiality. 
      </p>
    </section>
    <section class="privacy-policy-container">
      <h5>4. HOW JAMES SMITH ACADEMY COLLECTS AND HOLDS PERSONAL INFORMATION</h5>
      <p>
        We will only collect Personal Information from you directly, unless it is unreasonable and impractical to do so. 
      </p>
      <p>
        We may collect Personal Information from you directly in the following ways:
      </p>
      <ol type="a">
        <li>if you subscribe to a membership with James Smith Academy or create an account on our website;</li>
        <li>if you request assistance or advice from our online coaches;</li>
        <li>if you make a request for support online, by email or by telephone;</li>
        <li>if you participate in promotional offers;</li>
        <li>if you choose to subscribe to our mailing list; or </li>
        <li>if you disclose information such as contact details via our website.</li>
      </ol>
      <p>
        In a situation where it is unreasonable or impractical to obtain Personal Information from you directly, you may be asked to consent to our collection of your Personal Information from a third-party.
      </p>
      <p>
        We will always notify you after any of your Personal Information has been collected by us from a third party. 
      </p>
      <p>
        James Smith Academy holds Personal Information in databases hosted on servers based in the United States (including on servers through Heroku, Amazon Web Services (<strong>AWS</strong>), Google and Uploadcare). None of these servers are based in Australia.
      </p>
      <p>
        We take reasonable steps to:
      </p>
      <ol type="a">
        <li>protect your Personal Information from misuse, interference and loss and from unauthorised access, modification or disclosure;</li>
        <li>ensure that our system is appropriately backed-up to prevent the loss of your Personal Information; and</li>
        <li>destroy or de-identify Personal Information when it is no longer required.</li>
      </ol>
      <p>
        Some security measures that we have in place to protect your Personal Information include the following:
      </p>
      <ol type="a">
        <li>access to the database where your personal information is stored is restricted to particular authorised staff members; </li>
        <li>the password for database access is changed frequently; </li>
        <li>we use well-known and widely used development technology to run and maintain our website; and</li>
        <li>our hosting providers manage the server and database protection in accordance with standard web practices.</li>
      </ol>
      <p>
        In the case that any of the Personal Information held by James Smith Academy is lost, or subjected to unauthorised access, modification, disclosure or other misuse or interference, we will notify you immediately and advise you of the steps you should take in response to the breach. Additionally, if we receive any unsolicited Personal Information (i.e. we inadvertently obtain information about you that we did not request) we will determine whether we would have been able to obtain the information by the methods described in this section 4. If not, we will, as soon as practicable, destroy the information and ensure that the information is de-identified. 
      </p>
    </section>
    <section class="privacy-policy-container">
      <h5>5. THE PURPOSE FOR WHICH JAMES SMITH ACADEMY COLLECTS, HOLDS, USES AND DISCLOSES PERSONAL INFORMATION</h5>
      <p>
        Personal Information which is collected by James Smith Academy will be held, used and disclosed by us for the primary purpose of providing training and fitness regimes to our customers including:
      </p>
      <ol type="a">
        <li>personalising our fitness regimes to help you achieve your individual fitness goals; </li>
        <li>formulating our fitness programs to suit your individual health requirements; </li>
        <li>providing you with the tools necessary to determine your nutritional requirements and track your food intake;</li>
        <li>notifying you of account activity or update (such as a completed training program, group comment or weekly check-in);</li>
        <li>sending you an email to notify you of any account changes or updates to our services (such as coach updates to our user programs, training group comments, or weekly check-ins); </li>
        <li>supporting and enhancing our relationship with you (this includes processing your membership subscription, providing you with better support and service and sharing company news and information with you);</li>
        <li>to provide insights into the progress and experiences of James Smith Academy members; and</li>
        <li>to deal with complaints.</li>
      </ol>
      <p>
        James Smith Academy may also disclose Personal Information to the extent required or authorised by applicable law, but otherwise will never do so without your consent or otherwise as expressly provided for in this Privacy Policy.
      </p>
      <p>
        James Smith Academy does not sell any of your Personal Information to third parties.
      </p>
    </section>
    <section class="privacy-policy-container">
      <h5>6. OVERSEAS STORAGE AND DISTRIBUTION OF PERSONAL INFORMATION</h5>
      <p>
        As set out in section 4 above, your Personal Information is stored on servers hosted in the United States through third-party hosting services Heroku, AWS, Google and Uploadcare.
      </p>
      <p>
        We will not distribute the Personal Information you provide to another foreign entity unless we are required to do so by law or you provide your express consent to such a disclosure. Before disclosing any of your Personal Information to a foreign entity, we would also take reasonable steps to ensure that the entity to whom we disclose the information does not breach any of the Australian Privacy Principles. 
      </p>
    </section>
    <section>
      <h5>7. CONSEQUENCES IF ALL OR SOME PERSONAL INFORMATION IS NOT COLLECTED</h5>
      <p>
        You do not have to provide us with any Personal Information. However, if you choose to withhold any requested information, you may not be able to utilise our full offering, access special promotions or we may not be able to provide you with personalised support that is dependent upon the collection of such information. 
      </p>
    </section>
    <section class="privacy-policy-container">
      <h5>8. HOW LONG WE RETAIN YOUR PERSONAL INFORMATION</h5>
      <p>
        We will only retain your Personal Information for as long as necessary to provide our services (as described in section 5 above) to you.
      </p>
    </section>
    <section class="privacy-policy-container">
      <h5>9. ACCESS AND CORRECTION OF PERSONAL INFORMATION</h5>
      <p>
        You have a right to request access to your Personal Information and to request its correction, by emailing us at contact@jamessmithacademy.com or by otherwise sending your request to the address specified in section 10 below. Upon receipt of a written request from you, we will give you access to the Personal Information we hold about you within 30 days of receiving your request unless an exception to access applies under the Privacy Act. 
      </p>
      <p>
        Upon receipt of a written request from you we will comply with our obligations under the Privacy Act to correct, amend, delete or cease to deal with any Personal Information we hold about you if it proves to be factually inaccurate, incomplete, or irrelevant to the purpose(s) for which it is being held within 30 days. 
      </p>
    </section>
    <section class="privacy-policy-container">
      <h5>10. COMPLAINTS PROCESS</h5>
      <p>
        If you have a complaint about the way we have dealt with your Personal Information please make a complaint in writing to our Customer Support Manager, whose details are included in section 11 below. We will respond to all complaints within 30 days.
      </p>
      <p>
        Please note that you may lodge your complaint anonymously. However, this may limit our ability to deal with your complaint and implement a satisfactory remedy. 
      </p>
      <p>
        If you do not receive a response from us within the specified period, or are dissatisfied with our response, you may then lodge your complaint with the Office of the Australian Information Commissioner (<strong>OAIC</strong>). To lodge a complaint with the OAIC you can either submit a Privacy Complaint Form online or submit the form to the OAIC by mail, fax or email. The Privacy Complaint Form and further details on how to lodge a complaint with the OAIC can be accessed via the OAIC website at: https://www.oaic.gov.au/individuals/how-do-i-make-a-privacy-complaint. 
      </p>
    </section>
    <section class="privacy-policy-container">
      <h5>11. CUSTOMER SUPPORT MANAGER CONTACT DETAILS</h5>
      <p>By Email: <br/>contact@jamessmithacademy.com</p>
      <p>By post: <br/>The Privacy Officer<br/>
      James Smith Academy Holdings Pty Ltd<br/>
      121 Beattie Street<br/>
      Balmain Sydney NSW 2041</p>
    </section>
    <section class="privacy-policy-container">
      <h5>12. UPDATES TO OUR PRIVACY POLICY</h5>
      <p>
        This privacy policy is subject to change without prior or separate notification. Any changes will be posted on our website.
      </p>
      <p>
        This privacy policy was last updated on 25 May 2018. 
      </p>
    </section>
  </div>
</div>
{% endcache %}
{% include "main/relative_footer.html" %}
{% endblock content %}
