<footer>
  <div class="container" style="max-width: 700px;">
    <div class="relative-footer">
      <div class="row">
      <div class="col-lg col-md">
        <a  href="/terms">Terms of Service</a>
      </div>
      <div class="col-lg col-md">
        <a  href="/privacy">Privacy Policy</a>
      </div>
      <div class="col-lg col-md">
        <a  href="/cookies-policy">Cookies Policy</a>
      </div>
      <div class="col-lg col-md">
        <a href="/emails/contact-us">
             Contact Us
        </a>
      </div>
      <div class="col-lg col-md">
          <div class="fb-like" data-href="https://www.facebook.com/JamesSmithPT/" data-colorscheme="dark" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
      </div>
    </div>
    </div>
  </div>
  <div class="lower-footer">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          &copy; {% now "Y" %} James Smith Academy Pty Ltd &nbsp; | &nbsp; All Rights Reserved
        </div>
      </div>
    </div>
  </div>
</footer>