{% extends 'base.html' %}

{% block pagetitle %}<title>JSA | Terms of Service</title>{% endblock pagetitle %} 

{% block content %}
{% load cache %}
{% include "main/nav.html" %}
{% cache 86400 terms %}
<div class="terms-wrapper container">
<div style="max-width: 700px; margin:auto;">
<h4 class="text-center">James Smith Academy Website and Services Terms</h4>
<p class="text-center terms-container">Effective from 18/02/2018</p>
<section class="terms-container">
  <p>These terms and conditions (<strong>Terms</strong>) govern your use of the <a href="http://www.jamessmithacademy.com">www.jamessmithacademy.com</a> website (<strong>Website</strong>) and all other services made available to you through the Website (<strong>Services</strong>).&nbsp; <strong>PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE USING THE </strong><a href="http://www.jamessmithacademy.com">www.jamessmithacademy.com</a><strong> WEBSITE. &nbsp;</strong></p>
  <p>If you are a user of subscription and other paid services, the Subscription and Paid Services Terms and Conditions [https://www.jamessmithacademy.com/terms/] (<strong>Subscriber Terms</strong>) apply in addition to these Terms.&nbsp;</p>
  <p><strong>By using or accessing the Website or the Services, you agree to be bound by these Terms, which constitute a contract between you and James Smith Academy Pty Ltd ACN&nbsp;621 129 511 </strong>(&ldquo;<strong>we</strong>&rdquo;, &ldquo;<strong>us&rdquo;</strong> or &ldquo;<strong>our</strong>&rdquo;).&nbsp; <strong>If you do not agree to all of the provisions contained in these Terms, </strong><strong>do not</strong><strong> use the Website.</strong> &nbsp;</p>
  <p>We reserve the right to revise and update these Terms at any time.&nbsp; You should periodically review these Terms.&nbsp; Your continued use of the Website constitutes your acceptance of, and agreement to, any revised Terms.</p>
  <p><strong>You must be at least 18&nbsp;years old to use the Website.&nbsp; If you are under 18&nbsp;years old, you must not create an account or use the Website.</strong></p>
  <p>Please also see our Privacy Policy, which is available at (https://www.jamessmithacademy.com/privacy/).</p>
</section>

<section class="terms-container">
<ol>
  <li>
    <h6>GENERAL</h6>
    <ol>
      <li>
        <p><strong>Definitions:</strong> In these Terms,</p>
        <p><strong>Access Mechanism</strong> has the meaning given in clause 2.2(b).</p>
        <p><strong>Affiliates</strong> means James Smith Academy Pty Ltd ACN 621 129 511 and any subsidiary, holding company or other related body corporate (within the meaning of the Corporations Act 2001 (Cth)) of James Smith Academy Pty Ltd.</p>
        <p><strong>Claim</strong> means in respect of any person, any claim, action or proceeding, judgment, damage, loss, cost, demand, suit or proceeding for damages, debt, restitution, equitable compensation, account, injunction, specific performance, expense or liability incurred by or to or made or recovered by or against the person, however arising and whether present, unascertained, immediate, future or contingent.</p>
        <p><strong>content</strong> includes information, software, photographic material, video, text, graphics, music, sounds, comments, messages, feedback, and all other content of any kind.</p>
        <p><strong>Login Details</strong> has the meaning given in clause 2.2(b).</p>
        <p><strong>Prohibited Act</strong> has the meaning given in clause 2.3.</p>
        <p><strong>Protected Content</strong> has the meaning given in clause 3.1.</p>
        <p><strong>Services</strong> means all services made available to you through the Website.</p>
        <p><strong>Subscriber Terms</strong> means the Subscription and Paid Services Terms and Conditions https://www.jamessmithacademy.com/terms/ which apply to subscription and other paid services offered by us.</p>
        <p><strong>Subscription Area</strong> has the meaning given in clause 2.7.</p>
        <p><strong>Uploaded Content</strong> has the meaning given in clause 3.3(a)i.</p>
        <p><strong>User Account</strong> has the meaning given in clause 2.1.</p>
        <p><strong>User Account Only Areas</strong> has the meaning given in clause 2.1.</p>
        <p><strong>User Account Details</strong> has the meaning given in clause 2.2(a).</p>
        <p><strong>Third Party Content</strong> has the meaning given in clause 4.1(e).</p>
        <p><strong>Website</strong> means www.jamessmithacademy.com and all sites or pages hosted at or through www.jamessmithacademy.com. </p>
      </li>
      <li>
        <p><strong>Interpretation:</strong> Unless otherwise stated in these Terms:- (a) words importing the singular include the plural and vice versa; and any gender includes the other gender; (b) if a word or phrase is defined, cognate words and phrases have corresponding definitions; (c) a reference to a <strong>person</strong> or a <strong>party</strong> includes that person’s or party’s legal personal representative, executors, administrators, successors and permitted assigns; (d) a right includes a benefit, remedy, discretion, authority or power; (e) an obligation includes a warranty or representation and a reference to a failure to observe or perform an obligation includes a breach of warranty or representation; (f) where there are two or more persons bound or to be bound by any agreement or obligation, such agreement or obligation binds each of those persons severally and any two or more of them jointly; (g) a reference to a document or agreement, including these Terms, includes a reference to that document or agreement as novated, altered or replaced from time to time; (h) a reference to any thing includes the whole or part of that thing and a reference to a group of things or persons includes each thing or person in that group; and (i) no rule of construction applies to the disadvantage of a party because that party was responsible for the preparation of these Terms.</p>
      </li>
    </ol>
  </li>

  <li>
    <h6>USER ACCOUNT, ACCESS TO, AND USE OF WEBSITE AND SERVICES</h6>
    <ol>
      <li>
        <p>In order to access certain areas of the Website, you must create a user account (<strong>User Account</strong>).  Such areas are referred to in these Terms as “<strong>User Account Only Areas</strong>”.   You must not access any User Account Only Area without a valid User Account.</p>
      </li>
      <li>
          <p>In creating a User Account you warrant and agree that:</p>
          <ol>
            <li type="a">
              any information you provide as part of your user account, including (without limitation) your name, address and other identifying information is accurate, current and complete (<strong>User Account Details</strong>);
            </li>
            <li type="a">
              you will keep confidential and not provide to any person all login details, including (without limitation) any username, password, and/or password hint(s) chosen by you or assigned to you by us (<strong>Login Details</strong>), and any other mechanism for accessing or logging on to the Website, User Account or User Account Only Area (<strong>Access Mechanism</strong>);
            </li>
            <li type="a">
              you will not allow any other person to use your Login Details to access the Website, your User Account or the Services;
            </li>
            <li type="a">
              we may rely on your User Account Details being accurate, complete and current unless and until you notify us that your User Account Details are no longer accurate, complete or current (as the case may be);
            </li>
            <li type="a">
              you are solely responsible for all the activities that occur under your User Account, whether or not engaged in by you;
            </li>
            <li type="a">
              you will comply with all conditions, usage restrictions or other requirements in respect of the Login Details (including any directions to use or stop using, temporarily or indefinitely, the Login Details) as notified or disclosed to you by us or any of our Affiliates or authorised representatives from time to time;
            </li>
            <li type="a">
              you will immediately cease using any Login Details or Access Mechanism if we or any of our Affiliates or authorised representatives notify you or, if you become aware, that your permission to use those Login Details or Access Mechanism has been withdrawn or expires;
            </li>
            <li type="a">
              you will immediately notify us if you become aware or suspect that the security of the Login Details or Access Mechanism has been compromised for any reason, or if you suspect someone else has used or is using your Login Details; and
            </li>
            <li type="a">
              you must keep your User Account Details up to date during so long as your User Account remains active; and
            </li>
            <li type="a">
              you have no proprietary interest of any kind in your User Account, Login Details or any Access Mechanism;  
            </li>
          </ol>
      </li>
      <li>
        <p><strong>Prohibited Acts:</strong> You must not use the Website or Services, and must not allow your User Account to be used to, do any of the following (each a <strong>Prohibited Act</strong>):</p>
        <ol>
          <li type="a">
            post offensive, defamatory, harmful, insulting, intimidating, menacing, harassing, discriminatory, unlawful, false or misleading, content of any kind;
          </li>
          <li type="a">
            post content of any kind that poses, or may pose, a risk to any person;
          </li>
          <li type="a">
            threaten, harass, humiliate or ridicule any person, or otherwise engage in unlawful conduct;
          </li>
          <li type="a">
            post material of which you are not the lawful owner; 
          </li>
          <li type="a">
            post personal information about a person without their prior consent or breach any privacy law; 
          </li>
          <li type="a">
            infringe another person’s copyright, trade mark or any other intellectual property right; or
          </li>
          <li type="a">
            access another person’s User Account or Login Details;
          </li>
          <li type="a">
            knowingly transmit or use any virus, worm, trojan, or other malicious or unauthorised code or disabling feature to or via the Website or the Services;
          </li>
          <li type="a">
            interfere with or disrupt the proper and intended operation of the Website or the Services, or use any means of automatically searching or mining data from the Website; or
          </li>
          <li type="a">
            attempt to do, or facilitate or encourage or assist another person to do, any Prohibited Act.
          </li>
        </ol>
      </li>
      <li>
        <p><strong>Suspension or termination of your User Account</strong>: We may disable, suspend or terminate your (or any other) User Account, Login Details and/or any Access Mechanism at any time without notice if:</p>
        <ol>
          <li type="a">
            you notify us that you wish to terminate or suspend your User Account;
          </li>
          <li type="a">
            your User Account becomes inactive (including, without limitation, if you have not logged in to your User Account for more than 30 consecutive days);
          </li>
          <li type="a">
            we suspect (in our sole discretion) that your User Account Details or Login Details are out of date or inaccurate or that your Account, Login Details or the Access Mechanism have been compromised in any way;
          </li>
          <li type="a">
            we believe (in our sole discretion) that you have engaged in, are engaging in, or are likely or intend to engage in a Prohibited Act, or your User Account has been, is being, or is likely to be, used to engage in a Prohibited Act;
          </li>
          <li type="a">
            we consider (in our sole discretion) it is necessary in order to comply with any law or to protect the safety of any person.
          </li>
        </ol>
      </li>
      <li>
        <strong>Removal and moderation of content:</strong> We may remove from the Website and/or the Services at any time, without notice, content of any kind (whether or not posted by you) which we consider offensive, defamatory, harmful, insulting, intimidating, menacing, harassing, discriminatory, unlawful, false or misleading or otherwise inappropriate, or otherwise for any reason in our sole and absolute discretion.
      </li>
      <li>
        <strong>Your content, User Account Information and other material:</strong> Except as required under privacy law and our Privacy Policy, you agree that we have no obligation to store, retain or destroy your User Account, User Account Information or any other content uploaded or posted by you to, or through the Website or the Services, whether your User Account is active or has been suspended, terminated or otherwise.
      </li>
      <li>
        <strong>Subscription Areas:</strong> Certain areas of the Website may only be accessed with a valid subscription with us or an Affiliate that authorises access to that area (Subscription Area).  You must not access any Subscription Area without a valid applicable subscription.  You may also be required to have a valid User Account.
      </li>
    </ol>
  </li>
  <li>
    <h6>CONTENT AND INTELLECTUAL PROPERTY</h6>
    <ol>
      <li>
        <strong>Limited licence to use content:</strong> Unless otherwise specified, we grant you a non-exclusive, non-transferable, limited right to access the Website, the Services and the content available for your personal, non-commercial use, provided that you comply fully with these Terms (<strong>Protected Content</strong>).  You acknowledge that nothing in these Terms or your use of the Website or the Services grants to you any proprietary interest or right to sublicense any of Protected Content or any content you obtain from the Website, the Services or your use of them, including (without limitation) when it is downloaded to your computer or other device.
      </li>
      <li>
        You acknowledge that the Website and Services contain content that is or may be protected by copyright, patents, trademarks or other intellectual property rights.  You must not modify, publish, transmit, distribute, perform, purport to sell, create derivative works of, or in any way exploit, any Protected Content, whether in whole or in part, without our prior written consent. 
      </li>
      <li>
        <p><strong>Content posted or uploaded by you:</strong></p>
        <ol>
          <li type="a">
            You grant to us, our Affiliates and our and their successors and assigns, to the fullest extent permitted by law:
            <ol>
              <li type="i">
                a perpetual, irrevocable, non-exclusive right and license, including the right to sublicense and consent to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, communicate to the public, perform, enter into commercial rental arrangements in respect of and display any content you post or upload to the Website or using the Website or the Services (<strong>Uploaded Content</strong>), whether in whole or in part and with or without the use of your name, worldwide and/or to incorporate the Uploaded Content in other works in any form, media, or technology now known or later developed, for the full term of any copyright, trademarks and other intellectual, personal and proprietary rights that may subsist in such content, for any purpose, whether commercial, advertising or otherwise;  
              </li>
              <li type="i">
                your irrevocable and unconditional consent to us, our Affiliates, or any person authorised by us or them, using, disclosing, reproducing, copying, adapting, publishing, performing, exhibiting, communicating or transmitting the Uploaded Content or any adaptation of it (or any part of it or of any such adaptation) anywhere in the world: (a) in whatever form and in whatever circumstances we think fit, including the making of any distortions, additions or alterations to the Uploaded Content or any adaptation of it (or any part of it or of such adaptation); and (b) without identifying you as the author or otherwise identifying you in respect of the Uploaded Content.
              </li>
            </ol>
          </li>
          <li type="a">
            You hereby waive any moral rights you may have in any Uploaded Content.
          </li>
          <li type="a">
            You warrant that: 
            <ol>
              <li type="i">
                you are the owner of all copyright and all other intellectual property rights (if any) subsisting in any Uploaded Content, or are otherwise authorised to deal with the Uploaded Content and grant the rights and consents set out in this clause 3.3; and
              </li>
              <li type="i">
                your use of the Uploaded Content, and our use of the Uploaded Content, including (without limitation) the hosting of the Uploaded Content on the Website, will not infringe the copyright or other intellectual property rights of any person or entity;
              </li>
              <li type="i">
                the depiction or identification of any person in any Uploaded Content is with that person’s prior consent, which has not been revoked;
              </li>
              <li type="i">
                you will not upload or post images of, or content about or relating to, any person under the age of 18.
              </li>
            </ol>
          </li>
        </ol>
      </li>
      <li>
        <strong>Injunctions</strong> <br/>
        You acknowledge that any breach by you of this clause 3 may cause damage to us which cannot adequately be remedied by damages and that if you breach or act in a way which threatens to breach this clause 3, we may seek injunctive relief against you.
      </li>
      <li>
        <strong>Copyright Complaints</strong><br/>
        If you believe that your work has been copied, reproduced or used in a way that constitutes copyright infringement or are aware of another person doing so, please contact our designated copyright representative: James Shaw, 121 Beattie Street, Balmain, Sydney - contact@jamessmithacademy.com
      </li>
    </ol>
  </li>
  <li>
    <h6>DISCLAIMER, LIMITATION OF WARRANTY, AND LIMITATION OF LIABILITY</h6>
    <ol>
      <li>
        <strong>Disclaimer:</strong>
        <ol>
          <li type="a">
            The opinions, information and other content contained on the Website and the Services are for informational and entertainment purposes only, are not intended as medical or nutritional advice and are not a substitute for professional advice, diagnosis or treatment of any disease or condition. <strong>You should consult your physician or other health care professional before starting any nutrition and/or fitness program to determine if it is appropriate for you.</strong>
          </li>
          <li type="a">
            We make no representation that any information on the website is in every respect accurate, current, or complete.  To the fullest extent permitted by law, we assume no responsibility for any error or omission in any content or information published on or available through the Website or the Services, or that it is suitable for your personal circumstances.  You are encouraged to confirm any such information with other sources and make your own assessment of its reliability and suitability for your individual circumstances.
          </li>
          <li type="a">
            <strong>External and Third Party Links and Sites:</strong> The Website and Services may contain links to external websites, and you may be offered a number of automatic links to other websites that may interest you (<strong>External and Third Party Links and Sites</strong>). We accept no responsibility for, or liability in respect of, and make no warranty whatsoever as to, the content, security, privacy practices, accessibility, or terms and conditions of External and Third Party Links and Sites.  <strong>You agree and acknowledge that if you access, use, or rely upon any External and Third Party Links and Sites you do so <u>entirely at your own risk.</u></strong> 
          </li>
          <li type="a">
            Third Party Content: Other users of the Website and Services, third party advertisers and other third parties may from time to time post or publish information or content (including advertising material) on the Website (including without limitation Recipes, Nutrition Guidance, and the James Smith Academy forum) or through the Services (<strong>Third Party Content</strong>).  We make no representation whatsoever as to the accuracy, quality or otherwise in respect of any Third Party Content. <strong>You agree and acknowledge that any use or or reliance upon any Third Party Content is <u>entirely at your own risk.</u></strong>
          </li>
          <li type="a">
            <strong>No duty to warn or advise:</strong> There are risks associated with any health, exercise and nutritional activity.  You agree and acknowledge that the warnings set out on the Website, in the Services and these Terms are not advice or a comprehensive statement of risk and are not intended to be relied upon as such. <strong>To the extent permitted by law, you agree that nothing in any warning or other information set out or communicated in or through the Website or the Services or these terms shall give rise to any duty to warn of any risk or any other matter, duty to advise or other duty of care.</strong>
          </li>
          <li type="a">
            <strong>Social media and member forum:</strong> Other users of the Website and Services or other third parties may from time to time establish social media groups, pages, forums or websites.  These groups, pages, forums or websites are not in any way affiliated with James Smith Academy. We do not endorse, curate or authorise any of those groups, pages, forms or websites, or any content contained or posted on them.  We make no representation and give no warranty (whether as to accuracy, quality, completeness or otherwise), and accept no responsibility or liability for, the conduct or content of any such groups, pages, forums, posts websites or content. 
          </li>
        </ol>
      </li>
      <li>
        <strong>Limitation of warranty:</strong> To the fullest extent permitted by law, and except as otherwise expressly specified, neither we, nor any of our Affiliates, officers, directors, employees, agents, information providers, partners, advertisers, licensors or suppliers give any warranty of any kind, whether express or implied, about the Website, the Services or any content, material or representations posted on, through or with respect to the Website or the Services, or about any External and Third Party Links and Sites or Third Party Content.
      </li>
      <li>
        <strong>Release:</strong> To the fullest extent permitted by law, you release and forever waive any and all Claims you may have against us, our Affiliates, officers, directors, employees, agents, information providers, partners, advertisers, licensors or suppliers for any loss, damage, expense or injury (including any Claim) you sustain arising out of or in connection with your access to (or inability to access) or use of the Website or the Services or any External and Third Party Links and Sites or any Third Party Content.
      </li>
      <li>
        <strong>Limitation of liability:</strong> To the fullest extent permitted by law you agree that: 
        <ol>
          <li type="a">
            neither we, nor any of our Affiliates, officers, directors, employees, agents, information providers, partners, advertisers, licensors or suppliers will be liable to you or any person for any Claim resulting from or arising out of:
            <ol>
              <li type="i">
                your use or inability to use the Website or the Services, including (without limitation) their unavailability at any time or for any period, whether or not by reason of matters within our control or within the control of any vendor providing software or services support to us;
              </li>
              <li type="i">
                unauthorised access or alterations of your transmissions to or from the Website by a third party;
              </li>
              <li type="i">
                any viruses that may infect your computer equipment or other property whether by reason of your access to or use of the Website or Services, or otherwise;
              </li>
              <li type="i">
                activities resulting from the loss or misuse of your User Account Details, Login Details or other Access Mechanism;
              </li>
              <li type="i">
                statements or conduct of any third party;
              </li>
              <li type="i">
                any indirect or consequential loss, or any economic loss; or 
              </li>
              <li type="i">
                any other matter relating to the Website or the Services, except to the extent resulting from our gross negligence or wilful default;
              </li>
            </ol>
            <br/>
            Each of the limitations in clauses 4.4(a)i-vii is a separate limitation of liability.  To the extent any of them is held to be void or unenforceable, it and any other provisions shall be read down or severed to the extent necessary to cure the invalidity or unenforceability.
          </li>
          <li type="a">
            to the extent our liability and the liability of any of our Affiliates, officers, directors, employees, agents, information providers, partners, advertisers, licensors or suppliers, is not otherwise excluded, or is unable to be excluded, that liability, howsoever arising (including any breach of these Terms or other agreement with you) and of whatever kind (whether based on breach of contract, tort, strict or product liability, breach of warranty or otherwise), shall be limited to direct damages up to the amount (if any) you have paid us or our Affiliates for the use of the Website or the Services in the immediately preceding six (6) months, or $2,000 (whichever greater);
          </li>
        </ol>
      </li>
      <li>
        The limitations on and exclusion of liability for damages in these Terms shall apply regardless of whether the liability is based on breach of contract, tort, strict or product liability or breach of warranty.
      </li>
      <li>
        You acknowledge that your use of the Website and Services are entirely at your own risk, and you are responsible for taking all precautions you deem necessary or advisable to protect you against any Claim, risk, hazard, loss or damage that may arise from your use of the Website or the Services.
      </li>
    </ol>
  </li>
  <li>
    <h6>INDEMNITY</h6>
    <ol>
      <li>
        To the fullest extent permitted by law, you agree to indemnify, defend and forever hold harmless us, our Affiliates, and our and their officers, directors, employees, agents, partners, information providers, contractors, advertisers, licensors and suppliers from and against all Claims, including reasonable legal costs, resulting from any breach of these Terms by or any activity related to your User Account or use of the Website or the Services (including, without limitation, infringement of any third party’s copyright, trade mark, patent or other intellectual property rights anywhere in the world or any negligent or wrongful conduct) by you and any liability for any Claim, whether direct, indirect, incidental, special and/or consequential, including loss of profits or income, suffered by us, any of our Affiliates or you, or claims made against us or any of our Affiliates, or any of our or their officers, directors, employees, agents, partners, information providers, contractors, advertisers, licensors and suppliers or you which result from your breach of these Terms, or your use of the Website or the Services.
      </li>
      <li>
        Each of the indemnities in clause 5.1 is a separate obligation by you to us.  To the extent any of them is held to be void or unenforceable, it and any other provisions shall be read down or severed to the extent necessary to cure the invalidity or unenforceability.
      </li>
    </ol>
  </li>
  <li>
    <h6>AMENDMENT, VARIATION OR ADDITION TO THESE TERMS</h6>
    We may amend, vary, revise, or modify (including by deleting or adding terms) these Terms at any time and without prior notice.  By continuing to use the Website and/or the Services you agree to be bound by the amended Terms. 
  </li>
  <li>
    <h6>PRIVACY</h6>
    <ol>
      <li type="a">
        When you provide us with personal information to complete a transaction, verify your credit card or subscribe to membership, you are consenting to our collection and use of information provided for the specific purpose for which it is provided. Your personal information will be handled in accordance with our Privacy Policy https://www.jamessmithacademy.com/privacy/. You may withdraw your consent at any time by contacting contact@jamessmithacademy.com.
      </li>
      <li type="a">
        We may disclose your personal information if required to do so by law or if you violate our Terms and Conditions of Use.
      </li>
      <li type="a">
        We use and store cookies in accordance with our Privacy Policy.
      </li>
    </ol>
  </li>
</ol>
</section>

<section class="terms-container">
<h4 class="text-center">Subscription and Paid Services Terms and Conditions</h4>
<p>
  These terms and conditions (<strong>Subscriber Terms</strong>) govern your use of the subscription and other paid services (<strong>Paid Services</strong>) offered by <strong>James Smith Academy Pty Ltd ACN 621 129 511 (“we”, “us” or “our”).  By clicking “I accept these terms and conditions” or otherwise subscribing to or using the Paid Services, you agree to be bound by these Subscriber Terms.</strong>
</p>
<p>
  These Subscriber Terms apply in addition to the James Smith Academy Website and Services Terms [https://www.jamessmithacademy.com/terms/] (Website Terms) which govern your use of the James Smith Academy website and all services available through the website to the extent not otherwise provided for in these Subscriber Terms.
</p>
<p>
  We reserve the right to revise and update these Subscriber Terms at any time.  Any amendments to the Subscriber Terms takes effect on the first renewal of your Subscription or applicable Paid Service, and for any new Subscriptions or Paid Services, after the revised Subscriber Terms are posted on the Website.  The latest Subscriber Terms are available for download at [https://www.jamessmithacademy.com/terms/].
</p>
<p>
  <strong>You must be at least 18 years old to use a Subscription or other Paid Services.</strong>
</p>
<p>
  Please also see our Privacy Policy, which is available at (https://www.jamessmithacademy.com/privacy/).
</p>

<ol>
  <li>
    <h6>GENERAL</h6>
    <ol>
      <li>
        <strong>Definitions: </strong>In these Terms,
        <p>
          <strong>Affiliates</strong> means James Smith Academy Pty Ltd ACN 621 129 511 and any subsidiary, holding company or other related body corporate (within the meaning of the Corporations Act 2001 (Cth)) of James Smith Academy Pty Ltd.
        </p>
        <p>
          <strong>Claim</strong> means in respect of any person, any claim, action or proceeding, judgment, damage, loss, cost, demand, suit or proceeding for damages, debt, restitution, equitable compensation, account, injunction, specific performance, expense or liability incurred by or to or made or recovered by or against the person, however arising and whether present, unascertained, immediate, future or contingent.
        </p>
        <p>
          <strong>Coach Support</strong> has the meaning given in clause 2.5.
        </p>
        <p>
          <strong>content</strong> includes information, software, photographic material, video, text, graphics, music, sounds, comments, messages, feedback, and all other content of any kind.
        </p>
        <p>
          <strong>Paid Services</strong> means any paid services offered by us or our Affiliates.
        </p>
        <p>
          <strong>Subscription</strong> means a subscription to use Paid Services.
        </p>
        <p>
          <strong>Subscription Access</strong> means access to the Subscription Only Areas as set out in clause 2.1.
        </p>
        <p>
          <strong>Subscription Content</strong> means the content in the Subscription Only Areas as set out in clause 2.3.
        </p>
        <p>
          <strong>Subscription Only Areas</strong> means the subscription only areas of the Website.
        </p>
        <p>
          <strong>Training Programs</strong> has the meaning given in clause 2.5.
        </p>
        <p>
          <strong>User Account and User Account Details</strong> have the meaning given in the Website Terms.
        </p>
        <p>
          <strong>Website</strong> means www.jamessmithacademy.com and all sites or pages hosted at or through www.jamessmithacademy.com.
        </p>
        <p>
          <strong>Website Terms</strong> means the James Smith Academy Website and Services Terms [https://www.jamessmithacademy.com/terms/].
        </p>
      </li>
      <li>
        <strong>Interpretation:</strong> Unless otherwise stated in these Subscriber Terms:- (a) words importing the singular include the plural and vice versa; and any gender includes the other gender; (b) if a word or phrase is defined, cognate words and phrases have corresponding definitions; (c) a reference to a person or a party includes that person’s or party’s legal personal representative, executors, administrators, successors and permitted assigns; (d) a right includes a benefit, remedy, discretion, authority or power; (e) an obligation includes a warranty or representation and a reference to a failure to observe or perform an obligation includes a breach of warranty or representation; (f) where there are two or more persons bound or to be bound by any agreement or obligation, such agreement or obligation binds each of those persons severally and any two or more of them jointly; (g) a reference to a document or agreement, including these Subscriber Terms, includes a reference to that document or agreement as novated, altered or replaced from time to time; (h) a reference to any thing includes the whole or part of that thing and a reference to a group of things or persons includes each thing or person in that group; (i) no rule of construction applies to the disadvantage of a party because that party was responsible for the preparation of these Subscriber Terms; and (j) a reference to a provision or clause is a reference to that provision or clause in these Subscriber Terms.
      </li>
    </ol>
  </li>
  <li>
    <h6>SUBSCRIPTIONS</h6>
    <ol>
      <li>
        When you enter into a Subscription with us, you will be granted access to the Subscription Only Areas of the Website (<strong>Subscription Access</strong>) for the term of your Subscription, subject to these Subscriber Terms and the Website Terms.
      </li>
      <li>
        Monthly subscriptions will continue until terminated in accordance with these Subscription Terms.  You may terminate a monthly subscription any time through your User Account.  To learn how to terminate your monthly subscription, please contact us on contact@jamessmithacademy.com. Any such termination will take effect at the end of the current monthly period.
      </li>
      <li>
        Your Subscription Access constitutes a non-exclusive, non-transferable, limited right to access, use and display on your personal devices the content published in the Subscription Only Areas, including coaching videos, nutrition posts and recipes by other users (Subscription Content).
      </li>
      <li>
        The Subscription Content is for your personal, non-commercial use only.  You may not assign, transfer or sublicense any of these rights or publish, share, any Subscription Content to any other person or third party or modify any Subscription Content, or attempt to do any of these things.  If you fail to comply with the restrictions in this clause 2.4, we may cancel or terminate your Subscription without prior notice or liability to you.
      </li>
      <li>
        <strong>Coach Support and Training Programs:</strong> Your Subscription Access includes access to the “Coach Support” section of the Website through which you can ask our coaches questions relating to your training and fitness (<strong>Coach Support</strong>), and the “Training Programs” section of the Website through which you can request a customised training program from one of our coaches (<strong>Training Programs</strong>).  Your access to Coach Support and Training Programs are subject to the following limitations:
        <ol>
          <li type="a">
            Coach Support and Training Programs are not intended to constitute medical or nutritional advice and are not a substitute for professional advice, diagnosis or treatment of any disease or condition. <strong>You should consult your physician or other health care professional before starting any nutrition and/or fitness program to determine if it is appropriate for you.</strong>
          </li>
          <li type="a">
            Without limiting anything in clause 2.5(a), persons subject to a medical or health condition, pregnant women or who suffer from a disability or impairment are strongly urged to seek professional medical advice prior to commencing any form of exercise, training or nutritional program.  
          </li>
          <li type="a">
            You must provide true and accurate information regarding your health and ability to undertake any training, exercise or program.  We may refuse to provide access to Coach Support, Training Programs or other similar services if we or one of our coaches believe that training or exercise may pose a risk or hazard to your health or safety, or that you have provided inaccurate or incomplete information regarding your health or ability to undertake training or exercise.  
          </li>
          <li type="a">
            By using the Coach Support and/or Training Programs you warrant and represent that you are able to undertake them safely and are not subject to any medical or other condition which may affect your ability to undertake them, or any part of them, safely, or have been approved by a properly qualified medical professional to do so despite that condition.
          </li>
        </ol>
      </li>
      <li>
        Our Subscriptions and Paid Services, including Coach Support and Training Programs are not intended for persons under 18 years of age. <strong>If you are under 18 years old, you must not use the Website, or any of our Paid Services.</strong> By continuing to use the Subscriptions and Paid Services after the Renewal Date, you agree to their renewal.
      </li>
    </ol>
  </li>
  <li>
    <h6>GENERAL AVAILABILITY OF SERVICES</h6>
    <ol>
      <li>
        The availability of our services, including (without limitation) the Website, Subscription Content, Subscription Only-Areas, Coach Support and Training Programs, may be limited based on demographic, geographic, health or other criteria we from time to time determine. You agree and acknowledge that we may terminate your Subscription and/or Paid Services, at any time based on these criteria.  In the event of such termination, we will refund any applicable fees and charges for the remaining term of your Subscription or other Paid Services.
      </li>
      <li>
        Coach Support, Training Programs, and other services involving access to our coaches or other interactive access or communication are subject to coach availability and are limited to a maximum of 10 minutes per session.  Sessions (including any non realtime session, chat or other communication) may be terminated by our coaches at any time for any reason they consider appopriate.  Coach Support, Training Programs and any other services involving our coaches are ordinarily provided between 9 am and 5 pm (AEST) Monday to Friday.  However, this is an indication only and actual times may vary.   We may withdraw Coach Support or Training Programs from our offerings at any time and without prior notice to you.
      </li>
      <li>
        You agree and acknowledge that interruptions may occur to our services, including (without limitation) the Website, Subscription Content, Subscription Only-Areas, Coach Support and Training Programs, from time to time, whether or not due to matters within our control.   You agree that we are not responsible and have no liability for any temporary or other interruption to our services, whether or not due to matters within our control.
      </li>
    </ol>
  </li>
  <li id="pricing-payment">
    <h6>PRICING AND PAYMENT</h6>
    <ol>
      <li>
        <strong>No refund or exchange except as required by law:</strong> Subject to any statutory or other rights which cannot by law be excluded or limited, and except as otherwise expressly set out in these Subscriber Terms, all fees and charges, including purchases for digital downloads and subscriptions from the Website, are non-refundable and non-exchangeable.
      </li>
      <li>
        <strong>Pricing:</strong> By purchasing a Subscription or other Paid Services, you agree to pay the price for that Subscription or those Paid Services specified by us at the time of ordering (<strong>Price</strong>).  
      </li>
      <li>
        <strong>Changes in pricing:</strong> We may increase or vary the fees and charges for Subscriptions or Paid Services, or institute new fees or charges, at any time in our sole and absolute discretion by publishing them on the Website or by such other means we consider appropriate.  Any increase in charges or fees, or new charges or fees, will take effect from the date of your next renewal or purchase of the Subscription or Paid Services to which those charges or fees apply, provided that in the case of automatic renewal, we have given you 7 days’ written notice of the change. 
      </li>
      <li>
        <strong>Currency and GST:</strong> Pricing and currency may vary depending on the location from which our Paid Services are purchased and may be subject to local taxes and charges. For customers in: 
        <ol>
          <li type="a">
            <i>For customers in Australia:</i> Prices are in Australian dollars (AUD) and include GST.
          </li>
          <li type="a">
            <i>For customers in the United Kingdom:</i> Prices are in British pounds (GBP) and include VAT.
          </li>
          <li type="a">
            <i>For customers in the United States or outside of Australia and the United Kingdom:</i> Prices are in US dollars (USD). 
          </li>
        </ol>
      </li>
      <li>
        <strong>Payment:</strong>
        <ol>
          <li type="a">
            All payments to us are processed by a third party payment processing provider (<strong>Third Party Payment Service</strong>).  By purchasing a Subscription or other Paid Services, you agree to be bound by any terms and conditions of that Third Party Payment Service in addition to these Subscriber Terms.  The Third Party Payment Service or your bank or other financial institution may require you to pay processing fees or other fees and charges.  Any such fees and charges are your sole responsibility and are not included in the price of your Subscription or other Paid Services unless otherwise specified.  We accept no responsibility for your use of any Third Party Payment Service.
          </li>
          <li type="a">
            Except in the case of recurring services (such as a monthly subscription), payment must be made at the time of purchasing your Subscription or other Paid Services.  In the case of recurring services, you will be charged on a recurring basis at the commencement of each monthly (or other specified) period.
          </li>
        </ol>
      </li>
      <li>
        <strong>Keeping your information up to date:</strong> You agree to keep your account and other information including your email address and payment details up to date so that we can process payment, complete your purchase(s), and contact you as needed in connection with your purchases or account.
      </li>
      <li>
        <strong>Incidental charges and expenses:</strong> In addition to any fees or charges payable to us, you agree that you remain responsible for all charges, fees or expenses associated with signing up for, using and connecting to the Subscriptions and other Paid Services, including (without limitation) travel costs, telephone or internet access and charges, computer or other equipment. 
      </li>
      <li>
        <strong>Termination for incorrect or invalid payment details:</strong> If your your payment is declined or fails for any reason, we may cancel your Subscription or Paid Services immediately without prior notice to you. 
      </li>
    </ol>
  </li>
  <li>
    <h6>JAMES SMITH ACADEMY WEBSITE AND SERVICES TERMS</h6>
    <ol>
      <li>
        The Website Terms apply to your use of the Website and the Services (as defined in the Website Terms), except to the extent otherwise provided in these Subscriber Terms.  To the extent that these Subscriber Terms do not provide for a particular matter, the Website Terms apply to that matter as if a reference to “Services” included a reference to Subscriptions or Paid Services.
      </li>
    </ol>
  </li>
  <li>
    <h6>DISCLAIMER, LIMITATION OF WARRANTY, AND LIMITATION OF LIABILITY</h6>
    <oL>
      <li>
        <strong>Disclaimer:</strong>
        <ol>
          <li type="a">
            The opinions, information and other content contained in or on, or provided through, the Website, Subscription Content, Coach Support, Training Programs and the Subscriptions and other Paid Services are for informational and entertainment purposes only, are not intended as medical or nutritional advice and are not a substitute for professional advice, diagnosis or treatment of any disease or condition. <strong>You should consult your physician or other health care professional before starting any nutrition and/or fitness program to determine if it is appropriate for you.</strong>
          </li>
          <li type="a">
            We make no representation that any information on the website is in every respect accurate, current, or complete.  To the fullest extent permitted by law, we assume no responsibility for any error or omission in any content or information published on or available through the Website, Subscription Content, Coach Support, Training Programs and the Subscriptions and other Paid Services, or that it is suitable for your personal circumstances.  You are encouraged to confirm any such information with other sources and make your own assessment of its reliability and suitability for your individual circumstances.
          </li>
          <li type="a">
            <strong>External and Third Party Links and Sites:</strong> The Website, Subscription Content, Coach Support, Training Programs and the Subscriptions and other Paid Services may contain links to external websites, and you may be offered a number of automatic links to other websites that may interest you (<strong>External and Third Party Links and Sites</strong>). We accept no responsibility for, or liability in respect of, and make no warranty whatsoever as to, the content, security, privacy practices, accessibility, or terms and conditions of External and Third Party Links and Sites. <strong> You agree and acknowledge that if you access, use, or rely upon any External and Third Party Links and Sites you do so <u>entirely at your own risk.</u></strong>
          </li>
          <li type="a">
            Third Party Content: Other users of the Website, third party advertisers and other third parties may from time to time post or publish information or content (including advertising material) on the Website (including without limitation Recipes, Nutrition Guidance, and the James Smith Academy forum), Subscription Content, Coach Support, Training Programs and the Subscriptions and other Paid Services (<strong>Third Party Content</strong>).  We make no representation whatsoever as to the accuracy, quality or otherwise in respect of any Third Party Content. <strong>You agree and acknowledge that any use or or reliance upon any Third Party Content is <u>entirely at your own risk.</u></strong>
          </li>
          <li type="a">
            <strong>No duty to warn or advise:</strong> There are risks associated with any health, exercise and nutritional activity.  You agree and acknowledge that the warnings set out or provided on, in or through the Website, Subscription Content, Coach Support, Training Programs and the Subscriptions and other Paid Services are not advice or a comprehensive statement of risk and are not intended to be relied upon as such.  <strong>To the extent permitted by law, you agree that nothing in any warning or other information set out or communicated in or through the Website or the Subscriptions and other Paid Services or these terms shall give rise to any duty to warn of any risk or any other matter, duty to advise or other duty of care.</strong>
          </li>
          <li type="a">
            <strong>Social media and member forum:</strong> Other users of the Website and Services or other third parties may from time to time establish social media groups, pages, forums or websites.  These groups, pages, forums or websites are not in any way affiliated with James Smith Academy. We do not endorse, curate or authorise any of those groups, pages, forms or websites, or any content contained or posted on them.  We make no representation and give no warranty (whether as to accuracy, quality, completeness or otherwise), and accept no responsibility or liability for, the conduct or content of any such groups, pages, forums, posts websites or content.   
          </li>
        </ol>
      </li>
      <li>
        <strong>Limitation of warranty:</strong> To the fullest extent permitted by law, and except as otherwise expressly specified, neither we, nor any of our Affiliates, officers, directors, employees, agents, information providers, partners, advertisers, licensors or suppliers give any warranty of any kind, whether express or implied, about the Website, Subscription Content, Coach Support, Training Programs and the Subscriptions and other Paid Services or any content, material or representations posted on, through or with respect to the Website, Subscription Content, Coach Support, Training Programs and the Subscriptions and other Paid Services, or about any External and Third Party Links and Sites or Third Party Content.
      </li>
      <li>
        <strong>Release:</strong> To the fullest extent permitted by law, you release and forever waive any and all Claims you may have against us, our Affiliates, officers, directors, employees, agents, information providers, partners, advertisers, licensors or suppliers for any loss, damage, expense or injury (including any Claim) you sustain arising out of or in connection with your access to (or inability to access) or use of the Website, Subscription Content, Coach Support, Training Programs and the Subscriptions and other Paid Services or any External and Third Party Links and Sites or any Third Party Content.
      </li>
      <li>
        <strong>Limitation of liability:</strong> To the fullest extent permitted by law you agree that: 
        <ol>
          <li type="a">
            neither we, nor any of our Affiliates, officers, directors, employees, agents, information providers, partners, advertisers, licensors or suppliers will be liable to you or any person for any Claim resulting from or arising out of:
            <ol>
              <li type="i">
                your use or inability to use the Website, Subscription Content, Coach Support, Training Programs and the Subscriptions and other Paid Services, including (without limitation) their unavailability at any time or for any period, whether or not by reason of matters within our control or within the control of any vendor providing software or services support to us;
              </li>
              <li type="i">
                unauthorised access or alterations of your transmissions to or from the Website by a third party;
              </li>
              <li type="i">
                any viruses that may infect your computer equipment or other property whether by reason of your access to or use of the Website, Subscription Content, Coach Support, Training Programs and the Subscriptions and other Paid Services, or otherwise;
              </li>
              <li type="i">
                activities resulting from the loss or misuse of your User Account Details, Login Details or other Access Mechanism (as defined in the Website Terms);
              </li>
              <li type="i">
                statements or conduct of any third party;
              </li>
              <li type="i">
                any indirect or consequential loss, or any economic loss; or 
              </li>
              <li type="i">
                any other matter relating to the Website, Subscription Content, Coach Support, Training Programs and the Subscriptions and other Paid Services, except to the extent resulting from our gross negligence or wilful default;
              </li>
            </ol>
            <br/>
            Each of the limitations in clauses 6.4(a)i to vii is a separate limitation of liability.  To the extent any of them is held to be void or unenforceable, it and any other provisions shall be read down or severed to the extent necessary to cure the invalidity or unenforceability.
          </li>
          <li type="a">
            to the extent our liability and the liability of any of our Affiliates, officers, directors, employees, agents, information providers, partners, advertisers, licensors or suppliers, is not otherwise excluded, or is unable to be excluded, that liability, howsoever arising (including any breach of these Subscriber Terms or other agreement with you) and of whatever kind (whether based on breach of contract, tort, strict or product liability, breach of warranty or otherwise), shall be limited to direct damages up to the amount (if any) you have paid us or our Affiliates for the use of the Website or for the applicable Subscription or Paid Services in the immediately preceding six (6) months, or $2,000 (whichever greater);
          </li>
          <li type="a">
            in the event clause 6.4(b) is unable to be enforced for any reason, to the extent our liability and the liability of any of our Affiliates, officers, directors, employees, agents, information providers, partners, advertisers, licensors or suppliers, is not otherwise excluded, or is unable to be excluded, that liability, howsoever arising (including any breach of these Terms or other agreement with you) and of whatever kind (whether based on breach of contract, tort, strict or product liability, breach of warranty or otherwise), shall be limited to direct damages up to the amount (if any) you have paid us or our Affiliates for the use of the Website and all Subscriptions and Paid Services in the immediately preceding six (6) months, or $10,000 (whichever greater).
          </li>
        </ol>
      </li>
      <li>
        The limitations on and exclusion of liability for damages in these Subscriber Terms shall apply regardless of whether the liability is based on breach of contract, tort, strict or product liability or breach of warranty.
      </li>
      <li>
        You acknowledge that your use of the Website, Subscription Content, Coach Support, Training Programs and the Subscriptions and other Paid Services are entirely at your own risk, and you are responsible for taking all precautions you deem necessary or advisable to protect you against any Claim, risk, hazard, loss or damage that may arise from your use of the Website, Subscription Content, Coach Support, Training Programs and the Subscriptions and other Paid Services.
      </li>
    </oL>
  </li>
  <li>
    <h6>INDEMNITY</h6>
    <ol>
      <li>
        To the fullest extent permitted by law, you agree to indemnify, defend and forever hold harmless us, our Affiliates, and our and their officers, directors, employees, agents, partners, information providers, contractors, advertisers, licensors and suppliers from and against all Claims, including reasonable legal costs, resulting from any breach of these Subscriber Terms by or any activity related to your User Account or use of the Website or the Services (including, without limitation, infringement of any third party’s copyright, trade mark, patent or other intellectual property rights anywhere in the world or any negligent or wrongful conduct) by you and any liability for any Claim, whether direct, indirect, incidental, special and/or consequential, including loss of profits or income, suffered by us, any of our Affiliates or you, or claims made against us or any of our Affiliates, or any of our or their officers, directors, employees, agents, partners, information providers, contractors, advertisers, licensors and suppliers or you which result from your breach of these Terms, or your use of the Website, Subscription Content, Coach Support, Training Programs and the Subscriptions and other Paid Services.
      </li>
      <li>
        Each of the indemnities in clause 7.1 is a separate obligation by you to us.  To the extent any of them is held to be void or unenforceable, it and any other provisions shall be read down or severed to the extent necessary to cure the invalidity or unenforceability.
      </li>
    </ol>
  </li>
  <li>
    <h6>TERMINATION AND CANCELLATION</h6>
    <ol>
      <li>
        We may terminate the Subscription and any Paid Services at any time without prior notice to you if, or if we reasonably suspect that:
        <ol>
          <li type="a">
            you have materially breached these Subscriber Terms or the Website Terms;
          </li>
          <li type="a">
            you have committed any breach of clause 2.5 of these Subscriber Terms, or clauses 2.1, 2.2, 2.3, 2.7 or 3.3(c) of the Website Terms;
          </li>
          <li type="a">
            you are not within a geographical area to which the Subscriptions and Paid Services are available as set out in clause 1 of these Subscriber Terms;
          </li>
          <li type="a">
            a person other than you is using your Subscription or Paid Services, or your User Account;
          </li>
          <li type="a">
            you commit any breach of clause 4 of these Subscriber Terms or if we are unable to process a payment for any Subscription or Paid Services or any other amount payable by you to us under these Subscriber Terms.
          </li>
        </ol>
      </li>
      <li>
        If a Subscription or Paid Services is terminated by us under clause 8.1, you will, to the maximum extent permitted by law: 
        <ol>
          <li type="a">
            not be entitled to receive any refund (subject to any statutory rights you may have) for services or products received up to and including the date of termination;
          </li>
          <li type="a">
            remain liable to pay any subscription fees or charges for the remaining term of the Subscription or Paid Services.
          </li>
        </ol>
      </li>
      <li>
        You may terminate a Subscription or Paid Services by giving us at least 7 days’ notice in writing at contact@jamessmithacademy.com:
        <ol>
          <li type="a">
            if we materially breach these Subscriber Terms and fail to remedy the breach within 7 days of you notifying us of the breach; or
          </li>
          <li type="a">
            7 days prior to the expiry of the current term for that Subscription or those Paid Services, in which case the termination will take effect from the expiry of the current term.
          </li>
        </ol>
      </li>
      <li>
        You may also terminate or cancel a renewal of Subscription or Paid Services by giving notice in accordance with clause 1.
      </li>
    </ol>
  </li>
  <li>
    <h6>AMENDMENT, VARIATION OR ADDITION TO THESE TERMS</h6>
    We may amend, vary, revise, or modify (including by deleting or adding terms) these Subscriber Terms at any time and without prior notice by publishing them online at https://www.jamessmithacademy.com/terms/ our Website and/or by such other means we reasonably consider appropriate.  Any such amendment, variation, revision or modification will take effect from the next renewal or purchase of Subscription or other Paid Services.
  </li>
</ol>
</section>
</div>
</div>
{% endcache %}
{% include "main/relative_footer.html" %}
{% endblock content %}
