{% extends 'base.html' %}

{% block pagetitle %}
    <title>JSA | Transformations</title>
{% endblock pagetitle %}

{% block content %}
    {% load cache %}
    {% cache 86400 testimonials %}
        <nav class="navbar navbar-expand-sm navbar-light">
            <div class="container">
                <a class="navbar-brand" href="/" hreflang="en-us">
                    <img src="https://d3qqgqjfawam42.cloudfront.net/JSA64x64-purple.svg" alt="The Academy">
                </a>
                <button style="outline:none;" id="navMenu" class="navbar-toggler navbar-toggler-right" type="button"
                        data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fal fa-lg fa-bars dark-purp"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/emails/daily-email/" hreflang="en-us">Daily Email</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/transformations/" hreflang="en-us">Transformations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog:index' %}" hreflang="en-us">
                                Blog
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'users:home' %}" hreflang="en-us">{{ user.username }}
                                    &nbsp; <i class="far fa-sign-in"></i></a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'users:login' %}"
                                   hreflang="en-us"><strong>Login</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/users/register/"><strong>Join Now</strong></a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="site-headings">
            <div class="container">
                <div class="row">
                    <div class="col d-flex flex-column justify-content-center">
                        <h4>Member Transformations</h4>
                        <h6 class="m-0 white">Transformations & stories from our amazing members</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="transformations">
            <div class="container">
                <div class="card-columns">
                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/brandy2.jpg">
                        <div class="card-body">
                            <p class="card-text">I’m not done yet though! Still going strong.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Brandy</small>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Steve.jpg">
                        <div class="card-body">
                            <p class="card-text">Lost weight and added muscle.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Steve</small>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Kirsty.jpg">
                        <div class="card-body">
                            <p class="card-text">6 weeks of lifting the JSA way and working with a cfd start of August
                                to middle of September.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Kirsty</small>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Nicole.jpg">
                        <div class="card-body">
                            <p class="card-text">Biggest change for me is posture & smile. Cheers lads!!!</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Nicole</small>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Vanessa.jpg">
                        <div class="card-body">
                            <p class="card-text">10 months between pictures and the only real change I made was tracking
                                my macros.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Vanessa</small>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Carly.jpg">
                        <div class="card-body">
                            <p class="card-text">Before (Sept 1) and current (Oct 20).</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Carly</small>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Alexia.jpg">
                        <div class="card-body">
                            <p class="card-text">It may not seem like a huge weight loss, but it took me down a dress
                                size!</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Alexia</small>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Nikki.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Nikki</small>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Camila.jpg">
                        <div class="card-body">
                            <p class="card-text">4 weeks only cfd, no change in exercise..</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Camila</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Simon.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Simon</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Jessica.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Jessica</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Amanda.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Amanda</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Nicola.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Nicola</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Zoe.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Zoe</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Shell.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Shell</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Carrie.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Carrie</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Clarrie.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Clarrie</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Natalie.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Natalie</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Samantha.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Samantha</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Suzanne.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Suzanne</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Michelle.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Michelle</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Tatiana.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Tatiana</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Lisa-1.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Lisa</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Bethany-1.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Bethany</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Maria-1.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Maria</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Thomas-1.jpeg">
                        <div class="card-body">
                            <p class="card-text">
                                I loved watching the Facebook content before I joined the academy and have loved the
                                content and support inside. I feel I have gained so much knowledge I find myself on a
                                daily basis offering advise to people I know. I have recommended the academy to many
                                friends which has led to two joining who absolutely love it. I have been amazed at what
                                I have achieved in such a short space of time during the Bali challenge and I feel very
                                proud and driven to keep going.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Thomas</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Tara-1.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Tara</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Jackie-1.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Jackie</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Ashley.jpeg">
                        <div class="card-footer">
                            <small class="text-muted">Ashley</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Ashley-1.1.jpeg">
                        <div class="card-footer">
                            <small class="text-muted">Ashley</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Liz.jpeg">
                        <div class="card-footer">
                            <small class="text-muted">Liz</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Lisa-1.1.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Lisa</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Lisa-1.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Lisa</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Clara-1.jpeg">
                        <div class="card-footer">
                            <small class="text-muted">Clara</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Vernon-1.png">
                        <div class="card-footer">
                            <small class="text-muted">Bex</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Sinead-1.jpeg">
                        <div class="card-footer">
                            <small class="text-muted">Sinead</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Natalie-1.1.jpeg">
                        <div class="card-footer">
                            <small class="text-muted">Natalie</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Polly-1.png">
                        <div class="card-footer">
                            <small class="text-muted">Polly</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Natalie-1.jpeg">
                        <div class="card-footer">
                            <small class="text-muted">Natalie</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Nikki-1.jpeg">
                        <div class="card-footer">
                            <small class="text-muted">Nikki</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top"
                             src="https://d3qqgqjfawam42.cloudfront.net/sydney-challenge-winner.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                Sydney Challenge Winner
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Savanah</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Rhodri-2.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                Work in progress but 4-5 months working with the JSA so far, two stone down and feeling
                                much better for it. Learnt so much from the boys in a short space of time by going to
                                the events, watching the lives and using the academy. Can’t thank them enough.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Rhodri</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Leemma-2.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                In 8 weeks I’ve lost 25 inches all over and I’ve gone from being mortified to take
                                progress pics to taking them and sharing them with everyone!!
                                CFD is a way of life now not a struggle and I absolutely love going to the gym lol why
                                did I not do this sooner...?!! I’ve still got a long way to go but I’m well on my way
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Leemma</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Amber-2.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                So the first picture was from December 2017. I found JSA in January 2018 and have been
                                with you all since. These shorts used to be my favourite thing to wear when I was 18-19
                                (I'm 25 now) But shortly after I piled on the pounds. Since finding JSA I picked them up
                                the other day and they are almost too loose! This was the BEST feeling in the world! I
                                haven't been this comfortable with my body in years and it's all thanks to you wonderful
                                people!
                                I have also completely overcome my subclinical eating disorder. I had an unhealthy
                                obsession with the scales, I would weigh myself Every Single day...sometimes more than
                                once...I was miserable! But with James video on weight and the challenges I now do it
                                once a week! And I'm happy ☺ thank you JSA x
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Leemma</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Nicola-2.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                12lbs in 6 weeks. 6.5cm off chest, 7.5cm off hips, 8.5cm off waist
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Nicola</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Marina-2.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                Before #cfd & now. Smaller bikini bottoms & booster bikini top cos the boobies have
                                gone... but 3.5kg lost since Jan 2018 but a shit tonne of confidence in myself gained &
                                I can now deadlift more than my bodyweight wahoo. 💪
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Marina</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Billy-2.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                My first 100 days of JSA progress.
                                Work in progress but so happy to have found a real solution in the JSA.
                                Thank you!
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Billy</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Tracy-2.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                7 months of CFD and training. 2.5 stone lost with 7 inches from waist and 8 from hips.
                                New habits formed where training is now a habit and happens as the norm. Finding
                                exercise I enjoy and can still see myself doing in 1, 5 or 10 years time. I’m now the
                                slimmest, lightest and certainly the most body confident I’ve ever been. 💪🏻. Thanks
                                JSA x
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Tracy</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Karen-2.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                I’ve been a part of the JSA since late January. The left pics are Jan 20, the top right
                                was about 3 weeks ago, and the bottom right, last week. Down 40+lbs, and 34” overall.
                                I’m 48! This kind of success at my age in 6 months is insane to me.

                                This has literally changed my life, and my mindset completely. I was so misguided
                                before. I now actually feel like I am in control and have the tools needed to keep
                                working towards my goals.

                                This shit works. Plain and simple!
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Karen</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Betty-2.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                Progress from March this year til now. JSA works and I'm eternally grateful :) Still
                                goals to smash but its so encouraging to see what all my hard work has achieved so far.
                                Consistent CFD, weight training and NEAT up where possible.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Betty</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Alison-3.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                8 weeks of JSA, following CFD, gentle training due to a recovering back injury. 10 cm
                                lost from my waist and 9 from hips. Age 48 and in menopause 😁 looking forward to what I
                                can achieve. x
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Alison</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Andy-3.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                January to today and 50lb loss, the changes for me aren’t just physical there mental as
                                well, could I have lost it quicker , yes probably but at least this way I have still
                                spent time with friends, I’ve still had meals out , and still had a few beers of a
                                weekend, it’s just I’ve made smarter choices along the way, and couldn’t have done it
                                without the support and education provided.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Andy</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Simon-3.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Simon</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Rebecca-3.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                You know what’s nice. Not wanting to cry every time I pass a mirror naked. 8 weeks of
                                CFD. I’ve ate Nando’s, drank beer and ate chocolate (a lot!) but I have the tools to
                                make this work in my diet thanks to the JSA. The beauty of it all is I know I’ve just
                                started and I’m actually excited to keep going. I’ve never had such a healthy
                                relationship with food, gym and myself ❤️
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Rebecca</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Sarah-3.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Sarah</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Sanneva-3.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                Over 3stone lost
                                29.5cm gone from waist
                                14.5cm gone from chest
                                15.5cm gone from hips
                                9 bags of old ‘fat’ clothes gone to charity.

                                Feeling the best I’ve EVER felt, mentally and physically.

                                Please excuse the psoriasis flare up 🙈🙊
                                Currently on holiday so these are the best comparison as lighting on most recent photos
                                is pants!
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Sonneva</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Paul-3.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                My Christmas eating spilled into the rest of the year 😂 and I was unhappy about the fat
                                I’d pilled on. Full on dad bod! I’d been following James on Facebook for a while. I
                                liked his no bullshit approach and plain easy to follow advice. I decided to sign up for
                                the free trial and loved it, so I signed up for 3 months. This is my progress 7 weeks
                                in. I’m really pleased with the difference in body shape although there isn’t a huge
                                difference in actual weight. CFD works 😊.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Paul</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Jo Anna-3.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                Discovering in your 30s how simple it is to get in shape, and most importantly stay in
                                shape whilst living the best life - without giving anything up... and laughing everytime
                                someone asks me "what diet are you on?". I still have cake every Saturday for breakfast!
                                Feel healthier, fitter and the most confident I have ever been. Cant argue with that!
                                Pics are about 6 months apart - the first time I have ever had the 'after' photo after
                                years of starting and failing shitty faddy diets.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Jo Anna</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Leanne-3.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                Still the same weight. Went from a size 12-14 to an 8-10. Biggest win? Still being able
                                to eat chocolate everyday 😁.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Leanne</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Lauren-3.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Lauren</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Lisa-3.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                8 weeks into the Vegas challenge, JSA has given me the tools to achieve my goals and
                                kick start where I had stalled. Have followed “plans before” but gained weight back as I
                                never had the knowledge that I have gained from this group before and the FB page is
                                full of supportive like minded people.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Lisa</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Shahpar-3.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                8 Weeks of consistency with JSA has done more for my self esteem and body image than
                                anything and everything I’ve tried before - from the tough love to amazing support group
                                group - it’s a winner for me!
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Lisa</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Heather-4.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                Y’all know if there’s a reason for me to get my arse out then I’m doing it ❤️.
                                Have seen a massive change in the past 8 weeks, both in my figure and my attitude. I’m
                                more confident in myself, happier, and I feel that I have a better knowledge of what I’m
                                supposed to be doing. Not scared of getting fat anymore because I know what to do to not
                                be fat, which is liberating in itself. The best part is that I’ve made tons of new
                                friends from all around the world. Everyone in the academy is so supportive - I wouldn’t
                                have made the progress without them (I’ve only been trying for 10 god damn years 😂).
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Heather</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Jack-4.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                This is my 8 week transformation since starting the JSA and the Vegas challenge.
                                It’s just nice to have a group as supportive as this one, I normally try to go it myself
                                and then stop within a few weeks as I’m not accountable to anyone. Between the two
                                pictures there’s 12 kg in difference and 6.5 inches off my waist.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Jack</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Sean-4.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                15kg down #CFD.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Sean</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Amanda-4.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                The past 4 months with JSA has made me more appreciative about my journey than I ever
                                have been. I have developed a confidence I didn’t know was possible. I had a long
                                journey of calorie deficit before I started JSA and not until now did I believe I could
                                actually succeed in this journey! Side by side is me at the start of following JSA to
                                currently. My single photo is me after every failed “diet” and before I discovered that
                                calorie deficit really is the answer. 💜
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Amanda</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Sam-4.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                I struggled to control my weight for years, I tried every programme and shake diet out
                                their, whilst I had some short term success it was always tough to fit in with being a
                                single working dad and I always bounced back..since finding James I now have the tools
                                and knowledge to make a diet and training program that works for me ... I know that
                                sounds like a shit sales pitch but it’s true and I’ve never been happier.. James Smith I
                                owe you a beer / tequila buddy x
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Sam</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Lorna-5.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                Start of Vegas challenge till now. A stone off and 37 inches all over but the best part
                                is going from a zimmer/crutches down to the one and i’ll be unaided by the end. Which
                                was my goal. A long history of being fat and weight loss and still 154lbs off but it’s
                                only now I understand and know that I will keep it off and keep losing.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Lorna</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Carla-5.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                Going to mexico in 2 weeks and finally feel confident enough in my dresses and bikinis
                                😁 still got a long way to go for my goal weight but it’s a reachable goal. This is the
                                first time I’ve been passionate about a diet. I’ve been telling my mum and friends about
                                the JSA and how easy it is to apply to your life once you know what your bad habits are.
                                I’ve only made small changes to my diet and it’s made a massive difference already !
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Carla</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Jennifer-5.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                My before. I was miserable, fat and ashamed to have photos taken. I found James around
                                August 2017 and since then I’ve lost 2 stone and many centimetres. But most of all gain
                                so much more body confidence. Not to mention a family to call upon at any time with any
                                daft query
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Jennifer</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Lindsey-5.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                I'd convinced myself my body wasn't changing. It is.
                                I (like many others) have tried, failed, tried, succeeded, tortured myself with many
                                diets over the years.
                                JSA has EDUCATED me. This isn't a diet, it's an overall lifestyle. I've a long way to
                                go, but for the first time in my life, I'm proud of what I'm achieving with my own body.
                                Sure I want the flat stomach and visible muscles, but I lost the right to that by
                                destroying myself in the first place.
                                Got to keep progressing with what I have 💪💪 I'm the most healthy, most active, most
                                fit, most confident I have EVER been and I'm actually excited to find out who the "new
                                me" is.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Lindsey</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Alana-5.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                I joined the JSA in Feburary 2018. Prior to that I tried anything and everything to have
                                a flat stomach. I thought because I went to the gym, I could eat as much as I wanted.
                                James and his academy has given me the tools, knowledge, education, confidence and a
                                body I'm proud of. Finally after years of battling with my body and mind I know what it
                                takes to lose fat. Shock horror....Calorie deficit. It's that simple but also enjoyable.
                                Coaches are very accommodating and reply to any questions. The training programs make
                                sense and you actually know what you are working and why. The Facebook group is truely
                                inspiring, supportive and motivating.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Alana</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Rachel-5.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                August 2016 to August 2018. Years of yo-yoing feeling bad for myself, feeling like a
                                failure and worthless I started following this guy on Facebook that basically told me it
                                doesn’t go farther than you’re eating too many calories , you’re not worthless or
                                broken, you don’t lack willpower everything else you tried was shit. And he was right so
                                in the last 8 weeks of JSA I’ve lost just over 10lbs but I look better than I ever have,
                                dropped 2 dress sizes and now have no anxiety about losing weight because it’s a matter
                                of time not a matter of if, I have all the tools I need to make it happen 😁
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Rachel</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Becky-5.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                5 months and 1 stone down. JSA taught me to be accountable and helped me understand my
                                physiology to become more responsible for refuelling my body. For the first time since I
                                can remember, my goal is no longer about weight loss, but rather gaining strength.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Becky</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Ally-5.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                Here’s mine! Although hate sharing stuff like this but James’ stripped bare approach has
                                definitely simplified everything and receiving recognition for that by way of progress
                                shots/stories is well deserved. Started following James in Jan, adopted the CFD from the
                                offset. Joined the Academy in March, absorbed everything and requested a plan which I
                                received in April. All at home workouts. I ended my 3mth subscription when it expired as
                                felt I didn’t need it after learning so much. Not much has changed weight or measurement
                                wise since starting but a lot in aesthetic and strength so much so I PR’d a 40kg push
                                press at CrossFit yesterday, my 5th ever session. I doubt I would have tried CrossFit if
                                I hadn’t have seen James n Diren in Bali. So I’m still shrinking and improving strength
                                two months after leaving. The tools he has provided are ingrained for life. CrossFit is
                                just supporting his methods Would love to say I stuck to CFD but the thing I have
                                actually focused more on was the higher protein element and balancing when the weekends
                                went off! It’s been great and still fab to be apart of it via this little group!
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Ally</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Fay-5.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                9 weeks into the Vegas challenge - 7lb and 5 inches gone and 100% confidence increase...
                                all thanks to James, Diren, Pippa, CFD and Neatup24/7! Just need to work on strength
                                work outs now to build that muscle 💪🏻
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Fay</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Caroline-5.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                I have lost 7.5 stone in total. I have been in the academy for a few months and slowly
                                getting towards my goal. I have lost over a stone this year and definitely getting
                                stronger in the gym. Love cfd and the gym. No more slimming clubs for me ever again.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Caroline</small>
                        </div>
                    </div>


                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Robert-5.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                Feb 2018 > Aug 2018.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Robert</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Allyson-5.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                February 2018 to July 2018. 18lbs difference size 12 to size 8. Confidence 0 to
                                infinite.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Allyson</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Julie-5.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                6/20 on left. Today on right. Small changes. A little over 12” gone to date and 8lbs+.
                                But I feel so much better in my own skin! 45 yrs and gave birth to 4 babies!
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Julie</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Liz-5.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                This was my 6 month progress from joining the JSA. I’ve lost over a stone and feel so
                                much more comfortable in my own skin. So grateful that I came across the JSA. Thank you
                                guys xxx
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Liz</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Sinead-5.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                I have lost 17.5kg. Been in the academy for just over 6 months, but followed James for a
                                year. So thankful for finally understanding fat loss, without all the bullshit! Thank
                                you JSA! You have changed my life xxxx
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Sinead</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Jaymi-v.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                Beginning, middle, and end of Vegas challenge. 4kgs and 105cm down. Life changing!
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Jaymi</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Francine-v.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                First pic - January before the Bali challenge
                                Second pic - start of Vegas challenge
                                Last pic end of Vegas challenge.

                                What a crazy 9 months it has been thank you so much JSA
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Francine</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Simon-v.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Simon</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Rebecca-v.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                Top was 12 weeks and 9.2kg ago. Bottom was yesterday with a shit load of additional
                                confidence ❤️❤️
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Rebecca</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Sophie-Louise.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                Can’t wait! 😊 Bring on Fiji!!! X Left - 2 weeks before Vegas Challenge, Right - Last
                                night :) No pants pics here for me just yet!
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Sophie-Louise</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Jonathan-v.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                12 weeks difference 16 stone 8lbs down to 15 stone 11lbs. New confidence, new friends,
                                finally enjoying my journey and doing it the way I want to do it. I highly recommend JSA
                                to everyone! If it’s not for the help from James and The Coaches, it’s the family of JSA
                                members you get that comes with it!
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Jonathan</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Simon-v-2.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                Lost some weight and became alot stronger while still enjoying my favourite foods and
                                plenty of alcohol...I just learned how to control them better 😁
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Simon</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Vikki-v.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Vikki</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Anjuli-v.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                I’ve certainly not stopped myself having fun and #allthegin this summer and still
                                dropped 2 dress sizes and gained shed loads of strength and booty 😉
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Anjuli</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Abz-v.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Abz</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Annika-v.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Annika</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Phil-v.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                12 weeks progress, and although not trained as much as I would have liked, and school
                                holidays didn’t help, still fairly happy.
                                Total of 10 inches off from waist/hips/chest/thigh and 19lbs down from starting weight.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Phil</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Ali-v.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Ali</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Karen-v.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                Thank you JSA! I love you hard for what you’ve helped me do!
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Karen</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Amanda-v.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Amanda</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Jack-v.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Jack</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Sara-v.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Sara</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Naomi-v.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                Thanks for getting me back into a proper fitness routine, and keeping me focused for 12
                                whole weeks, most I’ve ever done before is 2!!! I’m in it for life now!! 😍
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Naomi</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Heather-v.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Heather</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Shahpar-v.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Shahpar</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Stacy-v.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Stacy</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Celine-v.jpg">
                        <div class="card-footer">
                            <small class="text-muted">Celine</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Kelly-v.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                From joining (in Feb) to now - how chubby was my face?! 😱 Clearly still haven’t sorted
                                out my hair 😂
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Kelly</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="https://d3qqgqjfawam42.cloudfront.net/Jonah-v.jpg">
                        <div class="card-body">
                            <p class="card-text">
                                12 weeks exactly, Vegas challenge start to finish. I'll add my flexing final pose after
                                this collage in case you want to use that too as my final. So proud of what I was abke
                                to accomplish thanks to this challenge
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Jonah</small>
                        </div>
                    </div>

                </div>
                <div class="text-center" style="margin-top: 1rem;">
                    <a class="btn index-button" href="/users/register/">Start Free Trial!</a>
                </div>

            </div>
        </div>

    {% endcache %}
    {% include "main/relative_footer.html" %}
{% endblock content %}
