{% extends 'base.html' %}

{% block pagetitle %}<title>JSA | Upgrade Now</title>{% endblock pagetitle %}

{% load cache %}
{% block content %}
    {% cache 2592000 sales_page %}

        <nav class="navbar sales-nav navbar-expand navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="/" hreflang="en-us">
                    <img src="https://d3qqgqjfawam42.cloudfront.net/JSA64x64-white.svg" alt="The Academy">
                </a>
            </div>
        </nav>

        <div class="sales-page-wrapper">

            <div class="container">
                <h1 class="display-4 text-center">Upgrade Your JSA Account Today...</h1>
            </div>

            <div class="container max-width-700" style="margin-bottom: 3rem; margin-top: 3rem;">
                <div class="embed-responsive embed-responsive-16by9"
                     style="box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 6px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);">
                    <iframe class="embed-responsive-item"
                            src="https://player.vimeo.com/video/255507505?title=0&byline=0&portrait=0" width="640"
                            height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen
                            allowfullscreen></iframe>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h6>Upgrade your account today and get instant access to...</h6>
                    </div>
                </div>
            </div>

            <div class="container">
                <div id="features-including" class="key-features-wrap-top">
                    <ul>
                        <li id="fitness-videos-icon">
                            <h6>Video Content</h6>
                            <p class="p-smaller">Access fitness videos by James Smith and the other JSA trainers. Learn
                                about training, exercises and other fitness principles.
                            </p>
                        </li>
                        <li id="training-programmes-icon">
                            <h6>Exercise Programs</h6>
                            <p class="p-smaller">Exercise programs are personalised to your goals and lifestyle. You do
                                not need a gym membership. Many of our members exercise at home!</p>
                        </li>
                        <li id="healthy-recipes-icon">
                            <h6>Healthy Recipes</h6>
                            <p class="p-smaller">Dieting can be hard because many healthy foods are boring. We have a
                                library of healthy but still tasty recipes to keep things interesting.
                            </p>
                        </li>
                        <li id="nutrition-guidance-icon">
                            <h6>Nutrition Guidance</h6>
                            <p class="p-smaller">Calculate your macro and calorie requirements and use the in-site meal
                                planner to create new and exciting meal plans.</p>
                        </li>
                        <li id="trainer-support-icon">
                            <h6>Trainer Support</h6>
                            <p class="p-smaller">Use our in-site trainer support chat to ask us questions you may have
                                about your fitness. Also, receive check-ins to make sure you are on track.</p>
                        </li>

                        <li id="training-groups-icon">
                            <h6>Our Challenges</h6>
                            <p class="p-smaller">Enter our three month challenges to motivate you towards your goal.
                                First place wins a holiday away! Find out more below <a
                                        href="#about-challenges"><u>here</u></a>.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h4>Upgrade Options...</h4>
                    </div>
                </div>
            </div>

            <div class="container" style="margin-bottom: 3rem;">
                <div class="row">
                    <div class="col-lg-6 text-center">
                        <div class="content-container" style="background: #4a4090;">
                            <h6 class="white">12 Week Block</h6>
                            <h2 id="block" class="white display-4"></h2>
                            <a href="/users/membership-options/">
                                <button class="btn btn-block btn-rounded btn-light">Upgrade to full JSA member</button>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center">
                        <div class="content-container">
                            <h6 class="dark-purp">Monthly Subscription</h6>
                            <h2 id="subscription" class="display-4 dark-purp"></h2>
                            <a href="/users/membership-options/">
                                <button class="btn btn-block btn-rounded btn-primary">Upgrade to full JSA member
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div style="background: white; padding-top:30px; padding-bottom: 30px;">
                <div class="container" style="padding-bottom:30px;">
                    <div class="row">
                        <div class="col text-center">
                            <h4 class="m-0">What our members have to say...</h4>
                        </div>
                    </div>
                </div>
                <div class="container" style="margin-top:30px; margin-bottom: 3rem;">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="last-challenge-winner-img">
                                <img src="https://d3qqgqjfawam42.cloudfront.net/sydney-challenge-winner.jpg"
                                     alt="JSA Sydney Challenge Winner">
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-6">
                            <div class="last-challenge-winner">
                                <h6>Sydney Challenge Winner</h6>
                                <p>
                                    <i class="fas fa-quote-left dark-purp"></i> &nbsp; Living my “best life” always
                                    seemed out of reach. My dreams for the future were always framed in the caveat “once
                                    I...” or “when I....”
                                </p>
                                <p>
                                    I never quite felt like I had the strength or willpower inside me to steer my own
                                    life. My health, my fitness and my confidence always seemed at the mercy of the
                                    current situation, and I used it as a crutch and stood in my own way.
                                </p>
                                <p>
                                    When I stumbled across the JSA, what really struck me the most was honesty. For the
                                    first time, there was no false hope, no quick fix, just a dose of reality and the
                                    tools and support to achieve what had always been in my power.
                                </p>
                                <div class="collapse" id="challenge-read-more">
                                    <p>
                                        I signed up for the first challenge, thinking it would be a good way to stay
                                        accountable. Although I had some rocky patches, the tools I learned gave me the
                                        flexibility to ride the tricky times out, and as I started to take charge of my
                                        own fitness, my life followed suit. The “ifs” and “when’s” became “now” and “I
                                        am”. I started to put my focus on balance, and what used to take up 100% of my
                                        thoughts and worries became a sustainable 20% of my daily life.
                                    </p>
                                    <p>
                                        To my amazement, I won the first challenge and was given a trip to Sydney to
                                        meet the JSA crew and celebrate my journey. The whole time, the focus was never
                                        on how to strive for perfection or on the “what now”. It was really a chance to
                                        reflect on how I had gotten to that place and the opportunity to be mentored by
                                        people who were living “their best life” and blazing the trail to have balance,
                                        purpose, and the courage to step out of a comfort zone to peruse one’s passion.
                                    </p>
                                    <p>
                                        The trip itself was once in a lifetime— I was treated to so many experiences I
                                        would have never gotten to otherwise, and I felt so valued by both the JSA team
                                        and the larger JSA community. When I met James at the airport, I was welcomed
                                        like an old friend, and felt genuinely cared for. I can never thank the team
                                        enough for all of the incredible dining, wining, and opportunities to see Sydney
                                        from every angle: car,train,boat and even private seaplane, to name a few!
                                    </p>
                                    <p>
                                        I never knew that by signing up for a fitness challenge, my life could be so
                                        impacted. When I got home, life resumed. My health continues to test my limits
                                        and there are times I question my abilities; but, the tools and experience I
                                        have keep me going, and I wake up every day feeling like I can live my best
                                        life, here, today, and now. And, in those moments I have doubt, I have a whole
                                        JSA army behind me to lift me up!
                                    </p>
                                    <p>
                                        I will forever have a special place in my heart for Sydney and all that
                                        experience taught me, and of course, I will bleed JSA for life. &nbsp; <i
                                            class="fas dark-purp fa-quote-right"></i>
                                    </p>
                                    <div class="dark-purp">
                                        - Savanah Hope
                                    </div>
                                </div>
                                <button id="read-more-button" class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#challenge-read-more" aria-expanded="false"
                                        aria-controls="challenge-read-more">
                                    Read more...
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2rem;">
                        <div class="col-lg-4 col-md-6">
                            <div class="last-challenge-winner-img">
                                <img src="https://d3qqgqjfawam42.cloudfront.net/lorna-challenge.jpg"
                                     alt="JSA Vegas Challenge Winner">
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-6">
                            <div class="last-challenge-winner">
                                <h6>Vegas Challenge Winner</h6>
                                <p>
                                    <i class="fas fa-quote-left dark-purp"></i> &nbsp; Due to a serious and complicated
                                    medical history living my best life was something that other people got to
                                    experience, I could only watch from the side-lines wishing that my life could be
                                    different.
                                </p>
                                <p>
                                    Years of multiple illnesses and many set backs eventually left me on life support
                                    for three months with my family being prepared for the worst, I’ve always been a
                                    fighter though and surprisingly pulled through although unfortunately have been left
                                    paralysed down my right leg and foot.
                                </p>
                                <div class="collapse" id="vegas-challenge-read-more">
                                    <p>
                                        After intense rehabilitation I was discharged, with no further treatment
                                        offered, I was left to go and live what life I could with the help of carers
                                        24/7, can you imagine being told that life as you knew it was over and that for
                                        ever more you will be dependent on someone for the most basic of tasks? I
                                        couldn’t even walk unaided- I was devastated- but determined to find a new
                                        version of MY normal.
                                    </p>
                                    <p>
                                        I tried for over two years to regain strength especially in the wasted muscles
                                        of my leg, I was bounced from one supposed specialist, nutritionist or dietician
                                        to another and not one person could help me. I had been going to the gym and
                                        spending up to three hours a day on the recumbent bike believing this was the
                                        only thing I was capable of due to my circumstances.
                                    </p>
                                    <p>
                                        I was at the point of giving up when I decided to take the chance and emailed
                                        James, giving him my full story but not really expecting a reply, imagine my
                                        shock when I received an email from him? He was honest enough to say that he
                                        didn’t know if his academy could help but why not give it a go? I will admit to
                                        being initially disappointed in this, I think I was expecting someone to wave a
                                        magic wand and I’d be fixed, but on reflection I realised that I had absolutely
                                        nothing to lose! I had tried everything else to no avail so why not?
                                    </p>
                                    <p>
                                        Joining the JSA turned out to be the best decision of my life. For the first
                                        time I was dealt with honesty and facts rather than the false hope and pretences
                                        of the previous ‘experts.’ It was a breath of fresh air to be dealing with
                                        people who genuinely wanted you to succeed and not just to line their pockets.
                                        The academy gives you all the tools needed to succeed, it doesn’t sugar coat it,
                                        it states quite simply that there is no quick fix and that its all down to your
                                        own hard work and efforts. I loved the fact that they make it a life change and
                                        that it’s so easily sustainable.
                                    </p>
                                    <p>
                                        I decided to join in the Las Vegas challenge purely to give myself a time frame
                                        to work towards, believing that if I didn’t get stronger in the 12 weeks I was
                                        never going to, I didn’t believe for a minute that I stood a chance of winning
                                        against the incredible transformations that I had seen taking place. It took
                                        some time to get the exercise plan right and many, many messages passed between
                                        myself and Diren before we got a plan that just ‘worked’ and for the first time
                                        in my life I was lifting weights and achieving the seemingly impossible. It must
                                        be said that the support I received from the other academy members was out of
                                        this world. We are all walking the same path, yet we all want each other to do
                                        so well, I would not have pushed myself so hard had it not been for their
                                        support and belief in me.
                                    </p>
                                    <p>
                                        To my utter disbelief by the end of the challenge I had worked my way from
                                        walking with two crutches and support to managing to walk six steps fully
                                        unaided! Along the way I had also lost 16lbs and 46 inches from all over my
                                        body! I was utterly gob smacked when I was announced the winner of the
                                        challenge! I have the utmost respect for the JSA because, whilst I can
                                        technically now walk, the actual trip to Las Vegas was just not feasible for me
                                        due to the sheer size of it so when James asked if I would prefer the cash
                                        equivalent instead I happily accepted and now plan to use the money to make some
                                        more of my goals come true, for instance swimming with dolphins and visiting
                                        Paris.
                                    </p>
                                    <p>
                                        Who knew that when I joined a fitness challenge that my life would change so
                                        dramatically for the better. Each and every single day I am achieving small
                                        things that only three months ago were impossible. My health will always be
                                        extremely precarious and there are times when I doubt myself but in those
                                        moments of doubt I look to the support of the JSA army to help me through. I now
                                        wake up every morning excited to see what else I can achieve!
                                    </p>
                                    <p>
                                        James and the JSA have literally changed my life, there is not enough ways in
                                        which I can thank them for giving me back my life. &nbsp; <i
                                            class="fas dark-purp fa-quote-right"></i>
                                    </p>
                                    <div class="dark-purp">
                                        - Lorna
                                    </div>
                                </div>
                                <button id="read-more-button" class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#vegas-challenge-read-more" aria-expanded="false"
                                        aria-controls="vegas-challenge-read-more">
                                    Read more...
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <a href="/transformations/">More transformations &nbsp; <i
                                    class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" style="margin-bottom: 3rem;">
                <div class="row">
                    <div class="col-lg-6 text-center">
                        <div class="content-container" style="background: #4a4090;">
                            <h6 class="white">12 Week Block</h6>
                            <h2 id="block-2" class="white display-4"></h2>
                            <a href="/users/membership-options/">
                                <button class="btn btn-block btn-rounded btn-light">Upgrade to full JSA member</button>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center">
                        <div class="content-container">
                            <h6 class="dark-purp">Monthly Subscription</h6>
                            <h2 id="subscription-2" class="display-4 dark-purp"></h2>
                            <a href="/users/membership-options/">
                                <button class="btn btn-block btn-rounded btn-primary">Upgrade to full JSA member
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    {% endcache %}

    {% include "main/relative_footer.html" %}

{% endblock content %}

{% block js %}

    <script>
        $(document).ready(function () {
            $.getJSON("https://api.ipstack.com/check?access_key=189681db139c24dc2fae1557037da6f6", function (e) {

                var country_name = e.country_name;

                if (country_name === "Australia") {

                    $("#subscription").html("$55 AUD");
                    $("#block").html("$148 AUD");
                    $("#subscription-2").html("$55 AUD");
                    $("#block-2").html("$148 AUD");

                } else if (country_name === "United Kingdom") {

                    $("#subscription").html("£30");
                    $("#block").html("£81");
                    $("#subscription-2").html("£30");
                    $("#block-2").html("£81");

                } else {

                    $("#subscription").html("$42 USD");
                    $("#block").html("$113 USD");
                    $("#subscription-2").html("$42 USD");
                    $("#block-2").html("$113 USD");

                }

            }).done(function () {
                console.log("loaded")
            }).fail(function () {
                $("#subscription").html("$42 USD");
                $("#block").html("$113 USD");
                $("#subscription-2").html("$42 USD");
                $("#block-2").html("$113 USD");
            })
        });

    </script>

{% endblock js %}