<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

    <head>

        {% block pagetitle %}<title>JSA | Online Personal Training</title>{% endblock pagetitle %}

        <link rel="manifest" href="/manifest.json">
        <link rel="canonical" href="http://www.jamessmithacademy.com">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-6jHF7Z3XI3fF4XZixAuSu0gGKrXwoX/w3uFPxC56OtjChio7wtTGJWRW53Nhx6Ev" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% block headlinks %}{% endblock headlinks %}
        <link rel="stylesheet" href="/main/css/main.min.css">

        <link rel="apple-touch-icon" sizes="180x180" href="https://d3qqgqjfawam42.cloudfront.net/apple-touch-icon-5.png">

        <!--iPad Splash-->
        <link rel="apple-touch-startup-image" href="https://d3qqgqjfawam42.cloudfront.net/apple-launch-1536x2048.png" media="(min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">
        <link rel="apple-touch-startup-image" href="https://d3qqgqjfawam42.cloudfront.net/apple-launch-1668x2224.png" media="(min-device-width: 834px) and (max-device-width: 834px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">
        <link rel="apple-touch-startup-image" href="https://d3qqgqjfawam42.cloudfront.net/apple-launch-2048x2732.png" media="(min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">

        <!--iPhone Splash-->
        <link href="https://d3qqgqjfawam42.cloudfront.net/apple-launch-1242x2208.png" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
        <link href="https://d3qqgqjfawam42.cloudfront.net/apple-launch-1125x2436.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
        <link href="https://d3qqgqjfawam42.cloudfront.net/apple-launch-750x1334.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
        <link href="https://d3qqgqjfawam42.cloudfront.net/apple-launch-640x1136.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />

        <link rel="icon" type="image/png" sizes="32x32" href="https://d3qqgqjfawam42.cloudfront.net/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://d3qqgqjfawam42.cloudfront.net/favicon-16x16.png">
        <link rel="mask-icon" href="https://d3qqgqjfawam42.cloudfront.net/safari-pinned-tab.svg" color="#4a4090">

        {% block headscript %}{% endblock headscript %}

        <!--Cookie Dialog Consent-->
        <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="4d3954fa-ac3e-428f-ab4f-4fb97b2eb891" type="text/javascript" async></script>

        <meta name="description" content="Looking to lose weight, improve your fitness or just feel better about yourself? Start your free trial today with JSA Online Personal Training" />

        <meta name="theme-color" content="#4a4090"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-title" content="JSA">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
        <meta name="application-name" content="JSA">
        <meta name="msapplication-TileColor" content="#4a4090">

        <meta property="og:url" content="https://www.jamessmithacademy.com" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="JSA | Online Personal Training" />
        <meta property="og:description" content="Looking to lose weight, get fit or just feel better about yourself? Start your free trial today with JSA Online Personal Training" />
        <meta property="og:image" content="https://d3qqgqjfawam42.cloudfront.net/JSA-icon-new.png" />
        <meta name="twitter:title" content="JSA | Online Personal Training">
        <meta name="twitter:description" content="Looking to lose weight, get fit or just feel better about yourself? Start your free trial today with JSA Online Personal Training">
        <meta name="twitter:image" content="https://d3qqgqjfawam42.cloudfront.net/JSA-icon-new.png">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="copyright" content="James Smith Academy Pty Ltd" />
        <meta name="robots" content="index,follow">
        <meta name="google-site-verification" content="8JfoPBwrjPTf33aDEGuKSU6x3kgIC8Acdr_So6Do64k" />
        <meta name="google-site-verification" content="o9KhLWX1x8sWh_XsqRtXDCZAtftlNFMwGVxfTAQRFoc" />

        <!-- Facebook Pixel Code -->
        <script type="text/plain" data-cookieconsent="marketing">
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '911143235700487');
          fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
          src="https://www.facebook.com/tr?id=911143235700487&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->

    </head>

    <body>

        <!--Facebook SDK-->
        <script type="text/plain" data-cookieconsent="marketing">
          window.fbAsyncInit = function() {
            FB.init({
              appId            : '1936783426567000',
              autoLogAppEvents : true,
              xfbml            : true,
              version          : 'v3.0'
            });
          };
          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "https://connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script>

        <!--App Content-->
        {% block content %}{% endblock content %}

        <!--Bootstrap 4 -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <!--Google Analytics-->
        <script type="text/plain" data-cookieconsent="statistics, marketing">
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-102649908-1', 'auto');
            ga('send', {
              hitType: 'pageview',
              page: location.pathname + window.location.hash
            });
            ga('set', 'anonymizeIp', true);
        </script>

        <!--App JS-->
        {% block js %}{% endblock js %}

        <!--Bootstrap4 patches-->
        <script>
            if(navigator.userAgent.match(/IEMobile\/10\.0/)){var msViewportStyle=document.createElement("style");msViewportStyle.appendChild(document.createTextNode("@-ms-viewport{width:auto!important}")),document.head.appendChild(msViewportStyle)}$(function(){var e=navigator.userAgent;e.indexOf("Mozilla/5.0")>-1&&e.indexOf("Android ")>-1&&e.indexOf("AppleWebKit")>-1&&-1===e.indexOf("Chrome")&&$("select.form-control").removeClass("form-control").css("width","100%")}),$(window).on("scroll",function(){$(this).scrollTop()>200?$(".navbar").hasClass("expand")||$(".navbar").addClass("expand"):$(".navbar").hasClass("expand")&&$(".navbar").removeClass("expand")}),$("#navMenu").on("click",function(){$(".navbar").hasClass("expand")||$(".navbar").addClass("expand")});
        </script>

        <!--App JS Two-->
        {% block js_two %}{% endblock js_two %}

    </body>

</html>