{% extends "base.html" %}

{% load render_bundle from webpack_loader %}

{% block pagetitle %}<title>JSA | Coaches</title>{% endblock pagetitle %}

{% block headlinks %}
  <!--Font Awesome 5-->
  <link rel="stylesheet" href="https://d3qqgqjfawam42.cloudfront.net/fontawesome/css/fontawesome-all.min.css">
{% endblock headlinks %} 


{% block headscript %}
  <!--sessionStorage script-->
  <script>
    sessionStorage.clear();
    sessionStorage.setItem("stripeStatus", "{{stripe_account.status}}");
    sessionStorage.setItem("username", "{{user.username}}");
    sessionStorage.setItem("firstName", "{{user.first_name}}");
    sessionStorage.setItem("stripeMembership", "{{stripe_account.membership_name}}");
    sessionStorage.setItem("serverTime", "{% now "jS F Y" %}");
  </script>

{% endblock headscript %} 

{% block content %}
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
      <a class="navbar-brand" href="/" hreflang="en-us">
        <img src="https://d3qqgqjfawam42.cloudfront.net/JSA64x64-purple.svg" alt="The Academy">
      </a>
    </div>
  </nav>
	{% if request.user.is_staff %}
		{% block coach_content %}
			
        <div class="grey-background h-100" style="padding-bottom: 50px;">
			<div id="coach-home"></div>
        </div>

		{% endblock %}
	{% endif %}

{% endblock content %}

{% block js %}
	<!--Uploadcare-->
  <script>UPLOADCARE_PUBLIC_KEY = '5b2904455e327f7a453a';</script>
  <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.min.js" charset="utf-8"></script>

    {% render_bundle 'main' config='COACHES' %}

{% endblock js %}