/* CSS DIRECTORY
    1. =GLOBAL (reset, html, body etc).
    2. =TYPOGRAPHY GLOBAL (a, p, h1, h2, h3)
    3. =NAVBAR
    4. =MAIN
    5. =SIDEBAR
    6. =FOOTER
    7. =IMAGES & LINKS
    8. =BUTTONS
    9. =MISCELLANEOUS (usage location unclear)
    10. =LANDING PAGE
    11. =MEDIA QUERIES
    12. =CHAT BOX
    13. =CONTACT
*/

/*
    =GLOBAL
----------------------------------------*/

html,
body {
    height: 100%;


    background-color: white;

    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}


/*
    =TYPOGRAPHY GLOBAL
----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1rem;

    color: #202428;
}

h1,
h2 {
    font-weight: 300;
}

h1 {
    font-size: 6rem;
    line-height: 6rem;

    letter-spacing: -.015625rem;
}

h2 {
    font-size: 3.75rem;
    line-height: 3.75rem;

    letter-spacing: -.00833rem;
}

h3,
h4,
h5 {
    font-weight: 400;
}

h5 {
    font-size: 1.5rem;
    line-height: 2rem;

    letter-spacing: 0rem;
}

h4 {
    font-size: 2.125rem;
    line-height: 2.5rem;

    letter-spacing: .007352941176471rem;
}

h3 {
    font-size: 3rem;
    line-height: 3.125rem;

    letter-spacing: 0rem;
}

h6 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2rem;

    letter-spacing: .0125rem;
}

.section-heading {
    font-size: 1.1rem;
}

label {
    font-weight: 500;
}

.p-xs {
    font-size: .775rem;
    line-height: 1.25rem;

    letter-spacing: .017857142857143rem;
}

.rounded-corners {
    border-radius: 10px !important;
}

.p-smaller {
    font-size: .875rem;
    line-height: 1.25rem;

    letter-spacing: .017857142857143rem;
}

.grey-background {
    background: #F8F8FB;
}

.dark-grey-background {
    background: #EAECEF;
}

.primary-background {
    background-image: linear-gradient(to left, #4A4090, #372E6C);
}

.no-margin-padding {
    margin: 0;
    padding: 0;
}

.index-header-bg h4 {
    color: #fff;
}

.rounded {
    border-radius: 10px;
}

.index-header-bg h6 {
    font-weight: 300;

    margin-bottom: 1.5rem;

    color: #fff;
}


/* small comments and subheaders */

a {
    color: #4A3D92;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;

    color: #7b74ae;
}

/* global font colours */
.red {
    color: #f44336;
}

.light-grey {
    color: #edf2f9;
}

.green {
    color: #00C2A2;
}

.is-valid {
    border-color: #00C2A2 !important;
    box-shadow: none !important;
}

.white,
.white:hover {
    color: white !important;
}

.black {
    color: black;
}

.dark-purp {
    color: #4A3D92;
}


button::-moz-focus-inner {
    border: 0;
}


/*
    end
    =TYPOGRAPHY
----------------------------------------*/

.sales-page-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
}

.sales-nav {
    background: #4A3D92 !important;
}

.app-wrapper {
    display: flex;

    height: 100%;

    flex-flow: column;
}

.flex-wrapper {
    display: flex;

    height: 100%;

    flex-flow: column;
}

.app-header {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;

    color: white;
    background: #4A3D92;
}

.app-header h4 {
    font-size: 2rem;
    font-weight: 700;

    margin-bottom: 0;

    letter-spacing: .04rem;

    color: white;
}

.site-headings {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;

    color: white;
    background-color: #4A3D92;
}

.site-headings h4 {
    font-size: 2rem;
    font-weight: 700;

    margin-bottom: 0;

    letter-spacing: .04rem;

    color: white;
}

.site-headings-2 {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;

    color: white;
    background-color: #4A3D92;
}

.site-headings-2 h4 {
    font-size: 2rem;
    font-weight: 700;

    margin-bottom: 0;

    letter-spacing: .04rem;

    color: white;
}

.scroll-view {
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;

    height: 100%;

    flex-flow: column;
}

.scroll-view:after {
    display: block;

    width: 100%;
    padding-bottom: 75px;

    content: '';
}

.program-messages {
    display: flex;
    flex-direction: column;

    height: 100%;
}

.trainer-support-messages {
    display: flex;
    flex-direction: column;

    height: 100%;
}

.recharts-responsive-container div {
    z-index: 1 !important;
}

.m-b-25 {
    margin-bottom: 25px;
}

.videos-search-heading {
    padding-top: 30px;
    padding-bottom: 30px;
}


.table {
    margin-bottom: 0;
}

th {
    font-weight: 600;

    color: #3f3f44;
    border: none;
}

.table thead th {
    border-bottom: none;
}

.table-bordered {
    border: 1px solid rgb(238, 241, 242);
}

.table-bordered td,
.table-bordered th {
    border: 1px solid rgb(238, 241, 242);
}

.program-table td,
.program-table th {
    border: none;
}

.program-table {
    border: none;
}

.program-table thead th {
    padding-top: 0;

    border-bottom: none;
}

.program-table td {
    font-size: .875rem;
    line-height: 1.25rem;

    letter-spacing: .017857142857143rem;
}

.program-table .form-control {
    font-size: .875rem;
    line-height: 1.25rem;

    letter-spacing: .017857142857143rem;
}

.program-table {
    padding: 5px;

    border-radius: 8px;
}


label {
    margin-top: .5rem;
}

input {
    -webkit-transition: border-color .3s ease-in-out;
    transition: border-color .3s ease-in-out;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.app-icon {
    margin-top: 15px;
    padding: 5px;

    border-radius: 8px;
    background: white;
}

.price-header {
    background-color: white;
}

.list-group-item-action {
    color: #4A3D92;
}

.list-group-item {
    padding-right: 7px;
    padding-left: 7px;
}

.list-group-item-action:hover,
.list-group-item-action:focus {
    background-color: #faf9ff;
}

.list-group-item:first-child {

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.list-wrapper .list-group-item:first-child {
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
}

.list-wrapper .list-group-item:last-child {
    border-bottom: none;
    border-bottom-right-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
}

.list-group-heading {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
}

.active-filter {
    color: #4A3D92;
    border: none;
    background-color: #e9ecef;
}

.alert-light {
    border: 1px solid rgb(238, 241, 242);
}

.alert-naked {
    padding: 0;

    border: none;
}

.uploadcare--widget__button_type_open {
    font-weight: 500;

    padding-top: .500rem;
    padding-bottom: .500rem;

    cursor: pointer;

    color: #212529;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-color: #f8f9fa;
}

.uploadcare--widget__button_type_open:hover {
    font-weight: 500;

    color: #212529;
    background-color: #e2e6ea;
}

.comment-right {
    float: right;

    width: auto;
    max-width: 700px;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 10px;

    text-align: right;
    white-space: nowrap;

    color: white;
    border-radius: 10px;
    background: #5e59ab;
}

.comment-left {
    float: left;

    width: auto;
    max-width: 700px;
    margin-top: 7px;
    margin-bottom: 7px;

    white-space: nowrap;
}

.comment-left-text {
    padding: 10px;

    color: #383e40;
    border-radius: 10px;
    background: #f4f7f9 !important;
}

.scrollmenu {
    overflow-x: scroll;
    overflow-y: hidden;

    white-space: nowrap;

    background-color: transparent;
}


.modal-content {
    border-radius: 20px;
}


.scrollmenu a {
    display: inline-block;

    min-width: 175px;
}

.program-templates-list .scrollmenu {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.search-combination .scrollmenu {
    padding: 15px;
}

.scrollmenu .item {
    display: inline-block;

    width: 200px;
    height: 380px;
    margin-right: 30px;

    vertical-align: top;

    border: solid 1px #edf2f9;
    border-radius: 10px;
}

.program-templates-list .scrollmenu .item {
    height: 230px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.program-templates-list .scrollmenu .item .item-body {
    display: flex;

    height: 100%;

    text-align: center;

    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.scrollmenu .item .img-container {
    overflow: hidden;

    width: 100%;
    height: 200px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.scrollmenu .item .item-body {
    padding: 10px;

    white-space: pre-wrap;
    word-wrap: break-word;
}

.scrollmenu .item .img-container img {
    width: 100%;
    height: 100%;
}


.option-header {
    font-weight: 500;

    width: 100%;
    padding: 8px 14px;

    cursor: pointer;
    -webkit-transition: border-bottom .2s ease-in-out;
    transition: border-bottom .2s ease-in-out;
    text-align: center;
    text-decoration: none !important;

    color: #8594b4;
    border-bottom: #e7e7e7 solid 3px;
    background-color: white;
}

.option-header-wrapper {
    display: flex;
}

.option-header-active {
    color: #42397f;
    border-bottom: #42397f solid 3px;
}

.option-header-active:hover {
    color: #42397f;
    border-bottom: #42397f solid 3px;
}

.option-header:last-child {
    margin-right: 0;
}

.video-tags-container {
    margin-top: .5rem;
}

.bread-butter-starter {
    margin-top: 15px;
    padding: 15px;

    border-radius: 30px;
    -webkit-box-shadow: 0 5px 20px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    -moz-box-shadow: 0 5px 20px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    box-shadow: 0 5px 20px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);

    -o-box-shadow: 0 5px 20px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
}

.video-tag {
    font-size: 10px;

    display: inline-block;

    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    padding: 2px 10px;

    color: grey;
    border: 1px solid rgb(238, 241, 242);
    border-radius: 8px;
    background-color: #fefefe;
}


/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.6.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2018 Daniel Eden
 */


.animated {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated-2 {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.delay-1x,
.animated-2.delay-1x {
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms;
}

.animated.delay-2x,
.animated-2.delay-2x {
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
}

.animated.delay-3x,
.animated-2.delay-3x {
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
}

.animated.delay-4x,
.animated-2.delay-4x {
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms;
}

.animated.delay-5x,
.animated-2.delay-5x {
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
}


@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}


@-webkit-keyframes fadeInUp {
    from {
        -webkit-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0);

        opacity: 0;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);

        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        -webkit-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0);

        opacity: 0;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);

        opacity: 1;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}


@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}


@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }

    0% {
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);

        opacity: 0;
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);

        opacity: 1;
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);

        opacity: 1;
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}


/*
    end
    =GLOBAL
----------------------------------------*/


/*
    =NAVBAR
----------------------------------------*/

a#navbarDropdownMenuLink.nav-link.dropdown-toggle {
    padding-top: 0;
    padding-bottom: 0;

    outline: none;
    box-shadow: none;
}

.navbar.navbar-light .breadcrumb .nav-item .nav-link:hover,
.navbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: white;
}


.navbar-light {
    background-color: #f8f8fb !important;
    box-shadow: 0 .5rem 1rem rgba(74, 64, 144, .05), inset 0 -1px 0 rgba(74, 64, 144, .1);
}

.navbar-light .navbar-nav .nav-link {
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #4A3D92 !important;
}

.navbar-light .navbar-nav .nav-link .active a {
    font-weight: 500;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    font-weight: 500;

    color: #4A3D92;
}

.nav-icon {
    margin-right: 5px;
    margin-left: 5px;
}

.navbar-fixed {
    position: fixed;
    z-index: 100;
    top: 0;

    width: 100%;

    -webkit-transition: background 1000ms linear;
    -ms-transition: background 1000ms linear;
    transition: top 1s;
    transition: background 1000ms linear;
    letter-spacing: 1px;

    color: white !important;
}

.navbar-fixed a {
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}


.navbar-fixed a:hover,
.navbar-fixed a:focus,
.navbar-fixed a:active {
    color: white !important;
}

.navbar-fixed.expand {
    -webkit-transition: background 1000ms linear;
    -ms-transition: background 1000ms linear;
    transition: background 1000ms linear;

    color: white !important;
    background: #4A3D92;
}


/* navbar used after login */
.navbar-brand img {
    height: 35px !important;
}

/*remove bootstrap default padding for navbar img */
.navbar-brand {
    padding: 0;
}


/* navbar toggler for mobiles */
.navbar-light .navbar-toggler {
    margin-right: 0;
    padding-right: 0;

    border: none;
}

.navbar-dark .navbar-toggler {
    margin-right: 0;
    padding-right: 0;

    border: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-inverse {
    background-color: #4A3D92 !important;
}

.mobile-nav-bar {
    border-top: solid 1px #ebebeb;
    background-color: white;
}

.mobile-bottom-navbar-container {
    position: relative;

    width: 100vw;
    padding: 5px;
}

.mobile-bottom-navbar-container .tab {
    padding: 7px 0;

    color: #aaa;
}

.mobile-bottom-navbar-container .col {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.tab i {
    font-size: 24px;
}

.tab .link {
    font-size: 10px;
    line-height: 12px;

    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.custom-nav a {
    font-weight: 600;

    margin-left: 10px;

    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

.custom-nav a:hover {
    color: #4A3D92;
}

.custom-nav .active {
    font-weight: 700;

    color: #4A3D92;
}

.second-nav {
    height: 52px;

    background: #4A3D92;
}

.second-nav a {
    font-weight: 400;

    color: white;
}

.second-nav-bold {
    font-weight: 600;
}


.second-nav .dropdown .dropdown-item:hover,
.second-nav .dropdown .dropdown-item:active,
.second-nav .dropdown .dropdown-item:focus {
    background: #e9ecef;
}


/*
    end
    NAVBAR
----------------------------------------*/


/*
    =MAIN
----------------------------------------*/
/*
        =ALL
    ----------------------------------------*/


.progress-bar {
    background-color: #42397f;
}

video {
    display: block;

    width: 100%;

    background-color: #191919;
}

.progress_animated {
    width: 0;
    -webkit-transition: width 500ms ease-in-out 500ms;
    transition: width 500ms ease-in-out 500ms;
}

.last-challenge-winner {
    padding: 15px;

    color: rgb(8, 8, 10) !important;
    border-radius: 8px;
    background: white;
    box-shadow: 0 10px 40px 10px rgba(140, 152, 164, .175);
}

.last-challenge-winner p {
    margin-bottom: 1rem;

    color: #383e40;
}

.last-challenge-winner-img img {
    width: 100%;
    margin-bottom: 1rem;

    border-radius: 8px;
    box-shadow: 0 3px 20px rgba(84, 61, 110, .4);
}

.dropdown-menu {
    border: none;
    border-radius: 8px;
    background: #4A3D92;
    box-shadow: rgba(0, 0, 0, .16) 0 3px 10px, rgba(0, 0, 0, .23) 0 3px 10px;
}

.dropdown-item {
    color: white;
}

.dropdown-item .active,
.dropdown-item:active,
.dropdown-item:hover {
    color: #272533;
    background-color: #e9ecef;
}


.dark-purple-button {
    color: white;
    border-radius: 8px;
    background: #4A3D92;
}

/*.cta-landing:hover,*/
.dark-purple-button:hover,
.purple-button:focus,
.purple-button:active {
    color: white;
    background: #423684;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #272533;
    background-color: #e9ecef;
}


.box-hover {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.box-hover:hover,
.box-hover:focus,
.box-hover:active {
    transform: translateY(-2px);

    box-shadow: 0 11px 20px rgba(50, 50, 93, .1), 0 6px 11px rgba(0, 0, 0, .08);
}

.home-flex {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.home-flex-step {
    width: 48%;
    height: 100px;
    margin: 1%;

    transition: all .2s ease-in-out;

    border-radius: 10px;
    background: white;
}

.home-flex-step-locked {
    width: 48%;
    height: 100px;
    margin: 1%;
    transition: all .2s ease-in-out;

    border: solid 2px #edf2f9;
    border-radius: 10px;
}

.home-flex-step {
    box-sizing: border-box;
    height: 91px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 6px 10px 0 rgba(131, 134, 163, 0.12);
    border: 1px solid #EDF2F9;
    margin: 0 0 9px;
    padding: 0 16.5px;
}

.home-flex-step-locked {
    box-sizing: border-box;
    height: 91px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #EDF2F9;
    border-radius: 5px;
    margin: 0 0 9px;
    background-color: #F6F6FA;
    box-shadow: 0 6px 10px 0 rgba(131, 134, 163, 0.12);
    padding: 0 16.5px;
}

.home-flex-step-locked h5,
.home-flex-step-locked h6 {
    color: #6c757d !important;
}

.home-flex-step-body {
    display: flex;
    width: 100%;
    flex-flow: column;
}

.home-step-wrapper {
    position: relative;

    height: auto;
    margin-top: 30px;

}

.home-step-container {
    padding: 20px 36px;
}

.home-step-container__description-title {
    display: block;
    padding-bottom: 10px;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 16px;
}

.home-step-container__description-content {
    color: #212528;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
}

.home-step-container__description-link,
.home-step-container__description-link.btn {
    padding: 0;
    color: #4A3D92;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 16px;
    text-align: left;

}

.home-step-header {
    margin-bottom: 0 !important;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.card {
    border-color: #edf2f9;
    border-radius: 8px;
}

.card-img-top {
    width: 100%;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.content-container {
    position: relative;

    height: auto;
    margin-top: 30px;
    padding: 20px 36px;

    border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    -moz-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);

    -o-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.max-width-700 {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
}

.max-width-500 {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.max-width-400 {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
}

.content-container-header {
    margin-top: 30px;
    padding: 20px 0px;
}

.content-container-no-shadow {
    margin-top: 30px;
    padding: 20px 36px;
}

.list-wrapper {
    margin-top: 30px;
    padding: 20px 36px;

    border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    -moz-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);

    -o-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.list-wrapper-no-box {
    margin-bottom: 15px;

    border-radius: 8px;
    background-color: white;
}


.privacypolicy-wrapper {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
}

.privacypolicy-wrapper h5 {
    margin-bottom: 1.5rem;
}

.privacypolicy-wrapper td {
    font-size: 16px;
}

.privacypolicy-wrapper h6 {
    margin-bottom: 1rem;
}

.table-content {
    max-width: 50%;
}

.terms-wrapper {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
}

.terms-wrapper h5 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.terms-wrapper h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.privacy-policy-container {
    margin-bottom: 1.5rem;
}

.terms-container {
    margin-bottom: 1.5rem;
}

.cookies-wrapper {
    margin-bottom: 1rem;

    border: 1px solid rgb(238, 241, 242);
    border-radius: 8px;
}

.cookies-type-heading {
    margin-bottom: 0 !important;
    padding: .75rem;

    background: #fbfcfc;
}


.cookie-used {
    font-size: 12px;

    display: inline-block;

    margin: 5px;
    padding: 5px;

    color: white;
    border-radius: 5px;
    background: #79589f;
}

#ppBody {
    font-size: 11pt;

    width: 100%;
    margin: 0 auto;

    text-align: justify;
}

#ppHeader {
    font-family: verdana;
    font-size: 21pt;

    width: 100%;
    margin: 0 auto;
}

.ppConsistencies {
    display: none;
}


.background-loader {
    position: relative;
}

.background-loader iframe {
    z-index: 99;
}

.background-loader::after {
    position: absolute;
    display: block;
    content: '';
    top: calc(50% - 14px);
    bottom: 0;
    left: calc(50% - 14px);
    width: 28px;
    height: 28px;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;

    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(74, 64, 144) transparent transparent rgb(74, 64, 144);

    -webkit-animation-duration: 1333ms;
    animation-duration: 1333ms;

    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-name: background-loader-rotation;
    animation-name: background-loader-rotation;

    -webkit-transform: rotate(129deg);
    -ms-transform: rotate(129deg);
    transform: rotate(129deg);

    z-index: 1;
}

@-webkit-keyframes background-loader-rotation {
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg);
    }
    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg);
    }
    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg);
    }
    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg);
    }
    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg);
    }
    to {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg);
    }
}

@keyframes background-loader-rotation {
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg);
    }
    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg);
    }
    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg);
    }
    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg);
    }
    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg);
    }
    to {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg);
    }
}


.video-block-stub__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 15px;
    width: calc(100% - 30px);
    height: 100vh;
    background-color: #f8f8fb;
    z-index: 90099;
}

.video-block-stub-animation {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: 3.5s forwards infinite videoBlockStubFadeIn cubic-bezier(1, -0.01, 0.34, 1.04);
    animation: 3.5s forwards infinite videoBlockStubFadeIn cubic-bezier(1, -0.01, 0.34, 1.04);
}

@-webkit-keyframes videoBlockStubFadeIn {
    100% {
        opacity: 0
    }

    50% {
        opacity: 0.65;
    }

    0% {
        opacity: 1
    }
}

@keyframes videoBlockStubFadeIn {
    100% {
        opacity: 0
    }

    50% {
        opacity: 0.65;
    }

    0% {
        opacity: 1
    }
}

.video-block-stub__image {
    width: 100%;
    min-height: 210px;
}

.video-block-stub__title {
    padding: 28px 17px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #edf2f9;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 10px 10px -10px rgba(131, 134, 163, 0.12);
    box-shadow: 0 10px 10px -10px rgba(131, 134, 163, 0.12);
}

.video-block-stub__title svg {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.video-block-stub__description {
    padding: 28px 17px;
    width: 100%;
}

.video-block-stub__description_single {
    padding: 30px 17px 0;
}

.video-block-stub__description svg {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.video-block-stub__action {
    padding: 8px 23px;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #edf2f9;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 -10px 10px -10px rgba(131, 134, 163, 0.12);
    box-shadow: 0 -10px 10px -10px rgba(131, 134, 163, 0.12);
}

.video-block-stub__action button.disabled,
.video-block-stub__action button:disabled,
.video-block-stub__action button[disabled],
.video-block-stub__action button:active.disabled,
.video-block-stub__action button:active:disabled,
.video-block-stub__action button:active[disabled],
.video-block-stub__action button:focus.disabled,
.video-block-stub__action button:focus:disabled,
.video-block-stub__action button:focus[disabled] {
    color: #00C2A2 !important;
    border: 1px solid #00C2A2 !important;
    background-color: transparent !important;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.home-flex-step-video {
    background-color: #000;
}

/*
    end
    =MAIN ALL
----------------------------------------*/


/*
        =INDEX PAGE
----------------------------------------*/
.main-index-wrapper {
    overflow: hidden;
}

.index-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
}

.index-container-wide {
    overflow: visible;

    width: 100%;
    margin: 0 auto;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
}

.index-header-bg {
    background-image: url('https://d3qqgqjfawam42.cloudfront.net/main-pic.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.challenge-email-signup {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.index-header-bg h1 {
    color: #fff;
}

.gradient-bg {
    padding: 2em;

    border-top: none;
    background-image: linear-gradient(to bottom, #4A3D92, #372e6c);
}

.gradient-bg-white {
    padding: 3em 0;

    background: white;
}

.index-page-section {
    padding: 4rem 0;
}


.index-page-section-white {
    padding: 4rem 0;

    background: white;
}

.gradient-bg-grey {
    padding: 2em 0;

    border-top: 1px solid #f1f1f1;
}


.key-features-wrap-top {
    margin: 0 .5rem;

    border-top-left-radius: .2em;
    border-top-right-radius: .2em;
}

.key-features-wrap-top ul {
    padding: 0;
}

.key-features-wrap-top li {
    font-weight: 300 !important;
    line-height: 1.5em;

    display: inline-block;

    margin-bottom: 1.5em;
    padding: 0 0 0 3.5em;

    vertical-align: top;
}

.request-program {
    padding: 15px;

    color: rgb(8, 8, 10) !important;
    border-radius: 8px;
    background: white;
    box-shadow: 0 10px 40px 10px rgba(140, 152, 164, .175);
}

.receive-program {
    padding: 15px;

    color: rgb(8, 8, 10) !important;
    border-radius: 8px;
    background: white;
    box-shadow: 0 10px 40px 10px rgba(140, 152, 164, .175);
}

#features-including li:last-child {
    margin-bottom: 2rem;
}

#fitness-videos-icon {
    background: url('https://d3qqgqjfawam42.cloudfront.net/index-videos.svg') no-repeat left top;
}

#training-programmes-icon {
    background: url('https://d3qqgqjfawam42.cloudfront.net/index-programmes.svg') no-repeat left top;
}

#nutrition-guidance-icon {
    background: url('https://d3qqgqjfawam42.cloudfront.net/index-nutrition.svg') no-repeat left top;
}

#trainer-support-icon {
    background: url('https://d3qqgqjfawam42.cloudfront.net/index-support.svg') no-repeat left top;
}

#healthy-recipes-icon {
    background: url('https://d3qqgqjfawam42.cloudfront.net/index-recipe.svg') no-repeat left top;
}

#training-groups-icon {
    background: url('https://d3qqgqjfawam42.cloudfront.net/challenge-icon-v3.svg') no-repeat left top;
}


/* index features padded top */

.features-padding-top {
    padding-top: 3rem;
}

/* index features padded bottom */

.features-padding-bottom {
    padding-bottom: 3rem;
}


.inner-features-wrap h4 {
    margin-bottom: 3rem;
}


.jsa-challenge-wrapper {
    margin-top: 3rem;
    margin-bottom: 3rem;
}


.jsa-challenge-wrapper h4 {
    margin-bottom: 3rem;
}

#personalised-programmes h4 {
    color: #fff;
}

#personalised-programmes .programs-heading {
    margin-bottom: 3rem;
}


#personalised-programmes .d-mobile li:last-child {
    margin-bottom: 2rem;
}

#personalised-programmes img {
    width: auto;
}

#personalised-programmes ul,
#nutrition-guidance ul {
    list-style: none;
}

#nutrition-guidance h2 {
    color: #fff;
}

#nutrition-guidance ul {
    margin-bottom: 2rem;

    color: #fff;
}


#coaches-image {
    border-radius: 8px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 6px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}


#transformations-row {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#transformations-row img {
    width: 100%;
    margin-bottom: 1rem;

    border-radius: 8px;
}

#transformation-row img:last-child {
    margin-bottom: 2.25rem;
}

#transformations-row a {
    color: #4A3D92;
}


.testimonial-pic {
    width: 100%;
    height: auto;

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

/*
    end
    =HOME/INDEX
----------------------------------------*/


/*
    =MAIN
    =MEMBERSHIP OPTIONS PAGE
----------------------------------------*/

/* wrapper to define classes */
.membership-wrapper {
    padding-bottom: 2.5rem;
}

/*
    end
    =MEBERSHIP OPTIONS PAGE
----------------------------------------*/


/*
    =MAIN
    =BLOG PAGE
----------------------------------------*/
.blog-wrapper {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.blog-wrapper .jumbotron {
    padding-top: 100px;
    padding-bottom: 100px;

    border-radius: 0;
    background: #4A3D92;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .25);
}

.blog-wrapper .nav-pills .nav-link.active {
    color: white !important;
    background-color: #539aee !important;
}

/*
    end
    =BLOG PAGE
----------------------------------------*/


/*
    =MAIN
    =MEMBERS PAGE
----------------------------------------*/
.users-account-wrapper {
    min-height: 100vh;
    padding-bottom: 50px;
}


.rating-stars {
    margin-right: auto;
    margin-left: auto;

    text-align: center !important;
}

.jq-ry-container {
    margin-right: auto;
    margin-left: auto;

    text-align: center !important;
}

.profile-picture {
    border-radius: 50%;
}

.small-profile-wrapper {
    width: 25px;
    height: 25px;
}

.small-profile-wrapper img {
    width: 100%;
    height: 100%;
}

.profile-image {
    width: 25px;
    height: 25px;
    margin-right: auto;
    margin-left: auto;

    border-radius: 50%;
}

.coach-response-image {
    width: 75px;
    height: 75px;

    border-radius: 5px;
}


.panel-heading {
    background: #f4f7fc;
}

.video-search {
    border-radius: 20px;
    background: white;
}

.video-search input {
    padding-left: 20px;

    border: none;
    background: transparent;
}

.video-search-icon {
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: white;
}

.video-search input:focus {
    border: none;
}

.faq-search {
    border-radius: 20px;
    -webkit-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    -moz-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);

    -o-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.faq-search input {
    padding-left: 20px;

    border: none;
}

.faq-search-icon {
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: white;
}

.faq-search input:focus {
    border: none;
}

.app-header-tabs {
    padding-bottom: 0;
}

.app-header-tabs .option-header-wrapper {
    margin-top: 1rem;

    background: transparent;
}

.app-header-tabs .option-header-wrapper .option-header {
    color: #dedcea;
    border-bottom: transparent solid 4px;
    background-color: transparent;
}

.app-header-tabs .option-header-wrapper .option-header-active {
    color: white;
    border-bottom: white solid 4px;
}

.app-header-tabs .option-header-wrapper .option-header-active:hover {
    color: white;
    border-bottom: white solid 4px;
}


.recipe-search {
    border-radius: 20px;
    background: white;
    -webkit-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    -moz-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);

    -o-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.recipe-search input {
    padding-left: 20px;

    border: none;
}

.recipe-search select {
    padding-left: 20px;

    border: none;
}

.recipe-search input:focus {
    border: none;
}

.recipe-search select:focus {
    border: none;
}

.coaching-wrapper {
    min-height: 80vh;
}


/*
    end
    =MEMBERS PAGE
----------------------------------------*/


/*
    =MAIN
      =LOGIN PAGE
----------------------------------------*/
.login-wrapper {
    min-height: 100%;
    padding-top: 25px;
    padding-bottom: 25px;

    background-image: linear-gradient(to bottom, #4A3D92, #372e6c);
}

.login-logo img {
    max-width: 75px;
    padding: 5px;

    text-align: center;
}

.login {
    background-color: white;
}

.login h4 {
    font-size: 1.33rem;

    margin-bottom: 1.25rem;

    color: #3f3f44;
}

.login .alert,
.register .alert {
    text-align: left;
}


/*
    end
    =LOGIN/REG
----------------------------------------*/


/*
    =MAIN
        =REGISTER PAGE
----------------------------------------*/
.register {
    background-color: white;
}

.register h4 {
    font-size: 1.33rem;

    margin-bottom: 1.25rem;

    color: #3f3f44;
}

.reset-container {
    min-height: 100vh;
    margin-top: 100px;
}

.input-group-addon {
    color: #423966;
    background-color: transparent;
}

.input-group-text {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.form-control,
.custom-select {
    border-radius: 8px;
    background: transparent;
}

.form-control-rounded {
    border-radius: 20px;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='color']:focus,
.form-control:focus,
select:focus,
.custom-select:focus,
.uneditable-input:focus,
textarea:focus {
    border-color: #4A3D92;
    outline: 0 !important;
    box-shadow: none;
    background: transparent;
}

input:invalid {
    box-shadow: none;
}

textarea:invalid {
    box-shadow: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

.goal-setting-goal-wrapper {
    margin-top: 15px;
    padding: 20px;

    border-radius: 8px;
    -webkit-box-shadow: 0 5px 20px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    -moz-box-shadow: 0 5px 20px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    box-shadow: 0 5px 20px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);

    -o-box-shadow: 0 5px 20px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
}

.enter-button-centered {
    margin-top: 15px;
    padding-right: 50px !important;
    padding-left: 50px !important;

    box-shadow: 3px 3px 29px rgba(74, 64, 144, .2), 2px 2px 29px rgba(74, 64, 144, .2) !important;
}

.form-control-single-border {
    padding-left: 0;

    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    border-radius: 0 !important;
}


/*
    end
    =REG
 ----------------------------------------*/


/*
    =FOOTER
----------------------------------------*/
footer {
    text-align: center;

    background-color: #21293e;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
}

.lower-footer {
    font-size: 16px;

    padding-top: 15px;
    padding-bottom: 15px;

    color: #505b64;
    background-color: #21293e;
}

.relative-footer {
    padding-top: 75px;
    padding-bottom: 75px;
}

footer a {
    font-size: 12px;

    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
    text-decoration: none;

    color: #8a9197;
}

footer a:hover {
    color: white;
}

footer p {
    font-size: 12px;

    color: white;
}

/*
    end
    =FOOTER
----------------------------------------*/


/*
    =BUTTONS
----------------------------------------*/


.btn {
    font-weight: 500;
    border-radius: 8px;
}

.btn-sub-menu {
    color: #4A3D92;
    background: white;
}

.btn-white-menu {
    color: #4A3D92;
    border-color: white;
    background: white;
}

.navbar-button {
    margin: 5px;
    border-color: #fafbfa !important;
    border-radius: 20px;
}

.delete-button {
    border-color: transparent;
    background: #fbfcfc;
    box-shadow: none !important;
}

.flat-button {
    border-color: transparent;
    background: #fbfcfc;
    box-shadow: none !important;
}

.btn-floating {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

.btn-square {
    width: 40px;
    height: 40px;
}

.btn-rounded {
    border-radius: 20px;
}

.btn-sm {
    font-size: .875rem;

    padding: .25rem .5rem;
}

.btn-xs {
    font-size: .675rem;

    padding: .25rem .5rem;
}

.btn.btn-tb {
    padding: .3rem 1rem;
}

.btn-primary {
    color: #fff;
    border-color: #4A3D92;
    outline: 0;
    background-color: #4A3D92;
}

.btn-primary:hover,
.btn-primary:active {
    color: #fff;
    border-color: #362f69 !important;
    background-color: #362f69 !important;
}

.btn-primary:focus,
.btn-primary.focus {
    border-color: #362f69 !important;
    background-color: #362f69 !important;
}

.btn-primary.disabled,
.btn-primary:disabled,
.btn-primary[disabled],
.btn-primary.disabled:hover,
.btn-primary:disabled:hover,
.btn-primary[disabled]:hover,
.btn-primary.disabled:focus,
.btn-primary:disabled:focus,
.btn-primary[disabled]:focus,
.btn-primary.disabled.focus,
.btn-primary:disabled.focus,
.btn-primary[disabled].focus {
    background-color: #4A3D92 !important;
    border-color: transparent;
    opacity: .65;
}

.program-table .btn-primary {
    box-shadow: none;
}

.btn-outline-primary {
    color: #4A3D92 !important;
    border: 1px solid #4A3D92 !important;
    background-color: transparent !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary:active:focus,
.btn-outline-primary.active {
    color: white !important;
    border-color: #4A3D92 !important;
    background-color: #4A3D92 !important;
}

.btn-success {
    margin: 0 auto;
    max-width: 283px;
    color: #fff;
    border-color: #00C2A2;
    outline: 0;
    background-color: #00C2A2;
}

.btn-success:hover,
.btn-success:active {
    color: #fff;
    border-color: #009f85 !important;
    background-color: #009f85 !important;
}

.btn-success:focus,
.btn-success.focus {
    border-color: #009f85 !important;
    background-color: #009f85 !important;
}

.btn-success.disabled,
.btn-success:disabled,
.btn-success[disabled],
.btn-success.disabled:hover,
.btn-success:disabled:hover,
.btn-success[disabled]:hover,
.btn-success.disabled:focus,
.btn-success:disabled:focus,
.btn-success[disabled]:focus,
.btn-success.disabled.focus,
.btn-success:disabled.focus,
.btn-success[disabled].focus {
    background-color: #009f85 !important;
    border-color: transparent;
    opacity: .65;
}

.btn-outline-success {
    color: #00C2A2 !important;
    border: 1px solid #00C2A2 !important;
    background-color: transparent !important;
}

.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:active,
.btn-outline-success:active:focus,
.btn-outline-success.active {
    color: white !important;
    border-color: #00C2A2 !important;
    background-color: #00C2A2 !important;
}

.btn-secondary {
    margin: 0 auto;
    max-width: 283px;
    color: #fff;
    border-color: #5EB9D0;
    outline: 0;
    background-color: #5EB9D0;
}

.btn-secondary:hover,
.btn-secondary:active {
    color: #fff;
    border-color: #4D98AB !important;
    background-color: #4D98AB !important;
}

.btn-secondary:focus,
.btn-secondary.focus {
    border-color: #4D98AB !important;
    background-color: #4D98AB !important;
}

.btn-secondary.disabled,
.btn-secondary:disabled,
.btn-secondary[disabled],
.btn-secondary.disabled:hover,
.btn-secondary:disabled:hover,
.btn-secondary[disabled]:hover,
.btn-secondary.disabled:focus,
.btn-secondary:disabled:focus,
.btn-secondary[disabled]:focus,
.btn-secondary.disabled.focus,
.btn-secondary:disabled.focus,
.btn-secondary[disabled].focus {
    background-color: #009f85 !important;
    border-color: transparent;
    opacity: .65;
}

.btn-outline-secondary {
    color: #5EB9D0 !important;
    border: 1px solid #5EB9D0 !important;
    background-color: transparent !important;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active,
.btn-outline-secondary:active:focus,
.btn-outline-secondary.active {
    color: white !important;
    border-color: #5EB9D0 !important;
    background-color: #5EB9D0 !important;
}


.btn-fb {
    color: #fff !important;
    border: none;
    background-color: #3b5998 !important;
    box-shadow: 2px 2px 29px rgba(59, 89, 152, .15), 2px 2px 29px rgba(59, 89, 152, .15);
}

.btn-fb:hover {
    background-color: #4264aa;
}

.btn-fb:focus,
.btn-fb.focus {
    -webkit-box-shadow: 0 2px 6px -1px rgba(0, 0, 0, .1), 0 6px 5px 0 rgba(0, 0, 0, .07), 0 1px 10px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, .1), 0 6px 5px 0 rgba(0, 0, 0, .07), 0 1px 10px 0 rgba(0, 0, 0, .05);
}

.btn-fb:focus,
.btn-fb:active,
.btn-fb.active {
    background-color: #1e2e4f;
}

.btn-fb.dropdown-toggle {
    background-color: #3b5998 !important;
}

.btn-fb.dropdown-toggle:hover,
.btn-fb.dropdown-toggle:focus {
    background-color: #4264aa !important;
}

.btn-fb:not([disabled]):not(.disabled):active,
.btn-fb:not([disabled]):not(.disabled).active,
.show > .btn-fb.dropdown-toggle {
    background-color: #1e2e4f !important;
    -webkit-box-shadow: 0 2px 6px -1px rgba(0, 0, 0, .1), 0 6px 5px 0 rgba(0, 0, 0, .07), 0 1px 10px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, .1), 0 6px 5px 0 rgba(0, 0, 0, .07), 0 1px 10px 0 rgba(0, 0, 0, .05);
}

.btn-fb:not([disabled]):not(.disabled):active:focus,
.btn-fb:not([disabled]):not(.disabled).active:focus,
.show > .btn-fb.dropdown-toggle:focus {
    -webkit-box-shadow: 0 2px 6px -1px rgba(0, 0, 0, .1), 0 6px 5px 0 rgba(0, 0, 0, .07), 0 1px 10px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, .1), 0 6px 5px 0 rgba(0, 0, 0, .07), 0 1px 10px 0 rgba(0, 0, 0, .05);
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .1rem rgba(74, 64, 144, .25);
}

.btn-link:focus {
    outline: 0;
    box-shadow: none;
}

.index-button {
    font-size: .875rem !important;

    padding: 10px 30px;

    cursor: pointer;
    text-align: center;

    color: white;
    border: none;
    border-radius: 20px;
    background: #4A3D92;
    box-shadow: 3px 3px 29px rgba(74, 64, 144, .2), 2px 2px 29px rgba(74, 64, 144, .2) !important;
}

.index-button:hover {
    color: #fff;
    background: #362f69;
}

.coaches-image-container {
    border-bottom: none;
    background: linear-gradient(to bottom, white, white 50%, #4A3D92 0%, #4A3D92 75%);
}


#start-trial-button {
    color: white;
    border-radius: 20px;
    background: #6e70a6;
}

#start-trial-button:hover {
    color: white;
    background: #585798;
}


/* location of buttons unknown from here on */


.btn-lg {
    border-radius: 8px;
}

.btn-link {
    color: #4A3D92;
}

.btn-link:hover,
.btn-link:focus,
.btn-link:active {
    color: #4A3D92;
}


.btn-round {
    min-width: 42px;
    min-height: 42px;

    border-radius: 100%;
}

.btn-active,
.btn-active:focus,
.btn-active:active,
.btn-active:hover {
    border-color: #00C2A2;
    background-color: #00C2A2;
}


/*
    end
    =BUTTONS
----------------------------------------*/

/*
    =MISCELLANEOUS
----------------------------------------*/


.transformations {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}


.speech-bubble {
    position: fixed;
    z-index: 4000;
    bottom: 30px;

    max-width: 500px;
    margin: auto;
    margin: 5px;
    margin-right: 20px;
    padding: 10px;

    border: 1px solid #eaecef;
    border-radius: .4em;
    background: white;
}


.membership-purple-container {
    color: white;
    background-color: #4A3D92;
}

.white-payment-button {
    color: #4A3D92;
    background-color: white;
}

.unjudged {
    font-size: .871rem;

    width: 100%;
    padding: 3px 15px;

    text-align: center;

    border-radius: 20px;
    background-color: #f8f8f8;
}

.passed-judging {
    font-size: .871rem;

    width: 100%;
    padding: 3px 15px;

    text-align: center;

    color: white;
    border-radius: 20px;
    background-color: #00C2A2;
}

.cost-per-month {
    padding: 8px 3px;

    color: #4A3D92;
    border-radius: 20px;
    background-color: white;
}

.cost-per-duration {
    padding: 8px 3px;

    color: white;
    border-radius: 20px;
    background-color: #4A3D92;
}

.price-circle {
    width: 200px;
    height: 200px;
    margin-top: 1rem;
    margin-right: auto;
    margin-bottom: 1.5rem;
    margin-left: auto;

    border: solid white 3px;
    border-radius: 200px;
}

.price-circle-black {
    width: 200px;
    height: 200px;
    margin-top: 1rem;
    margin-right: auto;
    margin-bottom: 1.5rem;
    margin-left: auto;

    border: solid #4A3D92 3px;
    border-radius: 200px;
}

.price-pill-grey {
    font-size: .871rem;

    width: 100%;
    margin-bottom: 10px;
    padding: 8px 5px;

    text-align: center;

    border-radius: 20px;
    background-color: #f8f8f8;
}

.price-pill-purple {
    font-size: .871rem;

    width: 100%;
    margin-bottom: 10px;
    padding: 8px 5px;

    text-align: center;

    color: white;
    border-radius: 20px;
    background-color: #3f3588;
}


.sub-menu-title {
    margin-right: 10px;
}


/*
    end
    =MISCELLANEOUS
----------------------------------------*/


/*
    =LANDING PAGE
----------------------------------------*/

.bounce {
    -webkit-animation: bounce 1.5s infinite;
    -moz-animation: bounce 1.5s infinite;
    animation: bounce 1.5s infinite;
}

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    60% {
        -moz-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-55px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

/*
    end
    =LANDING PAGE
----------------------------------------*/


/*
    =MEDIA QUERIES
----------------------------------------*/

.for-mobile {
    display: none;
}

.for-desktop {
    display: block;
}

/* for phone only --------------------------------------------------------- */

@media screen and (max-width: 599px) {
    .custom-dropdown {
        box-shadow: none;
    }

    /* width setting for the main container */
    .index-container {
        max-width: 32rem;
    }

    /* width setting for the main-wide container */
    .index-container-wide {
        max-width: 36rem;
    }

    .video-search {
        border-bottom: none;
    }

    .recipe-image {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .mobile-container .card {
        border-radius: 0;
    }

    .category-title {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .option-header-wrapper {
        border-radius: 0;
    }

    #included-button {
        background: #423684;
    }

    .features-padding-top {
        padding-top: 0;
    }

    .features-padding-bottom {
        padding-bottom: 0;
    }

    .jsa-challenge-wrapper {
        margin-top: 0;
        margin-bottom: 0;
    }

    #transformations-row {
        margin-top: 0;
        margin-bottom: 0;
    }

    #coaches-image {
        border-radius: 0;
    }
}

/* from mobile to tablet portrait ----------------------------------------- */

/* not sure this is labelled correctly ------------------------------------ */

@media (max-width: 768px) {
    .home-flex-step {
        width: 100%;
    }

    #standard-plan-col {
        margin-top: 30px;
    }

    #paypal-button-3month {
        margin-top: 20px;
    }

    .home-flex-step-locked {
        width: 100%;
    }

    .scroll-view:after {
        display: block;

        width: 100%;
        padding-bottom: 25px;

        content: '';
    }

    .index-page-section {
        padding: 3rem 0;
    }


    .index-page-section-white {
        padding: 3rem 0;

        background: white;
    }

    .challenge-email-signup {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        padding: 1rem;
    }

    .video-search input {
        height: 35px;
    }

    .videos-search-heading {
        padding-top: 10px;
        padding-bottom: 10px;

        background: #4A3D92;
    }

    .navbar-brand img {
        height: 30px !important;
    }

    #index-header {
        margin-top: 20%;

        text-align: center;
    }

    .custom-nav a {
        margin-left: 5px;
    }

    .video-search {
        border-bottom: none;
    }

    .content-container,
    .list-wrapper,
    .home-step-container,
    .content-container-no-shadow {
        padding: 20px;
    }

    .content-container-mobile {
        padding: 0 !important;

        background-color: #f8f8fb !important;
        box-shadow: none !important;
    }

    .content-container-mobile .list-group-item {
        background: transparent;
    }

    .home-step-wrapper-no-shadow {
        border-radius: 8px;
    }

    .home-step-wrapper {
        width: 100%;
        margin-top: 0;
    }

    .content-container-dashed {
        margin-top: 7px;

        border-radius: 0;
    }

    .scrollmenu .option-header-wrapper {
        margin-right: 0;
        margin-left: 0;
    }


    /* index page */
    .index-header-bg {
        padding-bottom: 10%;

        background-color: #4A3D92;
        background-image: none;
    }

    .index-header-bg h4 {
        text-align: center;
    }

    .index-header-bg h6 {
        text-align: center;
    }

    a#navbarDropdownMenuLink.nav-link.dropdown-toggle {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .users-account-wrapper {
        overflow-x: hidden;
    }

    .membership-wrapper {
        overflow-x: hidden;
    }

    .navbar-light {
        box-shadow: none;
    }

    .for-mobile {
        display: block;
    }

    .for-desktop {
        display: none;
    }

    .app-header {
        padding-top: .6rem;
        padding-bottom: .6rem;
    }

    .app-header h4 {
        font-size: 1.4rem;
    }

    .app-header-tabs {
        padding-bottom: 0;
    }

    .site-headings {
        padding-top: .7rem;
        padding-bottom: .7rem;
    }

    .site-headings h4 {
        font-size: 1.7rem;
    }

    .site-headings-2 {
        padding-top: .7rem;
        padding-bottom: .7rem;
    }

    .site-headings-2 h4 {
        font-size: 1.7rem;
    }

    .index-button-container {
        text-align: center !important;
    }

    #included-button {
        margin-bottom: 25px;
    }

    .program-table td,
    .program-table th {
        padding-right: 5px;
        padding-left: 5px;
    }

    .request-program {
        margin-bottom: 1rem;
    }

    .navbar-inverse .container {
        padding-left: 0;
    }
}

@media screen and (min-width: 600px) {
    /* index page */
    .index-container {
        max-width: 34rem;
    }

    .index-container-wide {
        max-width: 38rem;
    }

    .index-header-bg {
        height: 70vh;
    }

    .index-button {
        font-size: 1rem;
    }

    .key-features-wrap-top li {
        width: calc(50% - 1.15em);
        margin-right: 2em;
    }

    .key-features-wrap-top li:nth-child(even) {
        margin-right: 0;
    }

    #video-library p {
        margin: 0 10%;
        padding-bottom: 4rem;
    }

    /* membership payment queries */
    .pricing-wrapper {
        padding: 2.5rem;
    }

    .week-tags {
        display: none;
    }

    #week-search-result {
        width: 75% !important;
    }

    .coach-chat-sidebar {
        max-height: 25% !important;
    }

    /* landing page */
    .landing-carousel {
        padding: 0 20%;
    }
}

/* for tablet landscape up ------------------------------------------------ */

@media screen and (min-width: 900px) {
    .d-mobile {
        display: none;
    }

    .d-tablet-up {
        display: block;
    }

    /* index page */
    .index-container {
        max-width: 48rem;
    }

    .index-container-wide {
        max-width: 56rem;
    }

    .key-features-wrap-top li {
        width: calc(33% - 1.4rem);
        margin-right: 2em;
        margin-bottom: 3.5em;
    }

    .key-features-wrap-top li:nth-child(even) {
        margin-right: 2em;
    }

    .key-features-wrap-top li:nth-child(3n+0) {
        margin-right: 0;
    }

    .key-features-wrap-top {
        padding-top: 3rem;
    }

    .gradient-bg-white {
        padding: 4rem 0;
    }

    #nutrition-carousel {
        margin-bottom: 0;
    }

    #nutrition-guidance h2,
    #nutrition-guidance ul {
        padding-left: 2rem;
    }

    #nutrition-carousel {
        /*margin-bottom: 2.25rem;*/
    }

    #coaching-support {
        text-align: left;
    }

    .request-program {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 900px) {
    .d-mobile {
        display: block;
    }

    .d-tablet-up {
        display: none;
    }
}

/* for desktop up --------------------------------------------------------- */

@media screen and (min-width: 1200px) {
    .index-container {
        max-width: 64rem;
    }

    .index-container-wide {
        max-width: 72rem;
    }
}

/* for big desktop up ----------------------------------------------------- */

@media screen and (min-width: 1800px) {
}

/*
    =CHAT BOX
----------------------------------------*/

@-webkit-keyframes rotation-lr {
    from {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    to {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@keyframes rotation-lr {
    from {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    to {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@-webkit-keyframes rotation-rl {
    from {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    to {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@keyframes rotation-rl {
    from {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    to {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@-webkit-keyframes slide-in {
    from {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);

        opacity: 0;
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);

        opacity: 1;
    }
}

@keyframes slide-in {
    from {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);

        opacity: 0;
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);

        opacity: 1;
    }
}

@-webkit-keyframes slide-out {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);

        opacity: 1;
    }

    to {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);

        opacity: 0;
    }
}

@keyframes slide-out {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);

        opacity: 1;
    }

    to {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);

        opacity: 0;
    }
}

.widget-container {
    position: fixed;
    z-index: 9999;
    right: 0;
    bottom: 0;

    display: -ms-flexbox;
    display: flex;
    flex-direction: column;

    max-width: 370px;
    margin: 0 20px 20px 0;

    -ms-flex-direction: column;
}

.opened {
    width: 90vw;
}

.full-screen {
    width: 100%;
    max-width: none;
    margin: 0;
}

.full-screen.opened {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 800px) {
    .widget-container {
        width: 100%;
        max-width: none;
        margin: 0;
    }

    .widget-container.opened {
        height: 100%;
    }
}

@-webkit-keyframes rotation-lr {
    from {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    to {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@keyframes rotation-lr {
    from {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    to {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@-webkit-keyframes rotation-rl {
    from {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    to {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@keyframes rotation-rl {
    from {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    to {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@-webkit-keyframes slide-in {
    from {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);

        opacity: 0;
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);

        opacity: 1;
    }
}

@keyframes slide-in {
    from {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);

        opacity: 0;
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);

        opacity: 1;
    }
}

@-webkit-keyframes slide-out {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);

        opacity: 1;
    }

    to {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);

        opacity: 0;
    }
}

@keyframes slide-out {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);

        opacity: 1;
    }

    to {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);

        opacity: 0;
    }
}

.conversation-container {
    -webkit-animation-name: slide-in;
    -moz-animation-name: slide-in;
    animation-name: slide-in;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-delay: 0;
    /* this prevents the animation from restarting! */
    -moz-animation-delay: 0;
    /* this prevents the animation from restarting! */
    animation-delay: 0;
    /* this prevents the animation from restarting! */

    border-radius: 10px;
    -webkit-box-shadow: 0 2px 10px 1px #b5b5b5;
    box-shadow: 0 2px 10px 1px #b5b5b5;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.slide-out {
    -webkit-animation-name: slide-out;
    -moz-animation-name: slide-out;
    animation-name: slide-out;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-delay: 0;
    /* this prevents the animation from restarting! */
    -moz-animation-delay: 0;
    /* this prevents the animation from restarting! */
    animation-delay: 0;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
}

.full-screen .conversation-container {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;

    height: 100%;

    -ms-flex-direction: column;
}

@media screen and (max-width: 800px) {
    .conversation-container {
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;

        height: 100%;

        -ms-flex-direction: column;
    }
}

@-webkit-keyframes rotation-lr {
    from {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    to {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@keyframes rotation-lr {
    from {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    to {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@-webkit-keyframes rotation-rl {
    from {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    to {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@keyframes rotation-rl {
    from {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    to {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@-webkit-keyframes slide-in {
    from {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);

        opacity: 0;
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);

        opacity: 1;
    }
}

@keyframes slide-in {
    from {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);

        opacity: 0;
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);

        opacity: 1;
    }
}

@-webkit-keyframes slide-out {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);

        opacity: 1;
    }

    to {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);

        opacity: 0;
    }
}

@keyframes slide-out {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);

        opacity: 1;
    }

    to {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);

        opacity: 0;
    }
}

/*
    =MAIN
        =ACCOUNT PAGE
----------------------------------------*/


.receipt-container {
    position: relative;

    padding: 1.75rem 5% 3rem;

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #fbfcfc;
    background-image: /* Top Colour */ linear-gradient(
            90deg,
            #4A3D92 50%,
            #4A3D92 50%
    ),
        /* Bot Jag */ linear-gradient(
            45deg,
            rgba(255, 255, 255, 1) 50%,
            rgba(255, 255, 255, 0) 50%
    ),
    linear-gradient(
            -45deg,
            rgba(255, 255, 255, 1) 50%,
            rgba(255, 255, 255, 0) 50%
    ),
        /* Bot Fade  */ linear-gradient(
            to top,
            rgba(0, 0, 0, .05) 0%,
            rgba(0, 0, 0, 0) 100%
    );
    background-repeat: repeat-x;
    background-position: /* Top Colour */ top center,
        /* Bot Jag*/ bottom center, bottom center,
        /* Bot Fade */ bottom center;
    background-size: /* Top Jag Height */ 3px 3px,
        /* Bottom Jag */ 1.5rem 1.5rem,
    1.5rem 1.5rem,
        /* Bottom Fade Height */ 100% 3rem;
}

#account-details h5 {
    font-size: 1rem;

    margin: 0 0 1.25rem 0;

    color: #bdbdbd;
}

.current-plan-wrapper {
    font-weight: 300;
}

#current-plan {
    font-size: 1.5rem;
}

#current-plan-breakdown {
    font-size: 1rem;

    margin-bottom: .2125rem;

    color: #bdbdbd;
}

.change-plan-wrapper {
    font-size: .775rem;
    font-weight: 500;

    margin-bottom: 1.75rem;
}


#change-plan-link {
    font-size: 1rem;
    font-weight: 300;
}

.billing-period-wrapper {
    font-size: 1rem;

    color: #bdbdbd;
}

.text-1rem {
    font-size: 1rem;
}

.update-details {
    font-size: .775rem;
    font-weight: 500;

    margin-bottom: 1.75rem;

    cursor: pointer;
    text-transform: uppercase;

    color: #4A3D92 !important;
    border: none;
    box-shadow: none;
}

#update-card {
    font-size: .775rem;
    font-weight: 500;

    margin-bottom: 1.75rem;

    cursor: pointer;

    color: #4A3D92 !important;
}

#current-plan-total-header {
    font-size: 1rem;
    font-weight: 400;
}

#current-plan-total {
    font-size: 1.75rem;
    font-weight: 300;
}

.account-admin-links {
    font-size: 1rem;

    margin: 0 0 2.0rem;
}

.account-admin-links button {
    font-size: .875rem;
    font-weight: 500;

    cursor: pointer;
    text-transform: uppercase;

    color: #4A3D92;
    border: none;
    background: transparent;
}

.account-admin-links button:hover {
    font-weight: 300;

    color: #564b9f;
}

.small-profile-wrapper {
    width: 30px;
    height: 30px;
}

.small-profile-wrapper img {
    width: 100%;
    height: 100%;
}

.users-account-wrapper [type=submit] {
    -webkit-appearance: none;
}

.col-6 p {
    margin-bottom: .25rem;
}

#account-detail-fields {
    margin: 1.75rem 0 1.75rem;
}

.divider {
    height: 100vh;
}


/*
    =CONTACT
----------------------------------------*/

.contact-us-wrapper {
    min-height: 90vh;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
}


/*

    =SIDENAV
----------------------------------------*/

.side-nav-heading {
    padding-top: 20px;
    padding-left: 20px;
}

.side-nav {
    position: fixed;
    z-index: 1040;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 210px;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 3.75rem;

    list-style-type: none;

    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);

    background-color: #fbfcfc;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
    backface-visibility: hidden;
}

.side-nav-purple {
    background-image: linear-gradient(135deg, #4A3D92, #372e6c);
}


.side-nav > ul {
    max-height: 100vh;
}

.side-nav ul {
    padding-left: 0;

    list-style: none;
    list-style-type: none;
}

.side-nav ul li {
    padding: 0;
}

.side-nav.right-aligned {
    right: 0;
    left: auto;

    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.side-nav.side-nav-light .collapsible-body a {
    background-color: rgba(0, 0, 0, .1);
}

.side-nav.fixed {
    position: fixed;
    left: 0;

    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.side-nav.fixed.right-aligned {
    right: 0;
    left: auto;
}

@media only screen and (max-width: 1440px) {
    .side-nav.fixed {
        -webkit-transform: translateX(-105%);
        -ms-transform: translateX(-105%);
        transform: translateX(-105%);
    }

    .side-nav.fixed.right-aligned {
        -webkit-transform: translateX(105%);
        -ms-transform: translateX(105%);
        transform: translateX(105%);
    }
}

.side-nav .collapsible {
    margin: 0;
    margin-top: 1rem;
    padding: 0;
}

.side-nav .collapsible li a:hover {
    text-decoration: none;

    background-color: #e9ecef;
}

.side-nav-purple .collapsible li a:hover {
    text-decoration: none;

    background-color: transparent;
}

.side-nav .collapsible > li {
    -webkit-border-radius: 0;
    border-radius: 0;
}

.side-nav .collapsible > li a.collapsible-header:hover {
    background-color: #e9ecef;
}

.side-nav .collapsible > li a.collapsible-header.active {
    background-color: #e9ecef;
}

.side-nav .collapsible ul {
    padding: 0;

    list-style-type: none;
}

.side-nav .collapsible a {
    line-height: 36px;

    height: 36px;

    color: #4A3D92;
}

.side-nav .collapsible a.active,
.side-nav .collapsible a:hover {
    -webkit-border-radius: 0;
    border-radius: 0;
}


.side-nav-purple .collapsible a {
    line-height: 36px;

    height: 36px;

    color: white;
}

.side-nav-purple .collapsible a.active,
.side-nav-purple .collapsible a:hover {
    -webkit-border-radius: 0;
    border-radius: 0;
}

.side-nav .collapsible-body a {
    line-height: 36px;

    height: 36px;
    padding-left: 47px;

    color: #4A3D92;
    background-color: white;
}

.side-nav a {
    line-height: 56px;

    display: block;

    height: 56px;
    padding-left: 20px;
}

.side-nav .fa-angle-down.rotate-icon {
    position: absolute;
    top: .8rem;
    right: 0;

    margin-right: 1.25rem;
}

.side-nav .sidenav-bg {
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 240px;

    background-attachment: fixed;
}

.side-nav .sidenav-bg:after {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;
    margin-bottom: -99999px;
    padding-bottom: 99999px;

    content: '';
}

.side-nav .logo-wrapper {
    height: 140px;

    border-bottom: 1px solid #5e59ab;
}

.side-nav .logo-wrapper a {
    width: 240px;
    height: 140px;
    padding: 0;
}

.side-nav .logo-wrapper img {
    height: auto;
    padding-top: 20%;
    padding-right: 50px;
    padding-bottom: 20%;
    padding-left: 20px;
}

@media (max-height: 992px) {
    .side-nav .logo-wrapper {
        height: 80px;
    }

    .side-nav .logo-wrapper a {
        height: 80px;
    }

    .side-nav .logo-wrapper img {
        height: 80px;
        padding-top: 9%;
        padding-bottom: 9%;
    }
}

.flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    height: 100%;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-center p {
    margin: 0;
}

.flex-center ul {
    text-align: center;
}

.flex-center ul li {
    margin-bottom: 1rem;
}

.flex-center ul li:last-of-type {
    margin-bottom: 0;
}


.drag-target {
    position: fixed;
    z-index: 998;
    top: 0;

    width: 10px;
    height: 100%;
}

#sidenav-overlay {
    position: fixed;
    z-index: 997;
    top: 0;
    right: 0;
    left: 0;

    height: 120vh;

    background-color: rgba(0, 0, 0, .5);

    will-change: opacity;
}

.collapsible-body {
    display: none;
}

.collapsible .active .rotate-icon {
    -webkit-transition: all 150ms ease-in 0s;
    -o-transition: all 150ms ease-in 0s;
    transition: all 150ms ease-in 0s;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.side-nav.fixed {
    position: fixed;
    left: 0;

    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.side-nav.fixed.right-aligned {
    right: 0;
    left: auto;
}

@media only screen and (max-width: 1440px) {
    .side-nav.fixed {
        -webkit-transform: translateX(-105%);
        -ms-transform: translateX(-105%);
        transform: translateX(-105%);
    }

    .side-nav.fixed.right-aligned {
        -webkit-transform: translateX(105%);
        -ms-transform: translateX(105%);
        transform: translateX(105%);
    }
}


/*
    =REACTTOGGLESWITCH
----------------------------------------*/


.switch {
    display: inline-block;

    width: 50px;
    height: 26px;

    cursor: pointer;

    border: 1px solid #ccc;
    border-radius: 13px;
}

.switch-toggle {
    position: relative;
    left: 0;

    width: 25px;
    height: 24px;

    transition: left .2s ease-in-out;

    border: 1px solid #999;
    border-radius: 12px;
    background: white;
    box-shadow: 1px 1px 1px #ccc;
}

.switch.on {
    background: #00C2A2;
}

.switch.on .switch-toggle {
    left: 23px;
}

.switch.disabled {
    cursor: not-allowed;
}

.active-home-step {
    border-color: #00C2A2;
    background-color: #00C2A2;
}

section.pricing {
    background: #5e59ab;
}

.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.pricing .card-price {
    font-size: 3rem;
    margin: 0;
}

.pricing .card-price .period {
    font-size: 0.8rem;
}

.pricing ul li {
    margin-bottom: 1rem;
}

.pricing .text-muted {
    opacity: 0.7;
}

.pricing .nav-item .active {
    background: #dae0e5;
    color: black;
    font-weight: 700;
    border-radius: 20px;
}

.pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
    .pricing .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }

    .pricing .card:hover .btn {
        opacity: 1;
    }
}